[2013-07-16 20:30] samreid opened #1 "Code review"
Forces and motion: Basics is ready for code review.  Assigning to @pixelzoom for review as we discussed.

[2013-07-18 00:22] pixelzoom opened #2 "thumb on "Applied Force" slider is not centered on tick marks"
The arrow buttons on the "Applied Force" slider change the value by +-50.  Two issues:

(1) The minor tick marks should be taller than the thumb, so you can see the tick marks when the slider is over them.

(2) The thumb is not centered on the tick marks. For example, use the 'right' arrow button to set the force to 250 and you'll see that the thumb is slightly to the left of where it should be.

[2013-07-26 14:26] ycarpenterphet opened #3 "Menu button on navbar or homescreen becomes inactive"
Mac OSX 10.8
FAMB v0.0.0-45

If you use the menu button in one screen (homescreen or any of the sim content screens) and then try to use the same menu button again later, the menu button is no longer active/clickable in Chrome (28.0.1500.71) or Safari (6.0.5 (8536.30.1)). The hand icon still appears, but the menu does not consistently open.

No problem is observed in Firefox (22.0).

[2013-07-26 18:54] ariel-phet opened #4 "Pullers do not stay leaned back when "pause" button is pressed"
On the Tug of War screen the pullers stand up when the pause button is pressed, they should remain in the "pulling" state so that it does not look like they are being reset to no force.

[2013-08-07 02:14] ariel-phet opened #5 "Checkboxes should have white as the fill color"
The checkboxes should have white as the fill color

[2013-08-07 02:19] ariel-phet opened #6 "Mouse drag handling bug when cursor brought off sim screen"
Link tested:

http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/0.0.0-47/forces-and-motion-basics.html

Occurs on all Win 7 browsers

To repeat, resize the window to less than your screen size. Grab the pusher and push or pull, or grab one of the objects. Withe the mouse button clicked drag outside of the sim onto your desktop, release the mouse button and the sim still thinks

[2013-08-09 06:52] samreid opened #7 "Problems with tweakers"
Trish reported: On tab 2, if you use the tweakers – see attached image
        a.        when the speed hits a max, the guy falls off but the force vector indicates a force is being applied.
        b.      Sometimes the negative or positive part of the slider turns colored as if to be a visual reminder of positive or negative force is being applied, but it does not always appear. It seems like it

[2013-08-09 08:12] #5 closed, assigned to nobody

[2013-08-09 08:13] #4 closed, assigned to nobody

[2013-08-09 15:49] ariel-phet opened #8 "Trash can misalignment, and slight slider knob misalignment"
Name: Forces and Motion: Basics
URL: http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics
The trash can is slightly off center when placed on the fridge and the crate.

The slider knob is also not perfectly centered on the "0" tick mark

/0.0.0-49/forces-and-motion-basics.html
Version: 0.0.0-49
Features missing: touch
User Agent: Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/53

[2013-08-09 16:04] #7 closed, assigned to samreid

[2013-08-09 17:35] samreid opened #9 "Where to put image loader and strings?"
In the review #1 , @pixelzoom said:

"One other issue, which I'll add here instead of a separate ticket. I think we should have a standard place for imageLoader.js and Strings.js that is not directly under js/. And I would prefer to see these files have sim-specific names. My reason for both of these is that common-code repos will also have images and strings, and we should be thinking about avoid

[2013-08-09 17:37] #1 closed, assigned to samreid

[2013-08-10 02:08] #6 closed, assigned to jonathanolson

[2013-08-11 18:13] ycarpenterphet opened #10 "logo appears tiny relative to menu button in Firefox"
Mac OSX 10.8.4
Firefox 22.0 and Firefox 23.0
http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/0.0.0-48/forces-and-motion-basics.html

The new PhET logo in the menu button (both on the homescreen and in the sim itself) appears at about 1/4 size compared to its appearance in Chrome. This also occurs for the latest build of Balloons and Static Electricity (0.0.0-13)

![screensho

[2013-08-14 14:33] samreid opened #11 "The pusher should start to the left of the object"
Kathy said:

I was playing with Force and Motion: Basics, and was wondering if there was a reason the pusher man started to the right of the skate board? It seems more natural to me to have him start to the left of the skateboard so that a push to the right (positive force) is sort of more naturally the first push and doesn't involve him switching sides.

That said, I haven't been following all of

[2013-08-14 16:36] #11 closed, assigned to samreid

[2013-08-14 18:37] patricialoeblein opened #12 "Go button can disappear - not a major bug just watch for phethelp reports"
I had an odd bug - the "go" button disappeared once. See attached. I cannot reproduce it. I was clicking all over the place - moving guys out of the screen , flipping on and off the Show boxes, letting someone win and then changing situations, etc. The button vanished. I waited a bit to see if it was a performance issue before I hit Reset. The button did not re-appear until I Reset. I some time tr

[2013-08-14 23:27] ariel-phet opened #13 "Animation a bit jerky on motion screens"
On the Motion screens the performance is a bit jerky on several platforms...

iPad3 browser Safari 6.0, iOS 6.0(10A403)

And latest Win 7 Chrome and IE10

[2013-08-15 06:10] ariel-phet opened #14 "Pusher gets displaced oddly in IE 10"
To repeat in IE10 on the motion tab, Put slider to 500 N, then to -500N then back to 500 N.

Name: Forces and Motion: Basics

URL: http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/1.0.0-rc4/forces-and-motion-basics.html

Version: 1.0.0-rc4

Features missing: touch, webgl, fullscreen

Flags: msPointerEnabled

User Agent: Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.1; WOW6

[2013-08-15 17:16] krhensberry opened #15 "Stacked objects go off-screen"
When stacking three larger objects, they tend to go off screen. See attached screenshot.
![screen shot 2013-08-15 at 11 03 29 am](https://f.cloud.github.com/assets/5086248/969979/25b90a54-05ce-11e3-8a10-45246d48f70a.png)

Name: Forces and Motion: Basics
URL: http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/1.0.0-rc4/forces-and-motion-basics.html
Version: 1.0.0-rc4
Features mi

[2013-08-15 17:27] krhensberry opened #16 "Objects not returning to box properly."
I stacked three objects, PhET girl, fridge, and bucket of water. When I added the man, and PhET girl was 'kicked back' to the box at the bottom of the screen, she did not go all the way inside the box... she floated on the boarder until I clicked her - at which point she went back into the box. Screenshot attached.

![screen shot 2013-08-15 at 11 11 17 am](https://f.cloud.github.com/assets/5086248

[2013-08-15 19:06] ariel-phet opened #17 "Motion Screens are missing "road" on IE9"
There is not "road" for in IE9, see screenshot

Name: Forces and Motion: Basics

URL: http://phet.colorado.edu/sims/html/forces-and-motion-basics/1.0.0-rc4/forces-and-motion-basics_en.html

Version: 1.0.0-rc4

Required features missing: cssgradients, applicationcache

Features missing: cssgradients, applicationcache, flexbox, cssanimations, csstransforms3d, applicationcache, history, webworkers, w

[2013-08-15 19:37] #15 closed, assigned to nobody

[2013-08-15 20:41] #14 closed, assigned to samreid

[2013-08-16 01:36] jonathanolson opened #18 "Key animation progress based on elapsed time, not number of frames"
The animation's progress is dependent on the frame rate. It's much slower on the Nexus 7 than desktop Chrome, and if a browser in the future limits frames at 120fps, it will go significantly faster.

[2013-08-16 17:40] pixelzoom opened #19 ""Pause" button label overflows surface of the button"
http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/1.0.0-rc4/forces-and-motion-basics.html
Observed on Mac OS with Safari, Firefox and Chrome. Likely a problem on all platforms.

See screenshot below. The "Pause" button has a 3D look, and the text is flowing off the face of the button and onto the beveled edge. Not a serious issue, but attention to detail.

![pause-button](http

[2013-08-16 17:48] pixelzoom opened #20 "usability of check boxes could be improved on tablets"
http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/1.0.0-rc4/forces-and-motion-basics.html
All tablets.

This sim has a number of control panels containing check boxes in a vertical layout. Usability on tablets could be improved by adding some vertical space between them, and increasing the vertical height of their touch areas. This is especially true on Nexus 7 (and I suspect

[2013-08-16 17:53] pixelzoom opened #21 "Applied Force slider thumb gets disconnected from cursor"
http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/1.0.0-rc4/forces-and-motion-basics.html
All platforms.

Steps to reproduce.
1. Go to the "Acceleration" tab.
2. Grab the "Applied Force" slider thumb.
3. Drag is to the far right, but keep moving your pointer to the far right of the play area.
4. Without releasing the pointer, start moving your pointer to the left. You'll see t

[2013-08-16 18:06] pixelzoom opened #22 "cruft on the track"
http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/1.0.0-rc4/forces-and-motion-basics.html
All platforms.

There are what looks like garbage pixels on the top of the track. See screenshot below. Is this intentional?

![track-cruft](https://f.cloud.github.com/assets/3046552/977191/82bd237c-069e-11e3-961b-1eba12011da7.jpg)

[2013-08-16 18:27] #22 closed, assigned to nobody

[2013-08-16 18:33] samreid opened #23 "Exception on IE9 on Sauce Labs"
[code]

the line that is erroring is in Howler.js and says "new Audio"

[2013-08-16 18:46] pixelzoom opened #24 "pusher is sometimes shown as a smaller image"
http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/1.0.0-rc4/forces-and-motion-basics.html
Mac OS 10.8.4 + Firefox 23.0

When dragging the pusher in any of the tabs (Motion, Friction, Acceleration), it sometimes appears as a smaller image.  Just grab him and start moving him around, it happens consistently.  Sometimes he's as much as half the normal size.

[2013-08-16 19:03] pixelzoom opened #25 "performance is poor on Nexus 7"
http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/1.0.0-rc4/forces-and-motion-basics.html
Android 4.3
Firefox 23
Chrome 28.0.1500.94

Sim is frustrating to use, to the point of being unusable. Friction slider is especially bad.

[2013-08-16 19:09] pixelzoom opened #26 "tick intervals on Applied Force slider don't match interval of tweaker buttons"
http://phet.colorado.edu/sims/html/forces-and-motion-basics/1.0.0-rc4/forces-and-motion-basics_en.html
All platforms.

The tweakers move in intervals of 50, and the ticks are at intervals of 125.  So when using the tweakers, the slider thumb is rarely on a tick mark, as in this example:

![tick-intervals](https://f.cloud.github.com/assets/3046552/977619/5b8b22e6-06a7-11e3-9349-1f748173e5ac.jpg)

I

[2013-08-16 19:16] pixelzoom opened #27 "console output on startup"
http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/1.0.0-rc4/forces-and-motion-basics.html
All platforms.

1680 33 MovingBackgroundNode.js?1376680544510:108
1680 33 MovingBackgroundNode.js?1376680544510:108
1680 33 MovingBackgroundNode.js?1376680544510:108

[2013-08-16 19:28] pixelzoom opened #28 "pusher get turned around, pushing in the wrong direction, and cursor position is wrong"
http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/1.0.0-rc4/forces-and-motion-basics.html
Win7 + IE 9.0.8112.16421

Steps to reproduce:
1. Go to the "Motion" screen
2. Drag the pusher to the left and right of the box.
3. The pusher will consistently get in the odd state shown in the screenshot below, where he's pushing in the wrong direction.
4. Release the pointer and he'll r

[2013-08-16 19:34] #28 closed, assigned to nobody

[2013-08-16 20:25] #10 closed, assigned to nobody

[2013-08-16 20:26] #16 closed, assigned to samreid

[2013-08-16 20:27] #18 closed, assigned to nobody

[2013-08-16 20:28] #19 closed, assigned to samreid

[2013-08-16 20:28] samreid opened #29 "Finalize i18n"
For Phase 1, i18n wasn't fully tested or implemented, see for example: https://github.com/phetsims/forces-and-motion-basics/issues/19

[2013-08-16 20:28] #21 closed, assigned to samreid

[2013-08-16 20:36] #27 closed, assigned to samreid

[2013-08-16 21:15] ariel-phet opened #30 "Slider Knob Displaces vertically when tweakers are used on FF 23.0"
To repeat, increment or decrement the tweaker, the slider knob on applied force will move down slightly and then recenter.

http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/1.0.0-rc5/forces-and-motion-basics.html

Name: Forces and Motion: Basics

URL: http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/1.0.0-rc5/forces-and-motion-basics.html

Version: 1.0.0

[2013-08-16 21:48] #26 closed, assigned to ariel-phet

[2013-08-16 23:29] jonathanolson opened #31 "Occasionally hangs on the loading screen for IE9"
Couldn't reproduce for BLL or other multi-tab sims either. It is most likely related to loading order of resources.

![famb-ie9-load-fail](https://f.cloud.github.com/assets/480878/978866/b561dac0-06cb-11e3-9dff-712ae743646e.PNG)

[2013-08-17 00:49] #2 closed, assigned to ariel-phet

[2013-08-17 00:50] #3 closed, assigned to ariel-phet

[2013-08-17 00:51] #8 closed, assigned to ariel-phet

[2013-08-20 19:08] samreid opened #32 "on IE9 sometimes characters get stuck facing to the right"

[2013-08-20 20:37] samreid opened #33 "on iPad the girl doesn't animate smoothly to the center of the screen"

[2013-08-20 21:22] #31 closed, assigned to jonathanolson

[2013-08-20 23:28] #32 closed, assigned to samreid

[2013-08-20 23:31] #33 closed, assigned to samreid

[2013-08-20 23:34] samreid opened #34 "The slider "tweaker" buttons should be disabled when no object is in the play area"
The slider "tweaker" buttons should be disabled when no object is in the play area.

[2013-08-20 23:43] #34 closed, assigned to samreid

[2013-08-21 06:10] samreid opened #35 "Improve the performance of dragging objects on screens 2-4"
Dragging objects on screens 2-4 is getting smoother, but looks like it could still be optimized a bit.

[2013-08-21 15:29] samreid opened #36 "White line appears above the grass"
You can see a thin white line above the grass in Win8/Chrome:

![white-line](https://f.cloud.github.com/assets/679486/1002064/6ce10074-0a76-11e3-8b3e-5f8623874c32.png)

[2013-08-21 17:17] samreid opened #37 "When applying a force with tweakers and removing an object, the forces remain"
When applying a force with tweakers and removing the last object, the forces remain.  They should go to zero when the objects are removed.

[2013-08-21 17:19] #20 closed, assigned to ariel-phet

[2013-08-21 17:21] #17 closed, assigned to ariel-phet

[2013-08-21 17:29] samreid opened #38 "Sometimes the man image is rendered incorrectly in Firefox"
See image:
![screenshot-9](https://f.cloud.github.com/assets/679486/1003043/2c924b34-0a87-11e3-8a40-ce07359ca17f.png)

Canvas seems to fix it, but makes things look pretty jagged.

[2013-08-21 19:21] #35 closed, assigned to nobody

[2013-08-21 19:24] #30 closed, assigned to samreid

[2013-08-21 20:36] #36 closed, assigned to samreid

[2013-08-21 20:41] #37 closed, assigned to samreid

[2013-08-23 19:38] samreid opened #39 "Can we improve performance by slowing the clouds?"
@ariel-phet & I discussed slowing the clouds to improve performance.  My idea was that if they don't have to be updated on every frame, it would speed things up.

[2013-08-26 16:47] #39 closed, assigned to ariel-phet

[2013-08-30 02:39] samreid opened #40 "On Win8/Firefox Motion tab performance gets choppy if you mouse over/off an interactive object rapidly"
Today Ariel pointed out that: On Win8/Firefox Motion tab performance gets choppy if you mouse over/off an interactive object rapidly.  I reproduced this problem on my machine.

[2013-08-30 13:15] samreid opened #41 "Can performance be improved significantly by removing the clouds?"
Surely performance will be improved by removing the clouds, but will it be improved enough to make it worthwhile?

[2013-08-30 13:32] samreid opened #42 "Only update the pusher if he is within a certain distance of the skateboard"
To improve performance, we could skip updating the pusher if he is too far away to be seen.

[2013-08-30 21:18] samreid opened #43 "Fix Pusher location after refactoring"
PusherNode had good refactors in 9b01e6c850a2b1b662e8c0bf98ded694346bf801 which also solved a firefox problem (and performance issue), but it still needs to have its position fine-tuned

[2013-09-03 20:28] samreid opened #44 "Can performance be improved by rendering the ground with shapes instead of images?"
Can performance be improved by rendering the ground with shapes instead of images?

[2013-09-04 15:47] samreid opened #45 "Strobing in Tab 4"
When the object is going full speed in tab 4 on iPad3, the ground exhibits a 'strobing' effect, making it look like it slows down and goes backwards.

[2013-09-07 18:57] #44 closed, assigned to samreid

[2013-09-07 18:57] #43 closed, assigned to samreid

[2013-09-07 18:57] #42 closed, assigned to samreid

[2013-09-07 19:33] #24 closed, assigned to samreid

[2013-09-07 19:59] samreid opened #46 "On Firefox, the clouds and mountains disappear and don't come back"
On Win8/Firefox as well as Win8/Aurora, after the clouds and mountains scroll off of the screen, they never reappear on the other side.  But if you resize the browser window, then they reappear!

[2013-09-07 20:01] #41 closed, assigned to ariel-phet

[2013-09-08 03:18] #29 closed, assigned to nobody

[2013-09-08 09:39] samreid opened #47 "Improve performance of the friction slider"
The friction slider is very sluggish on all platforms.  One way to optimize it would be to reuse the gravel node and incrementally add or subtract gravel bits based on the friction delta, instead of recreating the gravel node from scratch any time the friction changes.

[2013-09-08 22:25] #13 closed, assigned to ariel-phet

[2013-09-08 22:34] samreid opened #48 "If the speed is maximized on the motion tab, you can still apply a force in that direction by dragging the pusher"
If the speed is maximized on the motion tab, you can still apply a force in that direction by dragging the pusher.  Affects all platforms.

[2013-09-09 00:49] #48 closed, assigned to samreid

[2013-09-09 20:48] samreid opened #49 "Pullers snap to the wrong location on OSX/Safari"
When dropping a blue puller in the tug of war tab onto a yellow circle, it snaps to the left side of the rope instead of the desired location.  Pressing 'go' causes it to go the correct location.

[2013-09-17 19:17] oliver-phet opened #50 "Present "50kg" blurry rendering on Chrome/Win7 and Safari&Chrome/Mac"
Tested on Chrome/29.0.1547.66, Windows NT 6.1. Text is NOT blurry on Firefox 24, or IE10.

![forces and motion basics 1 0 0-rc16 - google chrome_-09-17_13-13-19](https://f.cloud.github.com/assets/5090275/1159846/9c4efbe2-1fcd-11e3-9e57-ed10bc53a699.png)

[2013-09-25 03:47] samreid opened #51 "Write as '50 N' instead of '50N'"
From the beta testing: "A space should be inserted between the numerical value of the force (e.g. 50) and the symbol of its unit (N), i.e. it should read 50 N instead of 50N. 50 N can also be written as 50 newtons. In the simulation, however, it is written 50 Newtons. See http://en.wikipedia.org/wiki/Newton_(unit)"

[2013-09-25 03:51] #9 closed, assigned to pixelzoom

[2013-09-25 03:51] #38 closed, assigned to nobody

[2013-09-25 03:51] #46 closed, assigned to nobody

[2013-09-25 03:52] #49 closed, assigned to samreid

[2013-09-25 03:52] #50 closed, assigned to nobody

[2013-09-25 03:52] #51 closed, assigned to nobody

[2013-10-03 01:08] ariel-phet opened #52 "Friction Vector Should Be Red and Labelled "Friction Force""
I am a little surprised it took me so long to notice, but the Friction vector should be labeled "Friction Force" and should be red as in the original sim. If you notice the icon has a red friction force but currently it appears as the same color as the applied force in

http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/1.0.0-rc.27/forces-and-motion-basics_en.html

all platform

[2013-10-03 01:46] samreid opened #53 "Shifty may be better for us than tween.js"
I had to fork tween.js to get it to work nicely with scenery.  Perhaps https://github.com/jeremyckahn/shifty may work better for us?

[2013-10-03 16:13] ariel-phet opened #54 "Test"
![emmydaintydown](https://f.cloud.github.com/assets/4051174/1262960/bfdc60ba-2c46-11e3-8e46-66abd88d6c2e.jpg)

This a cute picture of Emmy

Name: Gravity Force Lab

URL: http://phet.colorado.edu/sims/html/gravity-force-lab/latest/gravity-force-lab_en.html

Version: 1.0.0

Features missing: flexbox, touch

User Agent: Mozilla/5.0 (Windows NT 6.1; WOW64; rv:24.0) Gecko/20100101 Firefox/24.0

Languag

[2013-10-03 16:25] #54 closed, assigned to nobody

[2013-10-03 18:59] jessegarrison opened #55 "Pullers pop to right side of screen in Safari"
Took a while to figure out how to reproduce this.  If you put a puller on the rope, then take them off and move them up slightly to about here:
![screenshot1](https://f.cloud.github.com/assets/3269826/1264273/387cf640-2c5d-11e3-9c90-3dbcc55ea223.jpg)
they will pop to the right side of the screen.  After that the pullers seem to only go to the right side of the screen.
![screenshot2](https://f.clou

[2013-10-06 05:33] emily-phet opened #56 "Pullers appear pixelated in Tug of War Screen"
On iPad 3, with iOS 7, the all the pullers in the Tug of War screen - except the medium sized guy - look pixelated. Here's an example comparing the large puller with the medium puller.
![photo](https://f.cloud.github.com/assets/5109055/1276179/8491ca64-2e48-11e3-8f59-d96faeac420a.JPG)

Here's the sim info:

![photo 1](https://f.cloud.github.com/assets/5109055/1276181/892b25a2-2e48-11e3-9c86-40b0cd

[2013-10-06 05:44] emily-phet opened #57 "Toolboxes partially covered in all Screens - iPad3"
The top of the toolbox is covered in the upper right corner of all of the screens in the sim on iPad 3, iOS 7.
Here's a screenshot of the Tug of War screen. (noticed later that the top of the speedometer is covered also)

![photo 2](https://f.cloud.github.com/assets/5109055/1276194/52f137ea-2e4a-11e3-9d4f-efba0d315615.JPG)

Here's the sim's info

![photo 1](https://f.cloud.github.com/assets/510905

[2013-10-06 05:50] emily-phet opened #58 "Pauses in motion - iPad3"
The sims motion paused on multiple screens. In the Tug of War screen, the sim would pause shortly after the rope pullers started moving. The sim would start moving slowly, then would pause, and then start moving smoothly again. This didn't happen every time, but many times. Couldn't "make" it happen, sometimes it did and sometimes it didn't.

In the Motion screen, anytime the skateboard was moving

[2013-10-07 14:45] #23 closed, assigned to nobody

[2013-10-07 15:01] #52 closed, assigned to samreid

[2013-10-07 16:35] samreid opened #59 "Boxes don't sit perfectly centered on one another"
Boxes don't sit perfectly centered on one another.  I have seen this on multiple platforms

![boxes](https://f.cloud.github.com/assets/679486/1282128/48cd7ce0-2f6e-11e3-80bd-cee021a68848.png)

I don't think it is a big problem, but thought I'd write it down.

[2013-10-09 15:39] #59 closed, assigned to nobody

[2013-10-09 15:41] #55 closed, assigned to nobody

[2013-10-09 15:42] samreid opened #60 "Make sure tweening library uses Joist.setTimeout instead of its own animation loop"
For scenery input event recording & playback, we should make sure tweening library uses Joist.setTimeout instead of its own animation loop

[2013-10-09 15:43] #47 closed, assigned to nobody

[2013-10-09 15:44] #45 closed, assigned to nobody

[2013-10-09 15:50] #60 closed, assigned to nobody

[2013-10-09 15:50] #53 closed, assigned to nobody

[2013-10-09 16:43] #58 closed, assigned to nobody

[2013-10-09 16:45] #40 closed, assigned to nobody

[2013-10-10 18:01] jonathanolson opened #61 "Pause button not visible after removing pullers"
Seems like while the cart is still in motion that the pause button should be available.

Reproduce:
1st tab, add puller, press 'go', remove puller.

[2013-10-10 18:11] jonathanolson opened #62 "Go/pause button responds to 'down' events, and responds to multiple fingers at the same time"

[2013-10-10 19:16] jonathanolson opened #63 "Firefox 24 OS X 10.6.8 performance is abysmal"
Testing 1.0.0-rc.29 on the Big Mac

[2013-10-10 19:38] jonathanolson opened #64 "How does one push a crate on a zero-friction surface?"
Presumably the "pusher" should be pushing against the air, or have a jetpack?

(The pusher couldn't apply any horizontal force on the frictionless surface)

[2013-10-13 03:38] #56 closed, assigned to samreid

[2013-11-06 19:31] orejolaphet opened #65 "Selection for different component of the sim at the bottom of the screen can freeze"
Test device: IBM ThinkPad
Operating System: Windows 7 32-bit Operating System
Browser: Google Chrome
Problem description:
The selection for different components of the sim: Tug of War, Motion, Friction, and acceleration, can freeze. Once the selection tabs have frozen the only way to change between any different screen is through the home screen.

Steps to reproduce:
-Start up the sim
-Select "Tug

[2013-11-06 19:35] learnthinkteach opened #66 "Force Man pushes from the fallen down position"
Test device: iPad2
Operating System: iOS7
Browser: Mobile Safari 7

Problem description: Force Man pushes from the “fallen down” position for several seconds before standing up when the applied force tweaker is tapped after maxing out.

Steps to reproduce: Tap on the tweaker to apply force (I was using the one that points right), keep tapping rapidly/repeatedly after Force Man falls off the box.

[2013-11-06 20:19] orejolaphet opened #67 ""Tug of War" doesn't show the change in force vectors if you remove and hold a figurine."
Test device: IBM Think Pad
Operating System: Windows 7 32-bit
Browser: Firefox 25.0, Google Chrome, IE10
Problem description:
In "Tug of War" motion occurs ,but the force vectors do not change when you remove and hold on to a figurine.

Steps to reproduce:
-Start sim
-Select "Tug of War"
-Build a situation where there is zero net force.
-Select a figurine and hold on to it

It is seen that the mot

[2013-11-07 16:06] #61 closed, assigned to samreid

[2013-11-07 16:37] #62 closed, assigned to samreid

[2013-11-07 16:47] #65 closed, assigned to samreid

[2013-11-07 17:02] #66 closed, assigned to samreid

[2013-11-07 20:52] patricialoeblein opened #68 "Background shows motion when force appears to be zero"
Report a Problem

Please copy and paste the information below into an email to phethelp@colorado.edu, and then fill in the blanks.

Test device: Window 7 pro Laptop Trish

Operating System: Window 7 pro service pack 1

Browser: Chrome, Firefox, IE10

Problem description: On the acceleration tab, if you set the friction "lots"  with the bucket and use the arrows to increase the applied force, the f

[2013-11-07 22:26] #68 closed, assigned to nobody

[2013-11-07 23:59] #57 closed, assigned to nobody

[2013-11-08 16:33] samreid opened #69 "Crashes on iPad2/iOS7 during launch"
Quick summary of the status of iPad2/iOS7 crash for invested parties:

Trish tried FAMB rc.36 on her iPad2/iOS7 and it crashed.  Julia tested on her iPad2/iOS7 and didn't crash.  Ariel tried it on his iPad2/iOS6 and it didn't crash.  Ariel is updating to iOS7 and will try it again.

When Trish has access to an OSX machine + iPad usb cable, we can try tethering to see if any useful info comes to th

[2013-11-08 20:14] orejolaphet opened #70 "possible to have negative zero newtons"
Test device: IBM Think Pad
Operating System: 32-bit windows 7
Browser: Chrome
Problem description: The amount of newtons can be -0 momentarily.
Steps to reproduce:
Open the sim
In either, motion, friction or acceleration have the figurine on the left of the object.
Have the figurine push the object to the right then with out letting go push the object back to the left.
-0 Newtons is now achievable

[2013-11-10 20:05] samreid opened #71 "Use the new Joist navbar buttons"
We should make sure https://github.com/phetsims/joist/issues/88 is resolved before publishing the next release candidate.

[2013-11-11 18:07] #70 closed, assigned to orejolaphet

[2013-11-11 18:38] orejolaphet opened #72 "Rounding error for the numerical values of the "Sum of Forces""
Test device: Dell Latitude D830
Operating System: Windows XP
Browser: Google Chrome
Problem description:
Sum of the numerical values for the force vectors in acceleration, and friction can be rounded incorrectly and display incorrect values for the sum of the forces. Generally incorrect by a value of 1.
Steps to reproduce:
Open the sim
Select acceleration or friction
Check "Sum of Forces" and " Va

[2013-11-11 19:17] #67 closed, assigned to orejolaphet

[2013-11-12 23:29] phet-steele opened #73 "Forces to the left behave differently and inccorectly"
Test device: Lenovo Z585

Operating System: Windows 8

Browser: Firefox, Chrome, IE10

Problem description:

When any object is pushed to the left, at the instant the applied force is equal to the maximum static friction, there is an error where both the applied and friction force vectors are added to the left and creates a net force that causes the object to move. The instant after this happens,

[2013-11-13 18:38] orejolaphet opened #74 ""Friction force" values flash when you lower the friction."
Test device: Dell Latitude D830
Operating System: Windows XP
Browser: Google Chrome
Problem description:
Values for the "friction force" flash when you lower the friction in the friction screen of the sim. ie The Values for the "friction force" flash between 68N and 67N.

Steps to reproduce:
Open sim.
Select either friction screen or acceleration screen.
Select "Sum of Forces" and "Values"
Drag th

[2013-11-13 20:28] samreid opened #75 "Friction force values flicker"
The values for the "friction force" in the friction screen flash with a different values with a difference of one (ie. flashing 59N & 60N) if you lower the friction. The values of the "friction force" will begin to flash once the sum of forces is no longer zero and continuously apply more force. Discovered in #72 by @orejolaphet

[2013-11-13 20:29] #75 closed, assigned to samreid

[2013-11-13 20:29] #71 closed, assigned to samreid

[2013-11-13 20:32] orejolaphet opened #76 ""Sum of Forces" disappears when net force is zero while object is moving"
Test device: Dell Latitude D830
Operating System: Windows XP Service Pack 3
Browser: Google Chrome 30.0.1599.101 m
Problem description:
The "Sum of Forces" display disappears when the net force is zero while the object is moving. Even when the "Sum of Forces" and "Values" boxes are checked.

Steps to reproduce:
Open sim.
Select the "friction" screen.
Check "Values" and "Sum of Forces"
Apply enough

[2013-11-13 20:55] #73 closed, assigned to phet-steele

[2013-11-14 21:30] #74 closed, assigned to orejolaphet

[2013-11-15 17:16] #76 closed, assigned to orejolaphet

[2013-11-15 19:05] orejolaphet opened #77 "Changing the "Friction" causes forces to the left to flash incorrect "Sum of Forces""
Test device: IBM ThinkPad
Operating System: Windows 7
Browser: Google Chrome
Problem description:
Changing the "Friction" causes forces to the left to flash incorrect "Sum of Forces" for a brief moment once you reach the maximum of the "Friction Force"

Steps to reproduce:
Open the sim.
Select either the "Friction" screen or "Acceleration" screen.
Check "Sum of Forces" and  "Values"
Either lower o

[2013-11-15 19:06] #69 closed, assigned to ariel-phet

[2013-11-15 19:11] #12 closed, assigned to patricialoeblein

[2013-11-15 19:19] #72 closed, assigned to orejolaphet

[2013-11-15 20:23] orejolaphet opened #78 "Cluttered Screen"
Potential for a cluttered screen when one checks "Values" and "Masses".
In particular the values of the "Friction Force" and "Masses can be covered", and also the smaller vector can be hidden.

![forces_motion_1 0 0-rc 48clutteredscreen2](https://f.cloud.github.com/assets/5631059/1553303/8dc6a510-4e31-11e3-8e82-74b51454c411.png)

[2013-11-16 22:16] learnthinkteach opened #79 "No sound on iPad2"
Test device: iPad 2
Operating System: iOS7
Browser: Mobile Safari 7

Problem description: no sound on iPad 2

Steps to reproduce: In the tug of war screen with sound enabled, no sound comes out.  I confirmed that my device was producing sound for video playback (ie, it was not muted on the device).

Severity: Medium / Low?  It does not affect the performance and the sim has other feedback for red

[2013-11-16 22:24] learnthinkteach opened #80 "Strange looking layering: Man is behind bucket but in front of box when moved around."
Test device: iPad 2
Operating System: iOS7
Browser: Mobile Safari 7

Problem description: Layering of images looks weird in the acceleration screen: Man is behind the water and bucket but in front of the box.

Steps to reproduce: In the Acceleration screen, move the bucket onto the box, then move the man behind the bucket (see screenshot).

Severity: Does not affect the performance, it just looks

[2013-11-16 22:28] learnthinkteach opened #81 "Man's hands are not the same color as his face"
I noticed that the man's hands match the girls hands in skin tone, rather than matching his face tone.  Probably would be culturally sensitive to change.

Because his hands are in his pockets, it's only noticeable when he's holding something.

![2013-11-15 22 28 33](https://f.cloud.github.com/assets/5091998/1557299/405aa1cc-4f0e-11e3-8287-ccd4bb5874f5.png)

Troubleshooting info is identical to iss

[2013-11-18 18:46] orejolaphet opened #82 "Lower boundary of screens do not fit iPad 3 screen when held vertically."
Test device: iPad 3rd generation
Operating System: iOS 7.0.2
Browser: Mobile Safari 7
Problem description:
The lower boundary of the sim's screen does not fit the whole screen of the iPad.

Steps to reproduce:
Open the sim.

Severity:
Minor. Purely ascetic
Screenshots:
![forces_motion_1 0 0-rc 48ipadscreenfit](https://f.cloud.github.com/assets/5631059/1565599/ab681e08-5081-11e3-9d65-2edc542bf72f.p

[2013-11-18 20:22] #79 closed, assigned to nobody

[2013-11-18 20:54] orejolaphet opened #83 "Sum of Forces Flash if you hold down the arrow increment for the applied force."
Test device: IBM ThinkPad
Operating System: Windows 7
Browser: Google Chrome
Problem description:
The "Sum of Forces" flash a vector with 50 N while you hold down the arrow increment. There should not be a "Sum of Forces" vector at all because the object remains stationary.

Steps to reproduce:
Open sim.
Select the friction screen.
Select the refrigerator (for ease of reproducing the bug).
Check t

[2013-11-20 01:05] #64 closed, assigned to nobody

[2013-11-20 07:29] ycarpenterphet opened #84 "Text on girl's shirt is backwards when travelling to the right"
Test device: MacBook Pro
Operating System: OSX 10.7.5
Browser: Chrome or Firefox (any)

Problem description: Anytime the girl is pushed or travelling towards the right side of the screen, mirroring of her shirt text occurs. Not really noticeable when she is travelling, but becomes obvious when she is lifted off the travelling item (see screenshot).

Steps to reproduce: Push the girl towards the ri

[2013-11-20 22:26] #80 closed, assigned to learnthinkteach

[2013-11-20 22:32] #81 closed, assigned to learnthinkteach

[2013-11-20 23:39] #83 closed, assigned to orejolaphet

[2013-11-20 23:40] #77 closed, assigned to orejolaphet

[2013-11-20 23:51] #78 closed, assigned to ariel-phet

[2013-11-21 04:14] #84 closed, assigned to ariel-phet

[2013-11-21 04:24] #82 closed, assigned to nobody

[2013-11-21 18:15] pixelzoom opened #85 "<title> in FAMB rc50 initially says 'undefined 1.0.0-rc.50'"

[2013-11-22 20:30] ycarpenterphet opened #86 "Graphics quality low in Firefox on Mac OSX"
Test device: Macbook Pro (Retina, Mid-2012)

Operating System: Mac OSX 10.9

Browser: Firefox 25.0.1

Problem description: Poor graphics quality -- Lines on some graphics appear choppy and jagged when rendered in Firefox.

This is especially obvious for the man and girl in Motion, Friction, or Acceleration; also noticeable with the garbage can and water bucket.

On the same device, lines appear sm

[2013-12-02 20:43] orejolaphet opened #87 "Screen selection icons do not match the actual sim."
I spoke with @ariel-phet and this issue will not suspend release, and is of very low priority, but this should be brought to attention. That is, the images for the screen selection icons do not match those of the actual sim.

Screen Selection Icons:
![image](https://f.cloud.github.com/assets/5631059/1658354/ee344b2e-5b91-11e3-80ef-2329cda1dfa1.png)
![image](https://f.cloud.github.com/assets/563105

[2013-12-02 23:26] #85 closed, assigned to samreid

[2013-12-04 18:53] orejolaphet opened #88 "Left side small figurines in "Tug of War" jump back in location on the rope when clicked."
Test device: MacBook Pro
Operating System: 10.7
Browser: Google Chrome
Problem description:
In the "Tug of War" screen of the sim; the small blue left hand side figurines jump back in location on the rope when clicked.

Steps to reproduce:
Open the sim
Select "Tug of War"
Drag one of the smallest blue figurines to the section of the rope closest to the cart
Click on the figurines hands

The figuri

[2014-03-14 04:45] samreid opened #89 "undefined in derived property"
See https://github.com/phetsims/axon/issues/21 for original report

@jonathanolson reported:

FAMB is throwing an assertion for:

[code]

in GoPauseButton.The last line causes setVisible( undefined ) to be called, because the derived property is undefined (hasn't been initialized yet).

It looks like the problem is that the derived property is returning undefined. It should be returning something,

[2014-03-18 13:40] oliver-phet opened #90 "User reported issue: "?" mass on present in motion screen"
Reported by Laura Mar 17, 2014

Hello,
I wanted to let you know that on Force and Motion Basic the mass of the present is a ? mark. This makes for a great lab, However on the HTML version they actually put the mass. This messes up the ability to get them to infer after doing the rest of the lab.
Can you change it on HTML5 version?
Thanks for your help.
I have a lab I created but I added some from

[2014-04-01 05:16] ariel-phet opened #91 "Renaming "Tug of War" Screen"
A teacher reported that since this situation is not an actual "tug of war" with a massless rope it can perpetuate some confusions about Newton's 3rd law. After some consideration, I think it would be worth reconsidering the name. Perhaps to simply "net force" or such. We should change the name when we republish the sim next.

[2014-06-06 22:08] jonathanolson opened #92 "Derived property function doesn't return anything"
In GoPauseButton.js:

[code]

So what happens is:
1. The goPauseButton (which is a reference for 'this' under the closure) gets its visibility set properly.
2. The derived property gets its value set to undefined (the function doesn't return the value).
3. this.visible = undefined is triggered (only on the first time, since the property doesn't change in value after this), triggering a Scenery ass

[2014-06-13 18:22] oliver-phet opened #93 "friction force does not decrease to kinetic friction after max static friction is overcome"
Report a Problem
Please copy and paste the information below into an email to phethelp@colorado.edu, and then fill in the blanks.

Test device: iPads

Operating System: ios7

Browser: Safari

Problem description: friction force does not decrease to kinetic friction after max static friction is overcome

Steps to reproduce:

Severity: important concept that simulation should be illustrating

Screen

[2014-06-30 05:28] samreid opened #94 "Objects never arrive in the toolbox"
If you observe the position property of an object when you drop it in the control panel, you will see that its position keeps changing and it never arrives there.  This is probably a performance problem.

[2014-07-06 00:31] #92 closed, assigned to samreid

[2014-07-29 20:51] pixelzoom opened #95 "website thumbnail is not checked in"
It should be assets/forces-and-motion-basics-128.png

[2014-08-12 19:10] #93 closed, assigned to nobody

[2014-08-21 22:43] orejolaphet opened #96 "Objects spawn before background"
Test device: ASUS
Operating System: win 8 64-bit
Browser: FF 31.0
Problem description:
When changing between screens objects spawn before background spawns.

Severity: High. This is a published sim on our html page.
Screenshots:
![espb](https://cloud.githubusercontent.com/assets/5631059/4004650/9331a9f8-2984-11e4-860e-3fada7ace71f.png)

Troubleshooting information (do not edit):

Name: Forces and

[2014-08-25 15:03] samreid opened #97 "Check in original artwork for the pullers"
I noticed the original artwork for the pullers (by Sharon) is missing.  Perhaps @ariel-phet can look into it?

[2014-08-27 17:52] acheetham opened #98 "Accessibility: moving tug-of-war puller causes error"
When the keyboard is used to move a tug-of-war puller up to the rope (by tabbing to the puller and pressing Enter), an error occurs trying to set the new position of the puller. It looks like a bug in the accessibility peer, where the call to puller.set() is passing the information in the wrong form. See PullerNode.js, this.addPeer()'s click handler.

[2014-08-27 18:14] #98 closed, assigned to nobody

[2014-09-29 19:54] pixelzoom opened #100 "ArrowButtons are created with options that don't exist"
In MotionView, ArrowButtons are created with options rectangleYMargin and rectangleXMargin. There are no such options to ArrowButton or its supertype.  You're probably looking for xMargin and yMargin.

Line 126:

[code]

Line 135:

[code]

[2014-10-16 18:32] samreid opened #101 "Other assets missing?"

[2014-11-17 16:45] samreid opened #102 "Prepare for 1.1.0 dev testing"
@ariel-phet proposed:

[2014-11-17 16:55] #100 closed, assigned to nobody

[2014-11-17 17:01] #97 closed, assigned to samreid

[2014-11-17 17:12] #95 closed, assigned to pixelzoom

[2014-11-17 17:13] #94 closed, assigned to nobody

[2014-11-17 17:16] #91 closed, assigned to samreid

[2014-11-17 17:17] #90 closed, assigned to nobody

[2014-11-17 17:22] #89 closed, assigned to nobody

[2014-11-17 18:55] #87 closed, assigned to samreid

[2014-11-18 03:35] samreid opened #103 "Investigate WebGL support"
Performance is still a bit sluggish on firefox and iPad. Can this be improved with WebGL?

[2014-11-18 03:35] samreid opened #104 "Unify the slider look + feel + implementation"
FAMB uses a custom slider because it was written before (or at the same time) as our modern slider was being developed. It has custom features like being able to gray out half of the slider track, but it would be good to unify this as much as possible with the look + feel + implementation of our main slider.

[2014-11-18 18:43] bryo5363 opened #105 "Sim performance is severely affected when clicking on "pushed" objects"
Test device: MacBook Pro

Operating System: 10.8.5

Browser: Chrome 37.0.2062.120

Problem description: When clicking objects that the pushing man exerts a force on, the performance of the simulation is affected

Steps to reproduce:
-open sim
-go to acceleration
-switch the box to the man and the water bucket
-while the pushing man exerts a force on the system, click the man or the water bucket re

[2014-11-18 19:02] phet-steele opened #106 "Force Man appears and slides along the ground with an object"
Seen on 1.1.0-rc.1 in Windows 8.1 (FF, Chrome, IE11). The force man will appear next to an object and continue to slide along the ground with the object.
Steps:
1. Go to either screen with friction as an option.
2. Slide friction to zero, all the way to the left.
3. Push (in either direction) until you can't push anymore and the object is moving at max speed.
4. Once the now laying down force man

[2014-11-18 19:11] orejolaphet opened #107 "Flashing "Applied force" and "Friction information" FF only"
Slow performance if you rapidly click an one single object on the track for the "Motion" "Acceleration" and "Friction" screens. The Applied force and Friction information flash between being highlighted and not, rapidly after being clicked rapidly.

OSX 10.9.4
FF 33.1.1
To reproduce:
-Open sim
-Select any of the scenes with tracks (Acceleration, Motion, Friction)
-Place a single object on the trac

[2014-11-18 20:01] phet-steele opened #108 "Backwards Sliding"
If either the girl or man are placed on an object that is already moving to the right, they will not change the way they are facing and will continue to face towards the left. This is in contrast with first placing the girl or man then applying force where the two will then turn to face to the right. This ends up looking strange when the girl or the man are the only object on the track and are sli

[2014-11-18 20:08] phet-steele opened #109 "Chrome lag on cursor change"
This sim suffers greatly from phetsims/scenery/issues/275 even now with Chrome 39.

[2014-11-19 21:12] #102 closed, assigned to samreid

[2014-11-20 20:03] samreid opened #110 "Improve support for accessibility"
Jonathan Hung pointed out a number of issues that could be improved for accessibility.  Here is the original report, from Nov 13

Hi everyone,

Anastasia and I did a quick keyboard accessibility walkthrough of the latest tug-of-war game in the "Forces and Motion Basics" PHeT simulation, with the developer "accessibility flag" enabled.

* Link to github version (the version we tested)
* Link to pro

[2014-11-20 21:35] samreid opened #111 "More internal should be renamed "tug of war" to "net force""
I noticed a few files still need to be renamed to "net force".

[2014-12-12 17:11] #111 closed, assigned to samreid

[2014-12-22 21:10] pixelzoom opened #112 "value for layoutBounds duplicated in 2 places"
In MotionView and NetForceScreenView:

This belongs in either a constants file, or a supertype.

Also a little odd is that one of these types has 'View' suffix, while the other is 'ScreenView'.

[2014-12-27 15:33] samreid opened #113 "Forces and Motion: Basics now requires scenery ohtwo to build or run"
Forces and Motion: Basics is being used as a test harness for developing accessibility features in scenery ohtwo, and now requires scenery ohtwo to build.  Just announcing this to other developers.   If this proves problematic, we can add dynamic checks into famb to check for the things it needs.

[2014-12-28 05:19] #113 closed, assigned to nobody

[2014-12-31 15:54] #112 closed, assigned to pixelzoom

[2015-01-24 00:54] samreid opened #115 "remove TEMPORARY SCENERY WORKAROUND"
Scenery currently has an issue that crashes the sim in certain circumstances if opacity is used.  I am commenting out those parts so I can continue developing in master and marking them with

[code]

When the issue in scenery is fixed, the workarounds can be removed.

[2015-01-27 17:50] jonathanolson commented on #115
Please try removing the workaround, I believe it should be fixed.

[2015-01-27 20:45] samreid commented on #115
Looks great @jonathanolson, nice work!

[2015-01-27 21:58] #115 closed

[2015-01-30 16:32] ariel-phet commented on #110
Closing this issue since FAMB and keyboard nav are an ongoing effort to which @samreid is regularly contributing.

[2015-01-30 16:32] #110 closed

[2015-02-01 06:10] samreid commented on #110
By the way, the NVDA problem mentioned above has a solution well known by NVDA users.  Called something like "application mode" it enables space+enter to behave like normal.  Learned about this through Colin, and email threads should elaborate if necessary.

[2015-02-02 21:28] pixelzoom opened #116 "debug output in PullerNode"
Did know if you wanted this to be enabled

PullerNode line 92:

[2015-02-02 22:26] jonathanolson opened #117 "Failure dragging puller (PropertySet related)"
Calls PropertySet.prototype.get.call( this ) for Item.js line 70. Fails on 2nd screen trying to drag the puller.

@samreid and @pixelzoom, was there an Axon change where this call was missed?

[2015-02-04 01:01] samreid commented on #116
Fixed, closing.

[2015-02-04 01:01] #116 closed

[2015-02-04 01:05] samreid commented on #117
I couldn't reproduce the crash, but I think get=>getValues in PropertySet.  I'll rename it here.

[2015-02-04 01:06] samreid commented on #117
Fixed in 741e488a28afedbc7181b9156708bdf10060dfe5  But can @jonathanolson double check this since I was never able to create the crash situation?

[2015-02-04 02:37] jonathanolson commented on #117
Works well now, closing. Thanks!

[2015-02-04 02:37] #117 closed

[2015-02-13 01:22] pixelzoom opened #118 "focusable:true should be set in sun.ToggleNode"
FAMB.GoPauseButton is a subtype of sun.ToggleNode, and does:

This should be handled in sun.ToggleNode, as is done for sun UI components that use RoundButtonView and RectangularButtonView.

[2015-03-04 05:28] samreid opened #119 "Control panel checkboxes no longer indented"
Not sure when this broke, but these should be indented:

![image](https://cloud.githubusercontent.com/assets/679486/6478628/6986c738-c1f4-11e4-9aa5-deea18828145.png)

From the website version:

![image](https://cloud.githubusercontent.com/assets/679486/6478638/832c7ec6-c1f4-11e4-9973-a612bf7b24c4.png)

[2015-03-06 20:21] pixelzoom opened #120 "use PhetColorScheme.RED_COLORBLIND for friction force?"
Sim currently uses 'red' for friction force, which will appear black to many colorblind users.

MotionScreenView, line 326:

      labelPosition: 'side',
      arrowScale: arrowScale
    } )

[2015-03-08 17:52] pixelzoom opened #121 "Properties should have `Property` suffix"
Examples of anti pattern:

MotionScreenView: var itemsCentered = new Property( true, { id: 'itemsCentered' } );

[2015-03-11 05:00] samreid commented on #86
Perhaps a great opportunity to use mipmap!?  (Exclamation point used to refer to plugin syntax, not incredulity).

[2015-03-12 19:55] pixelzoom opened #122 "sim fails to build due to missing license for Pixi"
[code]

This is probably missing from sherpa, but I don't know what to add. Assigning to @samreid.

[2015-03-13 21:09] samreid commented on #122
Fixed, thanks for the error report.  Closing.

[2015-03-13 21:09] #122 closed

[2015-03-25 20:36] pixelzoom opened #123 "id option?"
I see option.id in several places (search for 'id:').  Eg:

MotionScreenView line 187:

Slider line 42:

Property has no id option. Is this something vestigial?

[2015-03-25 20:45] pixelzoom opened #124 "pixi.js.map 404 (Not Found)"
When running in requirejs mode out of master, I see this console error at startup:

[2015-03-25 20:46] pixelzoom commented on #121
Looks like it was only one Property, so I took care of this. Closing. @samreid feel free to take a peek.

[2015-03-25 20:46] #121 closed

[2015-03-25 23:46] samreid commented on #123
Thanks, I removed it above.  Closing.

[2015-03-25 23:46] #123 closed

[2015-03-31 20:39] pixelzoom opened #125 "branch: accessibility-hacks"
Please describe.

[2015-03-31 20:39] pixelzoom opened #126 "branch: api"
Please describe.

[2015-03-31 20:39] pixelzoom opened #127 "branch: arch"
Please describe.

[2015-03-31 20:39] pixelzoom opened #128 "branch: metacog"
Please describe.

[2015-03-31 20:40] pixelzoom opened #129 "branch: ocad-day-1"
Please describe.

[2015-03-31 20:40] pixelzoom opened #130 "branch: ocad-day-2"
Please describe.

[2015-04-01 04:15] samreid commented on #125
No longer needed, deleted.

[2015-04-01 04:15] #125 closed

[2015-04-01 04:16] samreid commented on #126
No longer needed, deleted.

[2015-04-01 04:16] #126 closed

[2015-04-01 04:17] samreid commented on #127
This branch had arch integration but not full together.js integration--may be useful when we move toward full together.js integration.

[2015-04-01 04:18] samreid commented on #128
Superceded by together.js metacog integration, deleted, closing.

[2015-04-01 04:18] #128 closed

[2015-04-01 04:19] samreid commented on #129
See notes in the link above.

[2015-04-01 04:19] samreid commented on #130
See notes in the link above.

[2015-06-04 18:23] samreid opened #131 "A lot of togetherEvents clutter"
See https://github.com/phetsims/together/issues/110

[2015-06-11 19:59] samreid commented on #119
Also, the icons are missing???

[2015-06-11 20:03] samreid commented on #131
I removed all occurrences of together in the above commit, closing.

[2015-06-11 20:03] #131 closed

[2015-06-12 01:11] samreid opened #132 "Why does g=10.0?"
I noticed this code:

[code]

(I just added the TODO).  Why is g=10.0 and not something like 9.8?  @ariel-phet can you comment or delegate?

[2015-06-12 04:32] ariel-phet commented on #132
@samreid - not sure why you chose 10.0, but I am not sure it matters much. The frictional coefficient really is not displayed anywhere (just none or lots) so "g" only really matters when computing the max force of static friction (and since we made the coefficient of kinetic and static friction equivalent for this sim if I recall to simplify the visuals). So all changing "g" would do is slightly a

[2015-06-12 21:11] samreid commented on #132
I am wondering if g=10.0 was used in an ancestor sim, such as Forces and Motion, in order to make some of the math simpler.  Assuming that is the case, what would you recommend to do for this sim?  Leave as 10.0 or change to 9.8?  Would we risk breaking teacher activities, etc?  Is it possible that for some objects you would no longer be able to overcome static friction? @ariel-phet how do you wan

[2015-06-13 01:36] ariel-phet commented on #132
I think this is definitely a "if it ain't broke don't fix it" scenario. g=10.0 is perfectly reasonable for this model, and as I said, since we do not reveal the value of the coefficients of friction to the user, there is no need to change it in this case.

[2015-06-15 16:23] samreid commented on #132
OK I committed docs into the source code linking to this issue and explaining why we've kept it as 10.0.

[2015-06-16 19:23] samreid commented on #63
Things are speedy on my MacBook Air 2012 running Firefox 38.0.5 on OS X 10.10.2.  @ariel-phet do you want to assign specific testing for this issue on other platforms, or just wait for things to come up in a formal QA cycle?

[2015-06-16 19:34] samreid commented on #86
Mipmap doesn't seem to help much.  I tested mipmap like so:

[code]

so the image on the left is mipmap with default settings, image on the right is normal image.  On Chrome, I see:

![image](https://cloud.githubusercontent.com/assets/679486/8192551/2dea2640-142c-11e5-8ccb-a58ea82e43fa.png)

On Firefox I see:

![image](https://cloud.githubusercontent.com/assets/679486/8192563/3d7025e2-142c-11e5-84

[2015-06-16 19:36] samreid opened #133 "Yellow highlight doesn't appear when it should"
@bryo5363 reported in #88:

[2015-06-16 19:36] samreid commented on #88
I moved @bryo5363's last comment to a new issue and will close this one based on the verification above.

[2015-06-16 19:36] #88 closed

[2015-06-16 19:37] samreid commented on #96
It seems difficult to reproduce this problem, we can reopen if it appears again during QA testing.

[2015-06-16 19:37] #96 closed

[2015-06-16 19:39] samreid commented on #101
I only see AI files from the pull_figures checked in, there are many (20+) other images from authors such as Noah, Open Clip Art, from Balancing Act, Sharon, where there is no original artwork checked in.  Reassigning to @ariel-phet to decide what to do about this.

[2015-06-16 20:02] ariel-phet commented on #101
@samreid can you please make a list here of the missing artwork? We might be able to track it down, and we can have some of it redrawn so we have an original file.

[2015-06-17 17:15] samreid commented on #101
In 3ad07a00ff9f7b5e0cf2165e2cc444b8611faec6 I moved an svg file from images/ to assets/ for the brick tile.

Here are the other files for which I don't see any vector artwork:
Acceleration_Icon.png
cart.png
cloud1.png
crate.png
files.txt
Friction_Icon.png
fridge.png
girl-holding.png
girl-sitting.png
girl-standing.png
grass.png
ice_overlay.png
icicle.png
license.txt
man-holding.png
man-sitting.png

[2015-06-17 17:16] samreid commented on #101
Here is a link to the license file so you can see the artists associated with each graphic:
https://github.com/phetsims/forces-and-motion-basics/blob/master/images/license.txt

[2015-06-17 17:22] samreid commented on #25
Performance is markedly faster and smoother in Chrome 43.0.2357.93 on Android 5.1.1 on Nexus 7.  Everything seems usable, friction slider (still the slowest part of the sim) gets about 10 frames per second--not great, but usable.  Closing.

[2015-06-17 17:22] #25 closed

[2015-06-17 17:36] samreid commented on #103
I tried renderer:'webgl' on a few of the items and didn't see any change in performance.  Putting 'webgl' for all of the items in the motion screen causes "too many webgl contexts" error, probably because it is alternating image/text/image/text/etc.

[2015-06-17 17:38] samreid opened #134 "Restore accessibility"
I'm removing the accessibility fragments that were used for experimentation.  I'll mark them here so they can be added back when needed.

[2015-06-17 19:17] #119 closed

[2015-06-25 15:00] pixelzoom opened #135 "replace toFixed with dot.Util.toFixed"
This sim uses JavaScript's built-in toFixed. This function should not be used directly; it is notoriously buggy, and behavior differs depending on browser, because the spec doesn't specify whether to round or floor. Use dot.Util.toFixed, see its doc for details.

[2015-07-14 07:45] jessegreenberg opened #136 "Some i18n issues"
Noticed two i18n scaling issues while reviewing phetsims/joist#241.

1) In the 'Net Force' screen, the stop/go button can get arbitrarily large:

![longstringbreaksfamb](https://cloud.githubusercontent.com/assets/6396244/8668518/38c4de5e-29c9-11e5-88ad-3f62b4be8db1.PNG)

With stringTest=double, it is large enough to push the 'Return' button off screen:

![offscreen](https://cloud.githubusercontent

[2015-07-14 23:36] ariel-phet commented on #63
I am going to go ahead and close this issue since we will be redeploying the sim and many updates have been made.

[2015-07-14 23:36] #63 closed

[2015-07-15 15:56] ariel-phet opened #137 "Consider updating PhET girl and man"
We might want to consider updating to our more modern version of PhET girl. Will be a question for the design team, but might be a nice update.

[2015-07-16 22:05] samreid commented on #137
Here's the current girl in the sim:

![image](https://cloud.githubusercontent.com/assets/679486/8736260/239ce118-2bd4-11e5-93f9-9cc5cb2e362d.png)

Here's the updated phet girl:

![image](https://cloud.githubusercontent.com/assets/679486/8736277/3624e25e-2bd4-11e5-9ed7-68098baee78d.png)

In my opinion this should be updated if our artist has time.  I think it would be good to update the man charact

[2015-07-24 02:23] ariel-phet commented on #137
I will request work from the artist.

[2015-07-24 04:56] ariel-phet opened #138 "Some "sum of force" values not centered in arrow"
Screenshots:
![capture](https://cloud.githubusercontent.com/assets/4051174/8867942/ffcdb89c-318d-11e5-8aba-7dba390d4fda.PNG)

Troubleshooting information (do not edit):
Name: Forces and Motion: Basics
URL: http://phet-dev.colorado.edu/sims/html/forces-and-motion-basics/latest/forces-and-motion-basics_en.html
Version: 1.1.0
Features missing: touch
User Agent: Mozilla/5.0 (Windows NT 6.1; WOW64) App

[2015-07-29 04:49] samreid commented on #124
Pixi no longer used, problem is gone.  Closing.

[2015-07-29 04:49] #124 closed

[2015-07-29 12:31] samreid commented on #138
I'm going to unassign the issue for now--it will be addressed when I work on all Forces and Motion: Basics issues for the upcoming S2015R redeploy.

[2015-07-29 12:31] samreid commented on #135
I'm going to unassign the issue for now--it will be addressed when I work on all Forces and Motion: Basics issues for the upcoming S2015R redeploy.

[2015-07-29 12:32] samreid commented on #133
I'm going to unassign the issue for now--it will be addressed when I work on all Forces and Motion: Basics issues for the upcoming S2015R redeploy.

[2015-07-29 12:32] samreid commented on #120
I'm going to unassign the issue for now--it will be addressed when I work on all Forces and Motion: Basics issues for the upcoming S2015R redeploy.

[2015-07-29 12:34] samreid commented on #104
@ariel-phet do you want to address this as part of the S2015R?  The implementation will likely remain independent (unless) but we could spend 2-4 hours making this slider look a bit more like the standard sun one.

[2015-07-29 12:35] samreid commented on #103
I'll look into this for S2015R.  Unassigning until then.

[2015-07-29 14:00] ariel-phet commented on #104
@samreid - seems like a good topic for developer meeting next week, I would like some other opinions.

[2015-07-30 17:43] samreid commented on #104
from July 30 developer meeting:

AP: Simplifies tandem & accessibility to unify as much as possible.
SR: Sounds good, let’s go for it.  We can also try to implement this in a way that doesn’t complicate HSlider too much.

[2015-08-02 17:54] samreid commented on #104
Unassigning this for now.  I'll reassign it when we start reworking forces and motion basics for the Summer 2015 Redeploy.

[2015-08-11 22:23] pixelzoom opened #139 "splash.svg error on startup"
When running in requirejs mode with brand=phet, I see this error in the console:

And the browser window looks like this while the sim is loading:

![screenshot_570](https://cloud.githubusercontent.com/assets/3046552/9212309/294d6ad0-4045-11e5-8106-6f63b6590a1e.png)

This problem may be unique to FAMB; I've tried other multi-screen sims and don't see this issue. What is FAMB doing that's different

[2015-08-11 22:24] pixelzoom commented on #139
Chrome Version 44.0.2403.155 (64-bit) on Mac OS X 10.4.4.

[2015-08-11 22:26] pixelzoom commented on #139
Same behavior on Firefox 40.0 and Safari 8.0.7 (10600.7.12) on Mac OS X 10.4.4.

[2015-08-11 22:29] pixelzoom commented on #139
Here's the problem, in forces-and-motion-basics/forces-and-motion-basics_en.html:

[code]

energy-skate-park-basics and lingo have a similar problem. Other sims have an empty `<body>`, why do these sims attempt to load splash.svg?

[2015-08-12 00:09] pixelzoom opened #140 "unused images"
wrong repo. closing.

[2015-08-12 00:10] #140 closed

[2015-08-12 14:43] samreid commented on #139
Removed body content above.  At one point during development, I had splash screens for the requirejs modes to make the requirejs mode match the built version a little more closely.  This is no longer valuable and I've removed it.  Reassigning to @pixelzoom to review/discuss.

[2015-08-12 15:31] pixelzoom commented on #139
I don't have anything further to discuss, closing.

[2015-08-12 15:31] #139 closed

[2015-09-03 03:13] ariel-phet opened #141 "Add AP as lead design in credits"
Usually, I do not care about such things, but in this particular case, I think it would be appropriate to list me as a lead designer for this sim along with NP.

[2015-09-03 03:14] samreid commented on #141
I marked for S2015R so it will get done before we redeploy.

[2015-09-03 03:15] ariel-phet commented on #141
:cool:

[2015-09-16 01:43] ariel-phet commented on #137
Being worked on in https://github.com/phetsims/tasks/issues/355

[2015-10-08 18:25] ariel-phet opened #142 "Add play/pause button"
From a user describing a use case (from the Java version) where the play pause button is very useful:

I believe we removed the play/pause because of complications when we were first converting sims to HTML5 (and not wanting to put the play/pause close to other controls). However I think we could put these controls near the reset all button under the control panel as we have done in other sims.

@

[2015-10-08 20:09] samreid commented on #142
Yes, it would be straightforward.

[2015-11-06 16:48] ariel-phet opened #143 "Consider difference between coefficient of static and kinetic friction"
A teacher wrote to phethelp about this concern but it has also been on my mind:

When we first designed the sim, it was really meant for younger students, but it seems to be such a powerful sim that it has gained adoption at much higher grade levels. I have even used it many times for introductory physics at the college level.

We originally decided to make static and kinetic friction have the sam

[2015-11-09 19:46] jonathanolson opened #144 "Automated testing failure"
[code]

[2015-11-11 01:19] jessegreenberg commented on #144
Assigning to myself, likely a breaking change accidentally introduced through accessible content.

[2015-11-11 02:11] jessegreenberg opened #145 "Platform issues with aria-live"
This issue has been observed in all sims that utilize the aria-live attribute.  It is open in this repository for documentation as it is simulation specific.

The ARIA attribute ```aria-live``` is very useful for notifying AT that an element has changed even when it is outside of focus.  However, it seems to behave unpredictably across various platforms.  For instance, with NVDA and Chrome, aria-l

[2015-11-11 02:14] jessegreenberg commented on #145
For reference, here are two interesting pieces of documentation:

From Chrome dev docs:
https://developer.chrome.com/extensions/a11y

Most notably:

From Web Accessibility:
https://www.webaccessibility.com/best_practices.php?technology_platform_id=121

The above doc seems like a good starting point to learn about good aria-live practices.

[2015-11-11 18:10] samreid commented on #143
@ariel-phet requested a time estimate for this work.

[2015-11-11 19:15] jhung opened #146 "When a puller is focused within a group, pressing Tab key should put focus on the next item in tab order"
When focus is on a puller within a group, pressing Tab should move focus to the next item in the tab order. Currently pressing tab puts focus back on the parent container which is inconsistent with conventions.

Example:
1. Tab focus the left group.
2. Press enter
3. Press Tab again
4. Notice focus is on the Left group, but expectation is for focus to move to the Right group.

Aside, the current b

[2015-11-12 01:34] samreid commented on #146
@jessegreenberg can you comment on this?

[2015-11-12 06:47] jessegreenberg commented on #146
@jhung, thanks for pointing this out,  I completely agree.  In addition to being more conventional, this also removes an unnecessary extra key stroke.

This fix was added in a recent  version published here:
http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/1.1.5-accessible-instance.5/forces-and-motion-basics_en.html?accessibility&screens=1

Pressing `tab` should exit the pull

[2015-11-12 18:26] jessegreenberg commented on #144
Looks like options extension was standardized a while ago, but options scope was not properly extended.  Fixed in the commit above.  Can no longer reproduce the issue.  Sim passes through a fuzz test. Closing.

[2015-11-12 18:26] #144 closed

[2015-11-14 03:35] samreid commented on #143
@ariel-phet Are we talking about all 4 screens, or just the latter 3?

[2015-11-14 03:36] samreid commented on #143
Or just screens 3-4 I suppose? (screen 2 has no friction).

[2015-11-14 03:44] samreid opened #147 "Objects can no longer be dragged"
While testing #143 I noticed that objects can no longer be dragged.

[2015-11-14 03:47] samreid commented on #143
Adding the `*0.75` at the end of this line may be sufficient, seems good in my limited tests:

[code]

However, testing is somewhat limited due to #147

[2015-11-14 04:08] samreid commented on #147
pointer is already set to cursor 
setting mouseArea/touchArea doesn’t seem to help 
setting pickable:true doesn’t seem to help

[2015-11-14 04:28] #147 closed

[2015-11-14 04:28] samreid commented on #147
Thanks to @jonathanolson for tracking down this issue, it was fixed above.

[2015-11-14 04:29] samreid commented on #143
#147 fixed, the behavior seems reasonable to me and I'll commit this change to master and publish a dev version for @ariel-phet to review.

[2015-11-14 04:36] samreid commented on #143
Published a dev version here: http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/1.1.5-dev.11/forces-and-motion-basics_en.html

@ariel-phet can you take a look?

[2015-11-14 17:50] ariel-phet commented on #143
@samreid I think this is looking good. I will plan on bringing up at design meeting, but I am thinking this will be a good change.

[2015-11-16 19:12] arouinfar commented on #143
@samreid @ariel-phet I think this is an excellent change to the sim.

[2015-11-17 00:53] ariel-phet commented on #137
@samreid this artwork has been updated. Various characters available here:

https://drive.google.com/drive/folders/0B9X7KMQDIh-1alhsWldvT2k1bmM

in the "sitting phets.ai" file

Please try integrating these into FAMB and let me know if there are any issues.

[2015-11-19 05:19] jonathanolson opened #148 "Automated testing issue"
Looks related to the live-region work, assigning to @jessegreenberg (seems that the expected element isn't get present when not running with accessibility?).

[code]

[2015-11-19 17:38] jessegreenberg commented on #148
Thanks @jonathanolson, fixed in commit above. Reference to accessibility tree is hidden in the accessible content block so nothing breaks.  Sim passes through test-server, closing.

[2015-11-19 17:38] #148 closed

[2015-11-19 20:59] ariel-phet commented on #143
Design meeting Nov 19 2015 @kathy-phet agrees this is a reasonable change, closing.

[2015-11-19 20:59] #143 closed

[2015-11-19 21:14] samreid opened #149 "Prepare for S2105R"
From https://github.com/phetsims/tasks/issues/424 @ariel-phet suggested Forces and Motion: Basics. Its a popular sim, the friction changes and art changes would be nice.

@samreid suggested to check in with @jessegreenberg to make sure accessibility is in a good place before bringing this to production for S2015R.

@jessegreenberg said:

@samreid said:

[2015-11-19 21:15] samreid commented on #149
@ariel-phet said the priority of this issue should be: like a background task, no rush on it, start chipping away at open issues, etc.  My current other obligations include circuit construction kit basics, bending light, phet-io and common code issues.

[2015-11-20 03:20] ariel-phet opened #150 "Publish social media posts when republished"
@kathy-phet requested that when we republish FAMB with the change suggested in #143 we push stories to our social media about how this change was influenced by teacher feedback.

[2015-11-21 00:11] jessegreenberg commented on #145
In phetsims/scenery#450, I am revisiting the accessibility DOM prototype to investigate possible issues with aria-live.  In that new prototype, I am using aria-live in the following way:
Element with aria-live attribute:
[code]
script that updates the element:
[code]
With this implementation, I am not able to reproduce the issues of string repetition.  However, I notice that the aria-event will fi

[2015-11-21 00:15] jessegreenberg commented on #145
Important to note that testing done thus far has been on Windows 7 + Chrome + NVDA.  Will need to test further, but on this platform, I am not observing any repetition of event reading.

[2015-11-21 02:03] samreid commented on #145
Perhaps we could use a strategy like changing "The net force is 15 Newtons" to "The net force is still 15 Newtons" to inform the user that it explicitly hadn't changed?

[2015-11-23 17:24] jessegreenberg commented on #145
Yes, exactly, the solution will need to be in the design of the accessible auditory description to let the user know that some property hasn't changed.

[2015-11-27 03:51] samreid commented on #137
There were graphics for 4 different characters: woman, boy, girl, man.  I used the latter two since they were the kinds already present in the sim:

![image](https://cloud.githubusercontent.com/assets/679486/11433751/f98bfb0c-947e-11e5-94a3-bf840480a14b.png)

This looks much better.  There is one issue that the man's hands don't go up to the top, so there is a gap like this:

![image](https://clou

[2015-12-02 17:43] samreid opened #151 "Sonification for skateboard"
We have discussed adding a "click/clack" sound for the skateboard, so that the frequency of clicks/clacks is proportional to the speed of the skateboard.  @ariel-phet do you want to do this for the next publication of Forces and Motion Basics?

Main questions:
1. Does the sound need to visually synchronize with the look of the "cracks" in the sidewalk?
2. How much should it sound like a real skate

[2015-12-02 17:47] ariel-phet commented on #151
@samreid - no, we should not include this on the next redepoly.

I think we only want to include such sonifiied representations in published sims after they have been researched and vetted.

[2015-12-03 18:23] amyh-phet commented on #137
@ariel-phet  and @samreid   The screen icon for the Motion screen still has the old artwork. Does this need to be updated as well?
![famb_motion_icon](https://cloud.githubusercontent.com/assets/13650180/11569638/31ea3c30-99b0-11e5-877e-157398c70b48.png)

[2015-12-05 00:00] ariel-phet commented on #137
I will have Mariah fix up the image

[2015-12-10 19:06] ariel-phet commented on #137
Mariah has fixed the images. AI file can be found here:

https://drive.google.com/drive/folders/0B9X7KMQDIh-1alhsWldvT2k1bmM

the file is "sitting phets FIX.ai"

[2015-12-11 08:09] samreid commented on #149
I reviewed all open issues and marked 19 as part of the S2015R work.

[2015-12-15 20:33] samreid commented on #137
Updated graphics above, published here:

http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/1.1.5-dev.13/forces-and-motion-basics_en.html

Reassigned to @ariel-phet to review and to delegate for fixing the homescreen/navbar icons based on @amyh-phet recommendation above.

[2015-12-16 16:56] samreid commented on #142
@ariel-phet let's confirm details before I start.

* add a play/pause toggle button to the left of the reset button, centering the PLAY + RESET box under the control panel.

* The simulation currently requires you to keep dragging the slider or pusher in order to continue applying force.  Shall we change it so that if you apply force while it is paused, then the applied force wouldn't go back to z

[2015-12-16 16:57] samreid commented on #149
I looked into https://github.com/phetsims/forces-and-motion-basics/issues/142 and reassigned to @ariel-phet for feedback.

[2015-12-17 04:02] samreid commented on #141
Fixed in my working copy, looks like this:
![image](https://cloud.githubusercontent.com/assets/679486/11860953/4218ab90-a438-11e5-8bd1-379ea25967f9.png)

Committing shortly.

[2015-12-17 04:02] samreid commented on #141
Committed above, @ariel-phet can you take a quick look and make sure everything is as desired?

[2015-12-17 04:03] samreid commented on #149
I fixed https://github.com/phetsims/forces-and-motion-basics/issues/141 and reassigned to @ariel-phet for confirmation.

[2015-12-17 04:08] ariel-phet commented on #142
@samreid yes play/pause to the left of the reset button (we should probably have a step button as well...it seems we always do a step button if we have a play/pause button). So I think the play/pause and step should feel grouped together, and I think the reset all button could be reduced in size slightly (10 or 15 percent)

I think we want the use to use the tweaker buttons in the use case you sug

[2015-12-17 04:12] ariel-phet commented on #142
@samreid hmm, actually, I just played with the java version...and there we had the interaction you describe. If you pause and then set the force and press play the force holds its value. Perhaps this makes sense, otherwise when you press play the force will be on for some slight moment and then go to zero. I am guessing that this could also cause inconsistent results depending on how the step in t

[2015-12-17 04:30] ariel-phet commented on #141
a few changes actually:

1. take me off the "team" since I am in the Lead Design category now
2. both Mariah Hermsmeyer and Sharon Siman-Tov should be in graphic arts
3. Put the QA team the same as arithmetic (since that will likely be who tests it when we get to the RC)

[2015-12-17 18:35] samreid commented on #141
Fixed here:

![image](https://cloud.githubusercontent.com/assets/679486/11878316/473daae2-a4b2-11e5-8fb5-944e2fa88e47.png)

@ariel-phet can you take a look?

[2015-12-17 19:31] ariel-phet commented on #141
Looking good, closing

[2015-12-17 19:31] #141 closed

[2016-01-08 05:23] samreid commented on #142
@ariel-phet can someone else help with this issue?

[2016-01-08 05:24] samreid commented on #149
@ariel-phet I'm focusing heavily on PhET-iO then CCK in the near future, can someone else help with this issue?

[2016-01-08 18:38] ariel-phet commented on #142
@jessegreenberg I am going to have you take over FAMB issues for redeploy since you are now quite familiar with this sim. FAMB should be prioritized after Trig Tour.

[2016-01-08 18:39] ariel-phet commented on #149
@jessegreenberg I am going to have you take over FAMB issues for redeploy since you are now quite familiar with this sim. FAMB should be prioritized after Trig Tour.

[2016-01-11 18:58] pixelzoom opened #152 "unused strings"
[code]

[2016-01-11 20:39] jessegreenberg commented on #152
Unused strings removed, sim builds cleanly.  Closing.

[2016-01-11 20:39] #152 closed

[2016-01-20 22:20] arouinfar opened #153 "Show acceleration readout when "Values" checked"
We received the following suggestion from a teacher on Facebook

Since this is the “Basics” version of the sim, I imagine we deliberately decided not to quantify the acceleration (though the max/min is labeled with a unitless +/- 20).  Quantifying the acceleration would facilitate broader learning goals related to Newton's 2nd Law. Given that a port of FAM is not on the horizon, we should address

[2016-01-20 23:34] phet-steele opened #154 "Uncentered objects"
With increasing string length, the objects on the last three screens become more and more uncentered. This is very obvious with ?stringTest=long, but still happens with =double.

![famb long](https://cloud.githubusercontent.com/assets/5863899/12466699/95b2706c-bf93-11e5-88f3-8a37038f1910.PNG)

Tested on phetttest with Win 8.1 FF. For phetsims/tasks/issues/479

Troubleshooting information:
Name: 12

[2016-01-20 23:41] phet-steele opened #155 "Return button lost with stringTest=double"
With increasing string length, the "Go" button resizes and pushes the "Return" button off the bottom of the screen (you can see its pointer areas in the nav bar):

![famb dubs](https://cloud.githubusercontent.com/assets/5863899/12466825/64b16526-bf94-11e5-9cf0-ef5798b576bf.PNG)

Tested on phetttest with Win 8.1 FF. For phetsims/tasks#479

Troubleshooting information:
Name: 123456789012345678901234

[2016-01-21 16:57] orejolaphet opened #156 "Text over laps on safari with ?stringTest=double"
Test device: Personal Mac
Operating System: OSX 10.11
Browser: Safari 9.0
Problem description:
Text for the Forces and masses check boxes over lap
Mass values overlap
PhET information overlaps

Screenshots:
<img width="337" alt="screen shot 2016-01-21 at 9 50 50 am" src="https://cloud.githubusercontent.com/assets/5631059/12487593/115aa7de-c025-11e5-878e-ae6f48979013.png">
<img width="504" alt="scr

[2016-01-21 17:07] orejolaphet commented on #156
<img width="394" alt="screen shot 2016-01-21 at 10 07 15 am" src="https://cloud.githubusercontent.com/assets/5631059/12488002/c79174e6-c026-11e5-84bd-a3f7f7508f9e.png">

[2016-01-30 01:20] jessegreenberg commented on #156
I think this is related to https://github.com/phetsims/scenery/issues/469, an issue where the strings overlap and are distorted on safari for the requireJS version of the sim.  In that issue, we decided not to address this since it did not affect built sims.

My guess is that this is going to come up every time we do testing out of phettest.  That might make it worth addressing.  Closing this issu

[2016-01-30 01:20] #156 closed

[2016-01-30 01:21] jessegreenberg commented on #136
Duplicate of https://github.com/phetsims/forces-and-motion-basics/issues/154.  Closing.

[2016-01-30 01:24] jessegreenberg commented on #146
This has been implemented and is in the most recent dev version of accessible forces and motion basics.

Closing for now.

[2016-01-30 01:24] #146 closed

[2016-01-30 01:28] jessegreenberg commented on #145
A more current investigation of this issue is being tracked here:
https://github.com/phetsims/balloons-and-static-electricity/issues/106

Closing this issue.

[2016-01-30 01:28] #145 closed

[2016-01-30 01:37] jessegreenberg commented on #109
https://github.com/phetsims/scenery/issues/275 Was closed.  I will verify that I can no longer reproduce this before closing the issue.

[2016-02-02 22:03] jessegreenberg commented on #155
Fixed in the commit above, closing.

![stringtest](https://cloud.githubusercontent.com/assets/6396244/12765883/f9b7823a-c9bd-11e5-974f-55170230ad75.PNG)

[2016-02-02 22:03] #155 closed

[2016-02-02 23:27] jessegreenberg commented on #154
Aha, it looks like the mass labels are scaled with the images but not centered.

[2016-02-02 23:39] jessegreenberg commented on #154
Note quite.

[code]
itemNode.width is dependent on the width of the translated label.  The length of the label can change the destination of the itemNode in animateTo.

[2016-02-03 00:14] ariel-phet opened #157 "Pixelated "pusher" on motion screens"
@jessegreenberg the pusher on the motion screens is quite pixelated/aliased. Please let me know if this issue can be fixed by mipmapping or such...or do we need new artwork?

If new artwork is required, please assign back to me (I also do not believe we have the original .ai file for the pusher, so it may be good to redraw anyhow to have a proper asset).

[2016-02-03 17:25] jessegreenberg commented on #154
ItemNode transforms assume that the origin of the node is at the upper left corner of the *image*.  Since the label can extend beyond the width of the image,

[code]

the translation is too far to the left because ```itemNode.width / 2``` is an incorrect correction since the translation is relative to the width of the image.

[2016-02-03 18:02] jessegreenberg commented on #157
@ariel-phet we will need new artwork to fix this.  The pixelation is in the artwork, it is not caused by scaling or the browser.

You are right, i could not find the original .ai file in assets.

[2016-02-03 18:04] ariel-phet commented on #157
Will do

[2016-02-03 18:05] jessegreenberg commented on #157
However, new artwork would mean creating 17 new images for all of the possible states of the pusher as it pushes on the items.

[2016-02-03 18:07] ariel-phet commented on #157
@jessegreenberg I actually don't think creating the multiple new images will be much of an issue for our artist once the initial image is created

[2016-02-03 18:14] jessegreenberg commented on #153
While looking into this, I noticed that 'Acceleration' is hard coded into the screen view, it is not translatable.

[2016-02-03 18:16] jessegreenberg commented on #157
Very cool!  New artwork would look great!

[2016-02-03 18:22] jessegreenberg opened #158 "Forces and Motion: Basics needs a namespace"
As part of the redeploy, Forces and Motion: Basics needs a namespace.

[2016-02-03 21:58] jessegreenberg commented on #153
Done in the above commit,

![acceleration](https://cloud.githubusercontent.com/assets/6396244/12798416/828ec960-ca86-11e5-915d-ba182a531fa0.PNG)
![acceleration units](https://cloud.githubusercontent.com/assets/6396244/12798418/857516d4-ca86-11e5-9d5c-16a4f4c50b44.PNG)

[2016-02-03 22:02] samreid commented on #153
@ariel-phet after seeing this I am wondering what you think about removing the parentheses.

[2016-02-03 22:47] jessegreenberg commented on #142
Added the play/pause and step buttons.  Currently, their positioning is constant for each screen.  Here is what it looks like:
![motion](https://cloud.githubusercontent.com/assets/6396244/12799637/1f5e997c-ca8d-11e5-9e3a-6659ec5fa793.PNG)
![frictionn](https://cloud.githubusercontent.com/assets/6396244/12799639/214d2208-ca8d-11e5-984d-f037a1d727a3.PNG)
![acceleration](https://cloud.githubuserconten

[2016-02-03 23:18] ariel-phet commented on #153
Perhaps, I need to look at it in context, self assigning for the moment

[2016-02-03 23:29] arouinfar commented on #153
@ariel-phet here are a few options to consider.

![image](https://cloud.githubusercontent.com/assets/8419308/12800538/10845238-ca93-11e5-93dd-01887f32b4b7.png)

[2016-02-03 23:31] arouinfar commented on #153
On second thought, the two-lined approach won't work. I had the speedometer off initially, so I didn't realize how little real estate we have to work with in this case.

![image](https://cloud.githubusercontent.com/assets/8419308/12800571/58cc09be-ca93-11e5-8615-76e4f956ab98.png)

[2016-02-04 00:35] jessegreenberg commented on #158
Namespace added. Closing.

[2016-02-04 00:35] #158 closed

[2016-02-04 05:19] ariel-phet commented on #153
Thanks for the options @arouinfar

@jessegreenberg lets try "Acceleration: XX"  (and of course, the ":" should only appear with when the value is dispalyed

[2016-02-04 20:59] arouinfar commented on #153
Good suggestion @ariel-phet! I think the colon will be the best option.

[2016-02-04 21:55] jessegreenberg commented on #153
Here it is with the colon:

![accelerationcolon](https://cloud.githubusercontent.com/assets/6396244/12830953/2e3ab382-cb4f-11e5-86c7-646d310ca037.PNG)

Look good @arouinfar @ariel-phet?

[2016-02-04 21:57] arouinfar commented on #153
Looks good to me @jessegreenberg!

[2016-02-04 23:13] jessegreenberg commented on #142
Currently, the items do not animate to the center or their toolboxes unless model is playing.  They should animate to the correct location while paused, as in the Java version.

Also, the pusher force is maintained while paused, but not the slider.  This will need to be fixed as well.

[2016-02-04 23:18] jessegreenberg commented on #104
This should be completed before continuing with other slider related work in #142.

[2016-02-04 23:28] jessegreenberg commented on #104
It looks like the features that forces-and-motion-basics\HSlider has that sun\HSlider does not have include:

- zero on release
- gray out one side of the slider to restrict one section

These will both be used in energy-forms-and-changes sliders as well.  From the above comments, it looks like the decision was to add these features to sun\HSlider.

I will create an issue in sun to monitor progres

[2016-02-05 23:42] jessegreenberg commented on #154
For the correct interaction, two scales are applied at different times to the ItemNode.  ```interactionScale``` and ```item.imageScale```.  In every call to animateTo, we want to correct for the width of the image, not the width of the whole itemNode.

I think the translation to the center of the screenView should be something like:
[code]

Need to test for all of the items.

[2016-02-08 05:25] ariel-phet commented on #157
To be addressed in https://github.com/phetsims/tasks/issues/501

[2016-02-08 19:13] jessegreenberg commented on #154
The above scaling calculation is correct, but it looks like it will need to be used in several places in the simulation.  ```animateTo``` is not the only place where the scale is applied.  For instance, the puller looks for the edge of the ItemNode, not the edge of the scaled item image.

![offset](https://cloud.githubusercontent.com/assets/6396244/12896094/517277de-ce5d-11e5-8646-da85d50abd97.PNG

[2016-02-08 19:59] jessegreenberg commented on #154
This issue is resolved with the above commits.  Closing.

[2016-02-08 20:04] jessegreenberg commented on #153
Great! Closing.

[2016-02-08 20:08] jessegreenberg commented on #153
On second thought, this was a teacher request so perhaps this should be publicized or something when the sim is redeployed?  Not sure, but reassigning to @ariel-phet to close or track for issue #150.

[2016-02-08 20:43] jessegreenberg commented on #142
While investigateing https://github.com/phetsims/forces-and-motion-basics/issues/138, sum of forces are also not calculated while sim is paused.

[2016-02-08 21:02] jessegreenberg commented on #138
While the arrows are too small to hold the value, the value is centered under the force label with a small vertical offset (like the Friction Force label in the image above.)

So we should decide how this behaves.  A few possibilities:

a) Move the 'Sum of Forces' label to the side of the arrow like the other arrow labels.
b) 'Sum of Forces' value could always be centered on the arrow, even when t

[2016-02-08 21:47] arouinfar commented on #138
Great suggestion @jessegreenberg! I think option "a" looks good, and it seems to be the most consistent with the current behavior of the Friction and Applied Force vectors.

[2016-02-08 21:51] ariel-phet commented on #138
:+1: on option "a"

[2016-02-08 22:14] samreid commented on #138
(a) seems nice, thanks!

[2016-02-08 22:38] ariel-phet commented on #157
assigning back to @jessegreenberg to take care of once new artwork has been generated

[2016-02-08 23:39] ariel-phet commented on #153
@jessegreenberg @arouinfar

It seems for consistency, there is no obvious reason to not display the speed quantitatively when "values" are checked and the speedometer is also active. I think we could just display the speed (in m/s) in the bottom portion of the speedometer) perhaps in a readout? Like:

![speedometer](https://cloud.githubusercontent.com/assets/4051174/12903129/84727358-ce82-11e5-9cf

[2016-02-08 23:41] arouinfar commented on #153
I think that's an excellent suggestion @ariel-phet!

[2016-02-08 23:58] samreid commented on #153
Sounds good, I would see what this looks like without a border--may be a bit cleaner.  Also I'm thinking you'll need one decimal place as well.  And m/s may become longer in other languages so this will need to be scaled down.

[2016-02-09 00:03] ariel-phet commented on #153
@samreid - The reason I think a border is good here is then it looks like a normal speedometer in a car, I think the border can be pretty lightweight (thin stroke and probably a shade of grey), but I do think it should be there.

[2016-02-09 00:07] samreid commented on #153
I get the speedometer analogy and think it's a good analogy, still wanted to see if it is cleaner without a border:

![image](https://cloud.githubusercontent.com/assets/679486/12903623/582dd3c4-ce86-11e5-9683-f4b3d2d28fc2.png)

Seems a bit less "organized" without the box, so I agree to keep it.

[2016-02-09 00:25] jessegreenberg commented on #138
A small issue with this approach is that when the applied force is maxed out with no friction, the 'Sum of Forces' label slightly overlaps the control panel.  Perhaps this is why the label was initially above the arrow.

![overlap](https://cloud.githubusercontent.com/assets/6396244/12903829/00387078-ce88-11e5-9e8a-71cddf676530.PNG)

The 'Applied Force' arrow is very tight against the panel as well

[2016-02-09 01:23] ariel-phet commented on #138
@jessegreenberg I would suggest the following

-yes move the label above the arrow again
- if the arrow is small put the force value to the right (or left if force is negative) of the arrow
- the sum of forces aroww need to move up a little bit so as not to be touching the applied force arrow (10 pixels should give it some breathing room)

[2016-02-09 01:24] ariel-phet commented on #138
Also for consistency, probably make the friction force arrow follow the same scheme for labeling

[2016-02-09 02:09] jessegreenberg commented on #153
Added, here it is in the simulation with the border and one decimal place.

![speed](https://cloud.githubusercontent.com/assets/6396244/12905796/7817754e-ce97-11e5-8536-0b1de673bc8d.PNG)

Reassigning to @ariel-phet for review.

[2016-02-09 02:24] ariel-phet commented on #153
Looked at the latest pull

@jessegreenberg the look was good, I think we can close this issue (though I will note the speed readout was appearing even if values was not checked). So perhaps fix that, then close this issue.

[2016-02-09 02:26] ariel-phet commented on #153
Also please add a bit of negative space between the acceleration readout and the speedometer (move the acceleration readout down)

[2016-02-09 02:28] ariel-phet commented on #153
Oh...and...speed should probably always be a positive value (since we are labeling it speed, not velocity), and the speedometer only shows magnitudes.

[2016-02-09 23:08] ariel-phet commented on #101
@oliver-phet is going to look into the physical backups we have to see if we can locate the .ai files for this sim and EFAC

[2016-02-10 21:22] ariel-phet commented on #137
Some slight tweaks need to occur, Mariah will be working on them, tracked still in https://github.com/phetsims/tasks/issues/355

Assigning to @jessegreenberg since this will require replacing the images once the work is complete

[2016-02-11 00:09] jessegreenberg commented on #153
Gah, sorry.  Fixed in https://github.com/phetsims/forces-and-motion-basics/commit/fc684aa254cf80fca0a0bc2b6c03e065d150a4d0

Done in https://github.com/phetsims/forces-and-motion-basics/commit/ce46bb283959b504f9e05253e4614a6b90ac292c

Not a whole lot of vertical space to play with since the acceleration readout is sandwiched between the speedometer and the 'Sum of Forces' readout.

![sum of forces]

[2016-02-11 01:16] jessegreenberg commented on #133
I see the following in PullerNode.js

[code]

It looks like a similar correction is needed for red pullers, but to a lesser extent.  However, maybe something in ```updateImage()``` could be causing this.

[2016-02-11 22:40] jessegreenberg commented on #133
It looks like this issue is caused by the order of operations in the puller node simple drag handler start function.

The PullerNode is disconnected first and then the image is updated, which means that the updateImage function assumes that the puller is never knotted on click.  This means that

[code]

is always called instead of
[code]

to correct for the fact that the translation is relative to

[2016-02-11 22:43] jessegreenberg commented on #133
It looks like code to translate the image in ```updateImage``` can now be removed now that focus highlights are handled in FocusOverlay.js in a separate display.

Because of this, we can simplify the simpleDragHandler start function and remove the 'hack' above.
[code]

[2016-02-11 22:54] jessegreenberg commented on #133
Ah, looks like I misread the comment.  The translation code in updateImage *is* necessary to correctly translate the puller image after scales change.

[2016-02-11 23:42] jessegreenberg opened #159 "PullerNodes are behind rope"
I just noticed that the pullers are behind the rope in the Net Force screen.  This is different from the published version.  This may have been an accidental accessibility related change.

[2016-02-11 23:50] jessegreenberg opened #160 "Clicking on a blue puller without dragging shifts it one knot to the right"
Just noticed that if you click and release on a puller without dragging at all, the puller is shifted one knot to the right.

[2016-02-12 00:26] jessegreenberg commented on #160
In NetForceModel:

[code]

This is due to ```var dx```, I am not sure why that variable is necessary.

[2016-02-12 00:28] jessegreenberg commented on #160
Removing that variable fixes this issue, but it makes the knot highlights a lot less accurate when dragging the pullers.

[2016-02-12 00:35] jessegreenberg commented on #160
I imagine this variable is necessary because the blue pullers grab the knot on the right side.  The target knot feels natural for the blue pullers since they graph on the right side.

[2016-02-12 17:38] jessegreenberg commented on #160
Now that the translation is corrected (https://github.com/phetsims/forces-and-motion-basics/issues/133) the -50 is an excessive correction.

[2016-02-12 17:41] jessegreenberg commented on #160
Fixed in the commit above, added some documentation to describe this correction value.  Closing.

[2016-02-12 17:41] #160 closed

[2016-02-12 17:52] jessegreenberg commented on #159
Yep, accidental accessibility related change.  Pullers are now children of toolboxes to easily structure parallel DOM, and toolboxes were added after rope.  Fixed in commit above.

[2016-02-12 17:52] #159 closed

[2016-02-12 17:53] jessegreenberg commented on #142
Item step functions fixed in commits above, still need to fix slider behavior to match the Java sim.

[2016-02-12 18:16] jessegreenberg commented on #135
Done in the above commit, closing.

[2016-02-12 18:16] #135 closed

[2016-02-12 21:22] jessegreenberg commented on #138
Done in commit above.  Added the 'ready for review' label, as this issue involves some layout polishing that will occur in the near future.

[2016-02-12 21:45] jessegreenberg commented on #133
Node translations fixed.  However, yellow highlights do not appear until drag handler translation starts.

[2016-02-12 21:52] jessegreenberg commented on #133
Knot highlight visibility updates when puller position changes.  This does not happen in the drag handler ```start``` function since the function sets the translation directly.

[2016-02-12 22:28] jessegreenberg commented on #133
Fixed in commits above, closing.

[2016-02-12 22:28] #133 closed

[2016-02-12 22:30] jessegreenberg commented on #86
Assigning to myself to verify that this is still an issue.

[2016-02-12 22:38] jessegreenberg commented on #86
No noticeable difference between Windows 10 Firefox and Chrome.  ItemNodes in master are represented with the image plugin.

[2016-02-12 23:02] jessegreenberg commented on #105
Was able to reproduce on Windows FF and Chrome, most noticeable in FF.

[2016-02-12 23:13] jessegreenberg commented on #105
Now I am having a very hard time reproducing, even in Firefox.  I will need to test and profile with a PHET testing device.

[2016-02-12 23:52] jessegreenberg commented on #120
With the change to COLORBLIND_RED, the friction force arrow looks like:

![colorblind_red](https://cloud.githubusercontent.com/assets/6396244/13023693/7a8dccb0-d1a8-11e5-9b6e-6f95fd3466c7.PNG)

Removes the high contrast between Applied and Friction force arrows.  @ariel-phet is this a case where we can continue to use normal 'red'?

[2016-02-13 00:02] jessegreenberg commented on #107
Performance issues likely related to #105.  It looks like the 'Applied Force' and 'Friction' slider labels are being grayed out when the force controls are disabled.

[2016-02-13 00:17] jessegreenberg commented on #107
Looking through MotionControlPanel and MotionScreenView, changing the text fill to gray when disabled is an intentional behavior.  This makes sense for the 'Applied Force' information and controls, but I don't understand why this is done for the 'Friction' slider tick labels.

[2016-02-13 00:32] jessegreenberg commented on #107
[code]

[2016-02-13 00:33] jessegreenberg commented on #107
@ariel-phet is this the desired behavior?  Are the friction slider labels supposed to be grayed out when there are no items to push?

![ezgif com-video-to-gif](https://cloud.githubusercontent.com/assets/6396244/13024145/2823f58e-d1ae-11e5-8b45-cc98c910525f.gif)

[2016-02-13 00:43] jessegreenberg commented on #118
```focusable: true``` is no longer used by accessibility to add elements to the navigation order.  Input elements are implicitly included in the navigation order in the parallel DOM.

References in common code to ```focusable: true``` should be removed.  Issues in scenery, sun, and scenery-phet should be created and assigned to @jessegreenberg to handle this.

For the redeploy, all references to `

[2016-02-13 00:45] jessegreenberg commented on #120
If we use PhetColorScheme.RED_COLORBLIND, a new icon image will also be required for the 'Friction' screen.

[2016-02-13 00:49] jessegreenberg commented on #120
The Pause button also uses ```baseColor: '#df1a22'``` which is very similar to 'red'.

[2016-02-13 03:53] ariel-phet commented on #107
@jessegreenberg that behavior definitely does not seem to be desired. I am guessing that when this sim was released since we did not have a solidified QA process this was missed.

I am not sure why this was implemented in the code...the friction slider is still active when no objects are present, and you are adjusting the coefficient of friction. I guess if you are getting really technical, a coef

[2016-02-15 16:36] jessegreenberg commented on #109
Seems like this is no longer an issue.  Closing.

[2016-02-15 16:36] #109 closed

[2016-02-15 17:43] jessegreenberg commented on #118
Done in commits above.  See https://github.com/phetsims/sun/issues/225.  Closing.

[2016-02-15 17:43] #118 closed

[2016-02-15 17:54] jessegreenberg commented on #107
Great, thanks for the clarification.  Friction labels are no longer grayed out when stack of items is zero.  Closing.

[2016-02-15 17:54] #107 closed

[2016-02-15 18:45] jessegreenberg commented on #142
After discussion on 2/15/16, play/pause buttons should be aligned closer to the edges of the MotionControlPanel.

[2016-02-15 18:48] jessegreenberg opened #161 "Items in toolboxes for motion screens should be vertically aligned from the bottom"
In a discussion on 2/15/16, @ariel-phet suggested that toolbox items should be transformed with scale and translation so that the bottoms of left and right items are all vertically aligned.

[2016-02-15 18:51] jessegreenberg commented on #138
It was suggested in a 2/15/16 meeting that the 'Sum of forces' label be centered relative to the items at all times, not re-centering as the arrows change geometry.

[2016-02-15 18:53] jessegreenberg commented on #153
In a meeting on 2/15/15, it was suggested that the accelerometer and speedometer:

-  [ ] Should initially and always be located to the left of the item stack
-  [ ] Should have a little more vertical space

[2016-02-15 19:04] jessegreenberg commented on #120
Colors of force arrows have high contrast when viewed in a gray scale.  @arouinfar what do you think, do we need to use PhetColorScheme.RED_COLORBLIND or change colors for color blindness and accessibility?

[2016-02-15 19:41] jessegreenberg commented on #142
Buttons with new layout:
![capture](https://cloud.githubusercontent.com/assets/6396244/13058591/70a2a0f0-d3e1-11e5-8901-9f0fec5f64d1.PNG)

[2016-02-15 20:04] jessegreenberg commented on #161
Item positions are initialized in model coordinates, so new layout will have to be done with visual inspection.
![capture](https://cloud.githubusercontent.com/assets/6396244/13059034/a7bc3f80-d3e4-11e5-94cd-a3b559337844.PNG)

[2016-02-15 20:05] arouinfar commented on #120
@jessegreenberg, I think we should stick with the red in the published version of the sim.

The contrast between the friction and applied force vectors is terrible when switching to colorblind red.
![image](https://cloud.githubusercontent.com/assets/8419308/13058868/53dbabae-d3e3-11e5-844d-82884167958b.png)![image](https://cloud.githubusercontent.com/assets/8419308/13058872/5a1983c4-d3e3-11e5-9641

[2016-02-15 20:12] ariel-phet commented on #120
Sounds good, closing

[2016-02-15 20:12] #120 closed

[2016-02-15 20:14] jessegreenberg commented on #161
![capture](https://cloud.githubusercontent.com/assets/6396244/13059202/bfd52cfc-d3e5-11e5-9e1a-f019bcf09d2a.PNG)

Done. Red line shows items are aligned along the bottom.  Leaving open, this will likely require some pixel polishing.

[2016-02-16 00:01] jessegreenberg commented on #106
These issues are caused by the optimization:

[code]

[2016-02-16 01:13] jessegreenberg commented on #106
Fixed in commit above, optimization is only applied if pusher model position changes. If forces change or the pusher falls down, the pusher node is still translated.

However, there is still a delay in the activation of the Force slider, as described by @phet-steele in https://github.com/phetsims/forces-and-motion-basics/issues/106#issuecomment-63531670.  That is a separate issue, will make anothe

[2016-02-16 01:13] #106 closed

[2016-02-16 01:15] jessegreenberg opened #162 "Enabling of force slider is delayed when velocity changes"
In https://github.com/phetsims/forces-and-motion-basics/issues/106#issuecomment-63531670, @phet-steele noted that there is a delay for activation of the 'Applied Force' slider when the velocity changes.

[2016-02-16 01:41] jessegreenberg commented on #162
A delay is coded into the step function for the Pusher's fallen property.  It is probably there so that the pusher 'stands up' if the user zeros the velocity by clicking on the box after the pusher falls over and the pusher hasn't fallen out of the view bounds yet.

[2016-02-17 23:03] jessegreenberg commented on #162
[code]
This adds a nice effect when the pusher has fallen over and is still visible in the view.  If the pusher has fallen out of the view, it doesn't make sense and there should be no delay.

[2016-02-17 23:16] jessegreenberg commented on #162
After adding the above commit I realize that the issue is actually that the slider is disabled whenever the pusher has fallen over.  However, the slider and the right force button are not disabled together.  The issue is more that the slider is disabled when it shouldn't be.  Backing out of above commit for now.

[2016-02-17 23:27] jessegreenberg commented on #162
The arrow and the slider are meant to be disabled at different times.  Reverting to initial solution in https://github.com/phetsims/forces-and-motion-basics/commit/a43dfc2de98b5d2a75a01b29923003bbacaad26b.  This should be resoled by having the pusher stand up immediately if velocity is within the allowed range and pusher is out of bounds.

[2016-02-17 23:29] jessegreenberg commented on #162
Closing.

[2016-02-17 23:29] #162 closed

[2016-02-17 23:51] jessegreenberg commented on #138
At https://github.com/phetsims/forces-and-motion-basics/commit/045dea24bb99f7e479f44dd1edb27f3370d3a75d, 'Sum of Forces' arrow is centered on item stack.

[2016-02-18 00:06] jessegreenberg commented on #105
Very easy to reproduce on the published version ( http://phet.colorado.edu/sims/html/forces-and-motion-basics/latest/forces-and-motion-basics_en.html ), but I cannot reproduce locally.

[2016-02-18 02:58] jessegreenberg commented on #108
Fixed in commit above, closing.

[2016-02-18 02:58] #108 closed

[2016-02-19 20:43] jessegreenberg commented on #137
New images added, new 'girl-holding' image seems a bit pixelated in sim.  Will try again, double checking export settings.  If that doesn't help, can try saving a larger image scaled with mipmap plugin.

[2016-02-19 20:50] jessegreenberg commented on #137
Scaling reduces image quality quite a bit.  Will try mipmaps.

[2016-02-19 21:52] jessegreenberg commented on #137
mipmap plugin helps quite a bit.  Here is a dev version with the new images for girl and man added.

http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/1.1.5-dev.14/forces-and-motion-basics_en.html

Assigning to @ariel-phet to review.

[2016-02-19 22:00] ariel-phet commented on #137
@jessegreenberg looks good! One tweak...one the motion screen, it looks like the man and girl are not centered on the skateboard (but the crate and other objects appear correct)

![famb](https://cloud.githubusercontent.com/assets/4051174/13190277/7ec35806-d719-11e5-9b94-cacaea4a7457.PNG)

Lets fix that centering issue, and then I think we can close

[2016-02-19 22:26] jessegreenberg commented on #137
Looks like a new translation issue, but I am having a hard time reproducing.  Here is what mine looks like:
![translation](https://cloud.githubusercontent.com/assets/6396244/13190853/13cd52a0-d71d-11e5-8255-f6fa80f0e738.PNG)

[2016-02-19 22:32] ariel-phet commented on #137
are there working copy changes that did not make it to the dev version?

[2016-02-19 22:33] jessegreenberg commented on #137
![capture](https://cloud.githubusercontent.com/assets/6396244/13190966/ba633f4e-d71d-11e5-8d55-f200eee299db.PNG)

After dragging lots of items around, now the girl is off center.  I am going to create a new issue to track this down.  Thanks for catching this!

@ariel-phet before we close this, do you want to handle https://github.com/phetsims/forces-and-motion-basics/issues/137#issuecomment-161738

[2016-02-19 22:34] ariel-phet commented on #137
@jessegreenberg sounds good

as for https://github.com/phetsims/forces-and-motion-basics/issues/137#issuecomment-161738404 please make a separate issue. We will adjust those once we have new artwork for the pusher from Mariah

[2016-02-19 22:39] jessegreenberg opened #163 "Girl and Man images translate left"
After https://github.com/phetsims/forces-and-motion-basics/issues/137, the new man and girl 'holding' images will translate to the left after some dragging.
![capture](https://cloud.githubusercontent.com/assets/6396244/13191152/fb61c866-d71e-11e5-829e-5527723e8f27.PNG)

[2016-02-19 22:40] jessegreenberg opened #164 "Update Screen Selection icons"
Now that the girl and man 'holding' images have been updated in https://github.com/phetsims/forces-and-motion-basics/issues/137, @amyh-phet pointed out that the 'motion' screen icon is out of date.  We will want to update this icon so that the icons and screen match in look and style.

[2016-02-19 22:43] jessegreenberg commented on #137
Closing this issue since the new images have been added and they look good.  New issues were created for the remaining items above.

[2016-02-19 22:43] #137 closed

[2016-02-19 23:24] ariel-phet commented on #164
All the screen icons (motion, friction, acceleration) should be updated.

However, https://github.com/phetsims/tasks/issues/501 needs to be completed and integrated into the sim before this update, unassigning until artwork is complete

[2016-02-19 23:42] jessegreenberg commented on #163
A way to reproduce this with predictability is to

1) Drag girl or man to skateboard
2) Apply force to item stack so that girl faces right
3) Add other person to stack
4) Remove girl or man, or switch their order on the stack

I made a recent change to fix https://github.com/phetsims/forces-and-motion-basics/issues/108, when I remove that code, the problem cannot be reproduced.

[2016-02-19 23:44] jessegreenberg commented on #163
Likely an order of operations issue.  Item is translated to the center of the stack and then rotated, when it should be rotated and then centered.

[2016-02-19 23:50] jessegreenberg commented on #163
Yes, commit above resolves the issue. Girl and Man are now always centered on drag release.  Closing.

[2016-02-19 23:50] #163 closed

[2016-02-23 19:00] ariel-phet commented on #157
@jessegreenberg this artwork is now in drive

https://drive.google.com/drive/folders/0B-YvjkIIcS_aRVFvZ2NDYlZ6Qkk

file "figure32.ai"

[2016-02-23 19:02] ariel-phet commented on #157
And let me know if you need any help generating the pngs

[2016-02-24 21:59] jessegreenberg commented on #104
Sliders in FAMB now use sun/HSlider, so the implementation is unified.  Unsure how much of the look and feel should change for sliders in this sim.  Noticing a translation issue for the thumb, if the user clicks on Thumb and then drags right, the thumb will first snap left and then continue dragging.

[2016-02-24 22:01] jessegreenberg commented on #104
This is because the origin of the SliderKnob is different from the default HSlider ThumbNode.

[2016-02-24 22:09] jessegreenberg commented on #104
Fixed in commit above.

[2016-02-24 22:10] jessegreenberg commented on #104
Adding the 'ready for review' label in case layout, look, or feel of slider needs to change before redeploy.

[2016-02-25 00:34] jessegreenberg commented on #157
New pusher images added, and they are pretty great!  Here is a dev version to play with the new images:

http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/1.1.5-dev.15/forces-and-motion-basics_en.html

Adding the 'ready for review' tag.

[2016-02-25 00:34] jessegreenberg commented on #157
Assigning to @ariel-phet for review.

[2016-02-25 00:36] jessegreenberg commented on #105
This issue was reported on a MacBook Pro, I will try to reproduce with a testing device tomorrow.

[2016-02-25 00:41] jessegreenberg commented on #86
Will verify on an OSX device tomorrow.

[2016-02-25 01:04] jessegreenberg commented on #103
Sim is very smooth on my Windows 10 machine with Firefox.  Will check on other test devices tomorrow.

[2016-02-25 01:19] samreid commented on #86
Here's a full screen screenshot from iPad Air 11" running the built version of master, if that helps!

![image](https://cloud.githubusercontent.com/assets/679486/13306679/119a6270-db23-11e5-896a-449e84426640.png)

[2016-02-25 01:23] jessegreenberg commented on #86
Yes it does, thanks @samreid!  New pusher looks pretty good, but standing phet-girl and phet-man images look pretty pixelated.

[2016-02-25 01:28] ariel-phet commented on #157
@jessegreenberg These look very good, and working nice and smoothly!

Are the images mipmapped...if not -- is that appropriate to do here? or will that hog performance and such because so many images?

[2016-02-25 01:30] jessegreenberg commented on #86
Provided assets of the standing girl and man image are pretty large, we can try the original assets with a mipmap scaling level or 1 or 2.

[2016-02-25 18:07] jessegreenberg commented on #157
@ariel-phet, the images are loaded as mipmaps.  The image quality seemed best this way, so I wanted to see if we could get away with it.  This does increase the memory footprint significantly.  It seems to be working well, but I will test on other devices.  If there are issues, we can investigate other solutions.

[2016-02-25 18:29] jessegreenberg commented on #154
Prematurely closed.  Transformation issues for the mass labels were fixed but there are still a few i18n issues present that need to be fixed.

[2016-02-25 18:30] jessegreenberg commented on #154
Gah, wrong issue.  Closing.

[2016-02-25 18:30] #154 closed

[2016-02-25 18:30] jessegreenberg commented on #136
Prematurely closed. Transformation issues for the mass labels were fixed but there are still a few i18n issues present that need to be fixed.

[2016-02-26 01:04] jessegreenberg commented on #105
Just tested this on phet test devices Jordan and Dirac, both with Chrome and Firefox.  Also tried to reproduce on my Windows 10 machine.  I could not reproduce this issue.  Closing.

[2016-02-26 01:04] #105 closed

[2016-03-02 01:46] jessegreenberg commented on #136
Looks like there are some i18n issues still on all screens.  Tracking them in this issue.

[2016-03-02 01:48] jessegreenberg commented on #142
Wondering if the play pause buttons order should be switched so that the reset button is on the same side of the control panel for all four screens.  For the 'Net Force' screen, the reset button is on the right side of the panel.  To be discussed in a review meeting.

[2016-03-03 18:16] jessegreenberg commented on #134
This issue can be closed since we have updated our method of adding accessible content using a parallel DOM tree.  We have a new method of adding a descriptions and accessible content.

[2016-03-03 18:16] #134 closed

[2016-03-03 22:24] jessegreenberg commented on #136
Sim seems good for i18n except for the 'applied force' label string:

![capture](https://cloud.githubusercontent.com/assets/6396244/13511750/c4ccbf7e-e153-11e5-9089-afad225db5fa.PNG)

That string already touches the control panel in the english sim so we don't have much room to play with for i18n.  Solution for now is to restrict the width of text in the control panel so that it can never be large

[2016-03-03 22:33] jessegreenberg opened #165 "New checkbox layout after added features"
Now that the 'values' checkbox changes the visibility of values for the gauge and acceleration readout, should it be moved out from under the 'forces' checkbox?

Also, should the 'Sum of Forces' checkbox be disabled when the 'Forces' checkbox is not checked?

[2016-03-04 23:45] jessegreenberg opened #166 "Pixel Polishing for Redeploy"
On 3/3/16 @jessegreenberg met with @ariel-phet to discuss some pixel polishing that needs to be done before the redeploy of Forces and Motion: Basics.  This issue will track those items:

- [x] Bring up items in the toolboxes vertically to give some more space between the item and bottom of toolbox.  Shrink man vertically to compensate and increase size of fridge to match size of man.

- [x] Dilat

[2016-03-05 01:16] jessegreenberg commented on #165
Being tracked in https://github.com/phetsims/forces-and-motion-basics/issues/166.  Closing

[2016-03-05 01:16] #165 closed

[2016-03-05 01:16] jessegreenberg commented on #161
Pixel polishing for this issue is being tracked in https://github.com/phetsims/forces-and-motion-basics/issues/166.  Closing.

[2016-03-05 01:16] #161 closed

[2016-03-05 01:17] jessegreenberg commented on #153
These features were added.  Pixel polishing for this issue is being completed in https://github.com/phetsims/forces-and-motion-basics/issues/166.  Closing.

[2016-03-05 01:17] #153 closed

[2016-03-05 01:19] jessegreenberg commented on #142
As mentioned in https://github.com/phetsims/forces-and-motion-basics/issues/166, the HSlider should *not* snap to zero when the sim is paused and dragging the pusher should resume play of the simulation.

[2016-03-05 01:19] jessegreenberg commented on #138
Pixel polishing for this issue is being tracked in https://github.com/phetsims/forces-and-motion-basics/issues/166.  Otherwise, label layout is finished.  Closing.

[2016-03-05 01:19] #138 closed

[2016-03-05 01:21] jessegreenberg commented on #136
i18n issues finished.  In the case above, @ariel-phet said that we will trust our translators to avoid such cases.  Closing.

[2016-03-05 01:21] #136 closed

[2016-03-07 17:18] jessegreenberg commented on #103
Just tested on an iPad, can confirm that the sim is just a little slugish.  WebGL might improve performance here.

[2016-03-07 17:25] jessegreenberg commented on #103
@samreid for this issue, do you envision a re-implementation using WebGL (in a similar way to Energy Skate Park: Basics) or is this issue more to investigate renderer settings?

[2016-03-07 17:36] samreid commented on #103
Energy Skate Park: Basics took the following WebGL strategy:

1. Move all WebGL content to the same layer (generally the front), this meant splitting up background/foreground of the bar chart, and moving the skater to the front, etc.  You can use the scenery popupDebug to see if you've got everything into a single WebGL layer (or 2 if necessary).  This pertains to the issue described in https://gi

[2016-03-07 17:38] samreid commented on #103
Another point: we are generally proceeding with quick fixes for S2015R as long as the performance is equivalent to the previously published version.  Due to the amount of work described in the preceding comment, this may make more sense to do S2015R without it to make the i18n version available asap, then leaving WebGL for future work.

[2016-03-07 17:48] jessegreenberg commented on #103
Excellent, thank you for the insight @samreid!  These steps make sense.  I discussed this on 3/3/16 with @ariel-phet and he wanted a time scale for this issue to understand whether it should be completed before the redeploy or after.  https://github.com/phetsims/forces-and-motion-basics/issues/103#issuecomment-193363279 helps put things in perspective and lays out a plan for the WebGL work.

From

[2016-03-08 01:01] ariel-phet commented on #103
@jessegreenberg postponing until after redeploy sounds good. Once the redeploys are finished, lets revisit this issue and see where it falls in your todo list.

Removing S2015R label, marking as priority deferred

[2016-03-08 16:30] jessegreenberg commented on #166
MotionControlPanel uses VerticalCheckBoxGroup whhich does not support disabled check boxes.  For this feature, we either need to support disabled check boxes in VerticalCheckBoxGroup, or create custom VBoxes for the check box groups.

[2016-03-08 23:26] ariel-phet commented on #101
We now have new vector artwork for the pusher and the man and girl (done by Mariah and checked in by @jessegreenberg). @jessegreenberg is also going to generate new screen icons (for which he can make a note about being made from screenshots).  I should be able to whittle the list down to:

cart.png
cloud1.png
crate.png
files.txt
fridge.png
grass.png
ice_overlay.png
icicle.png
license.txt
Motion_I

[2016-03-09 01:13] jessegreenberg commented on #166
VerticalCheckBoxGroup is to phase out in preference for a general layout strategy (https://github.com/phetsims/sun/issues/30).  To handle disabled checkboxes, we will need a new control panel that uses VBoxes instead of VerticalCheckBoxGroup.

[2016-03-09 02:30] jessegreenberg commented on #166
Done via https://github.com/phetsims/forces-and-motion-basics/commit/eab5af8571150134768b616660bd06dd6f77c9b8

[2016-03-09 02:34] jessegreenberg commented on #166
'Sum of Forces' check box disabled when 'Forces' check box unchecked.

[2016-03-09 16:54] jessegreenberg commented on #166
Done with commit https://github.com/phetsims/forces-and-motion-basics/commit/936f00ac2b3dafe0010e3607ae12a0692d696299.

This was done to prevent the sim from seeming broken if it is paused.  But I wonder if it could be frustrating to users that are trying to set a state of forces with the pusher when the sim is paused.

[2016-03-09 21:38] jessegreenberg commented on #164
Handling this as part of #166.

[2016-03-09 21:39] jessegreenberg commented on #142
Layout will be adjusted slightly as part of #166.

[2016-03-09 22:39] jessegreenberg commented on #166
https://github.com/phetsims/forces-and-motion-basics/commit/eea0feb665a1afdfd5cda80a0357ae772b1f05af completes

[2016-03-14 13:44] arouinfar opened #167 "Gray out Sum of Forces checkbox when Forces unchecked?"
I've been playing with dev.15 to get the Teacher Tips ready to post with the redeploy. I've noticed that it is not possible to see the Sum of Forces independently of Forces. However, the Sum of Forces checkbox remains active and can be turned on/off while Forces is unchecked. The published version of the sim behaves the same way.

I find this behavior to be a bit problematic, because users may exp

[2016-03-14 16:35] jessegreenberg commented on #167
As part of https://github.com/phetsims/forces-and-motion-basics/issues/166, I have already implemented option 1 above.

But @arouinfar makes good points for option 2, we could easily switch to that if necessary.

[2016-03-14 16:50] jessegreenberg opened #168 "Girl and man can face different directions"
While working on https://github.com/phetsims/forces-and-motion-basics/issues/166, noticed that it is possible now for girl and man to face different directions.

To reproduce, place girl on item stack, apply force with pusher, let velocity drop to 0 with friction, and then place man on item stack.

![capture](https://cloud.githubusercontent.com/assets/6396244/13752035/84acb908-e9d2-11e5-8a83-8e017

[2016-03-14 17:27] ariel-phet commented on #167
@arouinfar I had been starting to think something similar, I think option 2 is a more flexible one. That allows the flexibility to ask predictive questions and such.

[2016-03-14 17:29] jessegreenberg commented on #167
@ariel-phet and @arouinfar should the 'Sum of Forces' check box still be nested under the 'Forces' check box then?

[2016-03-14 17:34] ariel-phet commented on #167
I think in that case, do not nest.

[2016-03-14 17:41] jessegreenberg commented on #166
This is no longer desired, see https://github.com/phetsims/forces-and-motion-basics/issues/167

[2016-03-14 18:07] arouinfar commented on #167
@ariel-phet thanks!

@jessegreenberg if you un-nest Sum of Forces, you may also want to do the same for Values, as it applies to the Speed and Acceleration too.

[2016-03-14 18:09] jessegreenberg commented on #167
Good point @arouinfar, that was already done as part of #166 for that exact reason.

[2016-03-14 18:10] arouinfar commented on #167
Looks like I should have reviewed #166 more carefully. :)

Thanks @jessegreenberg!

[2016-03-14 18:13] jessegreenberg commented on #168
Fixed in above commit, closing.

[2016-03-14 18:13] #168 closed

[2016-03-14 19:03] jessegreenberg opened #169 "Add JSDoc"
There are a few files that are missing JSDoc.  Since we are approaching the redeploy, now would be a good time to add this.

[2016-03-15 01:51] ariel-phet commented on #101
@jessegreenberg I think I have taken care of everything necessary here, can you look it over and if all look good close (or if more is needed assign back to me).

[2016-03-16 17:00] jessegreenberg opened #170 "Update 'Mystery Object' image?"
The mystery object is the only item that does not line up with the pusher when it is being pushed on its own on the 'Friction' screen.  Is it worth updating this image?

![capture](https://cloud.githubusercontent.com/assets/6396244/13821200/3d94e1ae-eb66-11e5-9097-314b4a4dda6b.PNG)

[2016-03-16 17:03] jessegreenberg opened #171 "Hard code accessibility strings in S2015R release branch"
For accessibility, many (very long) strings have been added to the strings.json file that should not be provided to translators yet.  We should make sure that these strings do not show up on the translation utility or remove them before the sim is redeployed.

[2016-03-16 17:16] jessegreenberg commented on #170
Also, if this is done should it be added before the redeploy?

[2016-03-16 17:17] jessegreenberg commented on #104
One file thing before this can be closed: The 'thumb' needs to look disabled when the slider is disabled.

[2016-03-16 17:23] ariel-phet commented on #170
@jessegreenberg yes...this does seem like it would be good to update. Besides the bow on the one has always been a bit poor quality. I will see if I can get you something soon.

And yes, would be good to add before redeploy

[2016-03-16 17:53] jessegreenberg commented on #104
Done in commit above.  Further pixel polishing will be part of #166.

[2016-03-16 17:53] #104 closed

[2016-03-16 17:56] jessegreenberg commented on #164
Icons updated, but leaving this issue open until they are reviewed in #166.

[2016-03-16 18:47] jessegreenberg commented on #101
Looks good @ariel-phet, just checked and each file in images has a corresponding .ai file in assets.  Added notes about icon generation in images license, and added assets for sitting/standing/holding girl and man.  Closing.

[2016-03-16 18:47] #101 closed

[2016-03-16 20:09] jessegreenberg commented on #157
Indeed, sim does not launch on iPad2, hangs on loading screen.  Removing PusherNode references from MotionScreenView allows sim to launch again.

We can export smaller images from the assets directly, and hopefully maintain decent resolution without mipmaps.

First I will try replacing mipmap with image plugin in PusherNode to make sure this fixes the loading issue.

[2016-03-16 23:52] jessegreenberg commented on #157
Replaced mipmaps with images, sim loads on iPad2 once more.  Will try exporting smaller images to avoid mipmaps.

[2016-03-17 01:03] jessegreenberg commented on #157
Pusher images pre scaled with Illustrator, images look crisp in simulation, sim runs on iPad. Closing.

[2016-03-17 01:03] #157 closed

[2016-03-17 06:17] ariel-phet commented on #170
@jessegreenberg I updated the .ai file

https://github.com/phetsims/forces-and-motion-basics/blob/master/assets/mystery-object-01.ai

See if this new image works for you (I think it will be tall enough now, but will be easy to tweak if it needs to be bigger).

[2016-03-17 15:22] jessegreenberg commented on #170
Size looks good to me:

![capture](https://cloud.githubusercontent.com/assets/6396244/13850782/12df9fce-ec21-11e5-80ed-3069b507a5d8.PNG)

Leaving open until reviewed with other items in a dev version as part of #166.

[2016-03-17 15:29] jessegreenberg commented on #166
All items in checklist completed.  Here is a dev version where these items can be reviewed:
http://localhost:8080/forces-and-motion-basics/forces-and-motion-basics_en.html

Assigning to @ariel-phet to review.

I will also submit this version for dev testing.  At this point many features have been added and should be tested before an RC.  Remaining issues for the redeploy should be minimal and can

[2016-03-17 16:36] jessegreenberg commented on #166
In 3/17/16 stattus meeting @ariel-phet reported some performance issues on his machine as well as a layout issue on the 'Friction' screen for the check boxes now that their layout has changed.  These issues should be addressed before a dev version is reviewed and tested.  Reassigning to myself.

[2016-03-17 16:44] jessegreenberg opened #172 "Jittery animation and performance investigation"
In 3/17/16 status meeting, @ariel-phet reported that there is some jittery behavior on his machine (Windows 10 Firefox) during sim animation.  This should be investigated and addressed before the redeploy.

@pixelzoom suggested that this may due to burdens on the garbage collector.

[2016-03-17 16:47] jessegreenberg opened #173 "Fix layout of 'Friction' control panel"
The check boxes in the control panels are centered in their layout.  This looks strange in the 'Friction' screen due to one element that has a larger width than the others.

To fix this, we should try to align the control panel items to the left to see how that looks.  This way control panel layout may match across screens.

[2016-03-17 16:49] jessegreenberg commented on #173
For reference...

'Acceleration' Control panel:
![capture](https://cloud.githubusercontent.com/assets/6396244/13853769/e05bca7a-ec2d-11e5-9641-86df40451c63.PNG)

'Friction' control panel:
![capture2](https://cloud.githubusercontent.com/assets/6396244/13853773/e8b0d562-ec2d-11e5-865d-5e0305bbb44a.PNG)

[2016-03-21 18:13] oliver-phet opened #174 "User suggestion: Add timer, simplify speedometer"
Dear Phet,

On the "Forces and Motion: Basics" simulation, I really like the speed dial that can show up.  I would like to make one suggestion or request.

Could you add a timer?
Could you change speed calculations so that the dial represents simpler #'s?

I would like to be able to give my students the F=ma equation and the a=v/t equation and then use the app and timer to calibrate the clock or t

[2016-03-21 18:13] oliver-phet commented on #174
@ariel-phet Can you comment on this suggestion?

[2016-03-21 18:29] ariel-phet commented on #174
@oliver-phet we will not be adding a timer to the sim, but you can let the user know that in an upcoming version (to be redeployed within a couple of weeks) the speedometer will have a readout option (if the "values" checkbox has been checked).

In that version each tick mark represents 1 m/s (which seems like a very easy simple to interpret division)

[2016-03-21 18:49] oliver-phet commented on #174
Emailed user. Closing.

[2016-03-21 18:49] #174 closed

[2016-03-23 18:14] jessegreenberg commented on #173
Controls in panel are now aligned to the left. Layout after the change:

![capture-1](https://cloud.githubusercontent.com/assets/6396244/13995851/b7731bb4-f0f0-11e5-88c5-44def26c01fb.PNG)

![capture-2](https://cloud.githubusercontent.com/assets/6396244/13995852/bac93550-f0f0-11e5-99f0-7b2377a489a7.PNG)

[2016-03-24 15:59] jessegreenberg commented on #166
#172 is the last issue that needs to be investigated before a dev version is ready for review and testing.

[2016-03-28 19:13] jonathanolson opened #175 "[branch] performance-gc"
For tests to help with https://github.com/phetsims/forces-and-motion-basics/issues/172.

[2016-03-28 19:29] jonathanolson commented on #172
Common code commits and commits to the performance-gc branch on the sim have taken it to a point where our tools don't show any objects being created (phetAllocation and https://github.com/phetsims/joist/issues/330), however usually (but not always!) there is an incremental GC step on EVERY animation frame that takes up almost exactly 10ms every time.

This seems somewhat similar to https://bugzil

[2016-03-28 23:48] jessegreenberg commented on #173
Hmm on very close inspection,it looks a little strange to have the slider aligned to the left with the check boxes.  Maybe the slider should be centered in the panel while the check boxes are aligned to the left?

I will give this a try.

[2016-03-28 23:54] jessegreenberg commented on #171
Taking a look at Rosetta/js/routes.js, it looks like strings marked with ```visible: false``` are not added to the various string arrays.  Perhaps we can double check with a dev version in a  test with the translation utility?

[2016-03-29 16:32] jessegreenberg commented on #172
It seems we have three possibilities at this point for investigating this further:

- Review code, looking for any objects that are being created and destroyed every frame
- Investigate a method of listening for *all* objects that are created to understand why GC is under occasional excessive use
- Submit a bug report to Firefox as a last resort, or hope that Firefox GC improves in newer versions

[2016-03-29 17:12] jessegreenberg commented on #173
Changed the layout structure slightly so that the check boxes are aligned to the left of the panel, with the slider centered under them.

[2016-03-29 22:33] jessegreenberg commented on #86
Recently tried to export pre-scaled images from AI, but there was a reduction in quality from the scaling in illustrator that is now visible in all browsers.  I will try to export with some other settings to see if I can get sharp images exported at the dimension we need.

If that doesn't help, I will try to scale *up* the images in illustrator do a dimension where we can use a first level mipmap.

[2016-03-30 02:29] ariel-phet commented on #172
@jessegreenberg can you publish a latest dev version with performance improvements so I can test on a few devices?

Generally, I would say a full review is not currently warranted, and the recent improvements may well be enough.

[2016-03-30 13:01] samreid commented on #86
Please try File=>"Save for Web"  The File=>Export option doesn't seem to have any scaling options.

[2016-03-30 16:37] jessegreenberg commented on #86
Yes, "Save for Web" is what I tried initially.  I was hoping something like

"Object"=>"Transform"=>"Scale"  then "Export" .png with resolution and anti-aliasing options would help export higher quality images.

[2016-03-30 21:39] jessegreenberg commented on #86
@samreid briefly collaborated with me on this.  We played with a few image scaling options and determined that in Firefox, most images looked fuzzy after being scaled in Joist.

We determined that using mipmaps for these images was the best way to go and offered the best clarity of image for OSX + Safari.

[2016-03-30 21:55] jessegreenberg opened #176 "Update some assets"
While investigating #86 it was noticed that the asset for the standing man and girl were not up to date.  The .ai file was missing details, like the pockets, which are in the images in master.

[2016-03-30 22:44] jessegreenberg opened #177 "Update some assets"
While investigating #86 it was noticed that the asset for the standing man and girl were not up to date.  The .ai file was missing details, like the pockets, which are in the images in master.

[2016-03-30 22:48] jessegreenberg commented on #177
Why did github open this twice?  Bad octocat... :octocat: Duplicate, closing.

[2016-03-30 22:48] #177 closed

[2016-03-31 15:41] jessegreenberg commented on #172
Sure, here is a dev version with a few performance improvements to reduce garbage collection.

http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/1.1.5-performance-gc/forces-and-motion-basics_en.html

[2016-03-31 16:32] jessegreenberg commented on #166
The version id needs to be bumped for this version as well.

[2016-03-31 16:38] ariel-phet commented on #172
@jessegreenberg definitely an improvement, lets move forward with dev testing and bump to 2.0

[2016-03-31 18:03] jessegreenberg commented on #176
Assets updated, closing.

[2016-03-31 18:03] #176 closed

[2016-03-31 18:52] jessegreenberg commented on #172
Merged gc performance enhancements into master.

[2016-03-31 19:23] jessegreenberg commented on #166
@ariel-phet here is the dev version that was submitted for dev testing:
http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/2.0.0-dev.1/forces-and-motion-basics_en.html

Would you please also review the new features in this version and review the pixel polishing changes associated with this issue?  Let me know if any further changes are necessary.

[2016-03-31 20:42] phet-steele commented on #173
@jessegreenberg this fix is not in 2.0.0-dev.1, was it supposed to be? Check boxes are still centered. phetsims/tasks/issues/562

[2016-03-31 21:33] phet-steele commented on #166
@jessegreenberg, the thumb of the sliders was never updated to the common one. FAMB has a unique looking thumb with six little dots. Do we want to change this to the normal thumb?
![thumb](https://cloud.githubusercontent.com/assets/5863899/14191595/d83a211a-f755-11e5-8b7f-cc049bd91cb2.PNG)

[2016-03-31 21:42] phet-steele commented on #173
They don't appear to be centered aligned though, so that's good. With `?stringTest=double` they look decent:
![doublefriction](https://cloud.githubusercontent.com/assets/5863899/14191784/13624fd2-f757-11e5-9d62-1e5bdebcbaa9.PNG)

Default is what looks wrong:
![singlefriction](https://cloud.githubusercontent.com/assets/5863899/14191810/2dd1c726-f757-11e5-91f4-e833e4b16ab2.PNG)

[2016-04-01 05:49] ariel-phet opened #178 "Pusher not layered in front of skateboard"
As shown below you can see the pusher is not layered in front of the skate board, this causes an odd perspective when the pusher move across the skateboard.

To reproduce:
1. push on one side to get the object going a bit
2. push briefly on the opposite side and then remove force so object passes in front of stationary pusher

![layering](https://cloud.githubusercontent.com/assets/4051174/14198781

[2016-04-01 05:50] ariel-phet commented on #178
Related to https://github.com/phetsims/tasks/issues/562

[2016-04-01 05:58] ariel-phet commented on #166
@jessegreenberg a few either minor pixel polishes

- [ ] On the motion screen, expand the control panel horizontally a bit (as shown in mockup below). I think this gives a better separation and grouping to the play/pause buttons
- [ ] On motion, friction, and acceleration screens left align play button with left edge of control panel, and right align reset all button with right edge of control pan

[2016-04-01 06:13] ariel-phet opened #179 "Speed value intially reads "1.0 m/s" if nothing is touched"
Occurs on all motion screens

To reproduce:
1. Open one of the motion screens (motion, friction, acceleration)
2. Check "Speed" and "Values"
3. The speedometer will read "1.0 m/s" even though the object is stationary

related to https://github.com/phetsims/tasks/issues/562

[2016-04-01 16:48] jessegreenberg commented on #166
I asked @ariel-phet this a few weeks ago, and we decided to keep this custom thumb style for the motion screens.

[2016-04-01 17:04] phet-steele commented on #166
@jessegreenberg :+1:

[2016-04-01 17:25] phet-steele commented on #179
@ariel-phet @jessegreenberg the speedometer will revert to showing 1.0 m/s every time it is made visible, even if something is moving. Try enabling the speedometer, get something moving to some speed, disable and re-enable the speedometer.

[2016-04-01 17:35] phet-steele commented on #178
@jessegreenberg it appears everything in this screen is layered behind the skateboard. This looks weird when dragging objects to be placed.

[2016-04-01 17:45] phet-steele commented on #178
@mariahmaephet please mock up the new PhET Cyclops Girl :wink::
![cyclopsgirl](https://cloud.githubusercontent.com/assets/5863899/14215268/3c1baeb6-f7ff-11e5-85fb-a484dafb048a.PNG)

[2016-04-01 22:16] jessegreenberg commented on #171
I think that I misunderstood the behavior of ```visible: false```, it looks like this flag is more for cuing information to the translator and the string will still be visible in the translation utility.

To make sure that acccessibility strings are not in the translatable set, they should be removed from the json file, and hard coded in the sim.  This could be done *in the release branch* so that

[2016-04-01 22:19] jessegreenberg commented on #171
I should mention that we don't want accessibility strings to be translatable because the content is still in prototype phase.  Keyboard navigation for the motion screens is incomplete, and the design for accessibility in the Net Force screens should be updated based on what we have learned from recent testing and discussions.

[2016-04-01 22:27] jessegreenberg commented on #179
It looks like this was recently introduced in the refactor and merge for performance and garbage collection (ab6c09bc6ec7d5214df15706c9452afd9b2981b8).

[2016-04-01 22:34] jessegreenberg commented on #179
We removed the callbacks to reduce the amount of garbage, but
[code]
passes showSpeed (boolean) into updateReadout which should take a numeric value. Math.abs( true ) === 1, which is what we are seeing here.

[2016-04-01 22:45] jessegreenberg commented on #179
Fixed in above commit.

[2016-04-01 22:51] jessegreenberg commented on #178
Pusher has been moved in front of skateboard.

![pusher](https://cloud.githubusercontent.com/assets/6396244/14222116/0734dd6e-f82a-11e5-8f2d-f579380fb657.png)

[2016-04-01 22:59] jessegreenberg commented on #178
Fixed as well.  In the https://github.com/phetsims/forces-and-motion-basics/issues/178#issuecomment-204486397, it also looks like the items are behind the force controls, which is a deviation from the published version.

[2016-04-01 23:26] jessegreenberg commented on #178
Item layering mostly matches the deployed version, and PhET girl is back to her usual self.
![layer](https://cloud.githubusercontent.com/assets/6396244/14222494/8300e4a2-f82e-11e5-891a-6588081e2208.PNG)

However, items from the right toolbox are layered in front of the items from the left toolbox.  This is a deviation from the deployed version, and was introduced in a restructuring for accessibili

[2016-04-01 23:55] jessegreenberg commented on #178
Fixed in commit above.  Layering should match deployed version except that now the pusher is in front of skateboard.

[2016-04-01 23:59] jessegreenberg commented on #173
Yes it was!  I merged with another branch right before publishing dev version, maybe something was botched in the merge.

[2016-04-02 00:45] jessegreenberg commented on #171
Changing title of issue to reflect this.

[2016-04-02 01:29] jessegreenberg commented on #166
Done in above commit.  This removes the overlapping with the 'masses' label, but the friction force value is a bit harder to read now.
![capture](https://cloud.githubusercontent.com/assets/6396244/14223671/114353d8-f840-11e5-8e6d-38759cf1c824.PNG)

[2016-04-02 01:37] jessegreenberg commented on #179
@phet-steele could you please verify that this is fixed?  Here is a dev version with the change:

http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/2.0.0-dev.2/forces-and-motion-basics_en.html

[2016-04-02 01:41] jessegreenberg commented on #178
Here is a dev version with the new layering:

http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/2.0.0-dev.2/forces-and-motion-basics_en.html

The only case it looks strange is when an item is dragged under the pusher:
![capture](https://cloud.githubusercontent.com/assets/6396244/14223704/5410e080-f841-11e5-9745-0424005f76fe.PNG)

Now that the items are in front of the skateboa

[2016-04-02 01:43] jessegreenberg commented on #166
@ariel-phet here is a dev version with these changes:

http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/2.0.0-dev.2/forces-and-motion-basics_en.html

Assigning to you again for review.

[2016-04-02 02:18] ariel-phet commented on #166
@jessegreenberg two things:

1. How about in that overlapping case if you just right "94 N" to the right of "Friction Force" I think that will make it easier to read and not have much interference with other things

2. On the motion screen it looks like objects are sitting a pixel or two too low on the skateboard instead of right on top of it

![box](https://cloud.githubusercontent.com/assets/4051

[2016-04-02 02:22] ariel-phet commented on #178
Ah yes, looking at the deployed version, layering the pusher behind items and the skateboard works more naturally.

[2016-04-02 02:23] ariel-phet commented on #166
BTW, this slight misalignment exists in the deployed version (but seems like it would be good to fix)

[2016-04-04 15:17] phet-steele commented on #179
@jessegreenberg indeed it is fixed :+1:

[2016-04-04 17:28] jessegreenberg commented on #179
Thank you @phet-steele, closing.

[2016-04-04 17:28] #179 closed

[2016-04-04 18:11] oliver-phet commented on #142
Another request for this feature was received via phethelp on 4/4.

[2016-04-04 18:19] phet-steele opened #180 "Significant delay before being able to push again after a fallen position"
If the pusher enters his fallen position because max speed is reached, there is a significant amount of time before the pusher will "stand" again after an object dips back below max speed. @jessegreenberg Disclaimer: it makes sense to me that the pusher won't immediately stand again when he is still on screen (for various reasons); this issue deals with the pusher being off screen for awhile and a

[2016-04-04 18:30] phet-steele commented on #173
@jessegreenberg fixed in 2.0.0-dev.2! :tada:

[2016-04-04 18:45] jessegreenberg commented on #180
This is question for @ariel-phet since this is how the deployed version behaves.  For the disclaimer:

I am not sure what those reasons are so maybe there is a purposeful delay even when the pusher is off screen.

[2016-04-04 19:13] phet-steele opened #181 "Pause Problem: Acceleration values don't update"
When the sim is paused and acceleration is checked, the acceleration value does not change when dynamically applying force. The values don't update until a time step.
Should be 3.3:
![accel1](https://cloud.githubusercontent.com/assets/5863899/14259275/6f45944e-fa63-11e5-9674-41036e2dfa1a.PNG)

Should be to the left:
![accel2](https://cloud.githubusercontent.com/assets/5863899/14259289/812211d8-fa6

[2016-04-04 19:13] phet-steele opened #182 "Pause Problem: Sitting pusher still shown when applying a force"
Achieve max speed and pause the sim, preferably with the fallen pusher still shown. When the sim is paused, apply some force. The pusher will not get back up until a time step:
![lazypusher](https://cloud.githubusercontent.com/assets/5863899/14259680/2c396912-fa65-11e5-8103-5649b9f87549.PNG)

Similar to #66. Seen on all Win 10 browsers. For phetsims/tasks/issues/562.

Troubleshooting information:

[2016-04-04 19:13] phet-steele opened #183 "Pusher's hand position doesn't update for new objects' size"
Use the tweakers to apply force on an object of your choice (I used the PhET girl). While force is still applied, pause the sim and replace your object with a new one (I used the fridge). Do this by placing the second object on top of the first, then remove the first. Otherwise the applied force and pusher will reset. The pusher will not have re-positioned itself even after resuming the sim. Chang

[2016-04-04 19:19] phet-steele commented on #180
@jessegreenberg If any friction is applied to the object, then the object will immediately dip back below max speed. The pusher would, I assume, only be fallen for a frame or so in this case (which sure doesn't seem ideal to me) if there was no logic to keep the pusher fallen for a bit.

[2016-04-04 19:23] phet-steele commented on #180
Actually this brings up a bigger issue I'll detail in a new issue and reference to this one shortly.

[2016-04-04 19:49] jessegreenberg commented on #180
Ah, good point @phet-steele.  So maybe if the pusher is off screen we should have no delay.

[2016-04-04 19:59] phet-steele opened #184 "Pause Problem: Tweakers enabled when slider is still grayed"
I'm considering this a "Pause Problem" since this issue is much more obvious when the sim is paused.
@jessegreenberg this is largely a consequence of tweakers re-enabling at any point an object is not at max speed (unlike the force slider).

1. Go to the "Friction" screen.
2. Set friction to max, use the tweakers to apply max force.
3. A second after the pusher falls, pause the sim.
4. Since the p

[2016-04-04 20:00] phet-steele commented on #184
Knew I'd forget to finish the title before submitting.....

[2016-04-04 20:12] phet-steele commented on #183
This actually doesn't need to involve pausing at all.

[2016-04-04 20:22] phet-steele commented on #170
@ariel-phet @jessegreenberg still looks pretty low quality to me, even on the high rez retina displays. Compared to a box:
![fuzzybox](https://cloud.githubusercontent.com/assets/5863899/14261825/b5ff772c-fa6f-11e5-9358-2d5078b9ac81.PNG)

[2016-04-04 21:28] jessegreenberg commented on #184
To match the behavior of the deployed version, pressing the tweaker buttons should make the pusher stand up and the slider should update accordingly.

[2016-04-04 21:30] jessegreenberg commented on #184
Should be fixed in the above commit.

[2016-04-04 21:49] jessegreenberg commented on #183
This is an issue for the deployed version.  Whenever the item stack changes we should update the pusher's applied force position.

[2016-04-04 21:51] jessegreenberg commented on #183
Should be fixed in the commit above, to be verified.

[2016-04-04 22:17] jessegreenberg commented on #182
Should be fixed in commit above.

[2016-04-04 23:17] jessegreenberg commented on #181
I would like to create a new issue for the water bucket because I have a design question about that.

[2016-04-04 23:23] jessegreenberg opened #185 "When should the water bucket update?"
In https://github.com/phetsims/forces-and-motion-basics/issues/181 @phet-steele pointed out that the geometry of the water bucket does not update until there is a time step, even when it is in the toolbox. The water *should* be level when it is home.

![image](https://cloud.githubusercontent.com/assets/6396244/14266955/7e223032-fa89-11e5-9aa3-5bb3cb708c59.png)

When the sim is paused, should the w

[2016-04-04 23:24] jessegreenberg commented on #185
After thinking about it, it seems that if the acceleration readout updates when the sim is paused, the water level should as well.

[2016-04-04 23:57] jessegreenberg commented on #185
The water is now always level in the toolbox and updates when the sim is paused.  This seems like the correct behavior to match the acceleration readout and force vectors.  @ariel-phet if this is correct, please close.

[2016-04-04 23:58] jessegreenberg commented on #181
Fixed in the above commit, pending testing.

[2016-04-05 00:04] jessegreenberg commented on #178
Fixed in the above commit, pending testing.

[2016-04-05 00:37] jessegreenberg commented on #173
Great, thanks @phet-steele.

[2016-04-05 05:37] ariel-phet commented on #185
@jessegreenberg I do agree the water should always be level in the toolbox.

However, I while the sim is paused, I do not think either the water bucket OR the acceleration meter should update until you have pressed play. For instance, suppose everything is stationary, you pause the sim, and then you apply a force with the slider. You have now "set up" an experiment. There is not any acceleration u

[2016-04-05 05:45] ariel-phet opened #186 "Levitating bucket on acceleration screen"
Platform independent and only seems to happen the water bucket on 2.0.0-dev.2

To reproduce:
1. Go to the acceleration screen
2. put wooden crate back in tool box
3. pull out water bucket and set on the ground
4. Now lift water bucket above the position shown below and release
5. Bucket will stay hanging in the air

Note you can also do this with the bucket place on top of the crate or such, and t

[2016-04-05 05:56] ariel-phet commented on #180
Agreed, if the pusher is off screen there should be no delay

Also agreed that as @phet-steele show in https://github.com/phetsims/forces-and-motion-basics/issues/180#issue-145763985 if you grab the object and release you should be able to push on the object.

@jessegreenberg wouldn't a simple rule be that if the object is below max speed the pusher is always "available" in a sense. So for example

[2016-04-05 14:42] jessegreenberg commented on #186
Sorry about that, this was fixed in commit 7587c31fef7ed219e96e3eb4694520e6baf4776b.  Closing.

[2016-04-05 14:42] #186 closed

[2016-04-05 14:44] jessegreenberg commented on #181
The acceleration meter and water bucket should not update when sim is paused.  See @ariel-phet's comment in https://github.com/phetsims/forces-and-motion-basics/issues/185#issuecomment-205654637

[2016-04-05 14:47] jessegreenberg commented on #185
I see, thank you for explaining this @ariel-phet.  I will change it so that the acceleration readout and water bucket update when sim is playing (or stepped), and the water bucket will be level when home in the toolbox.

[2016-04-05 16:43] phet-steele opened #187 "Drags aren't canceled after a reset all"
A multi-touch issue that leads to some interesting things depending on what object is being dragged while pressing the reset all button. Ignore the bad performance in the videos, it isn't the sim's fault.

1. Objects being dragged before the reset are returned to the tool box, but can then be dragged out again without the images scaling up. This causes the objects to appear smaller when placed on

[2016-04-05 17:09] phet-steele commented on #180
@jessegreenberg @ariel-phet I don't see any problems right away with this. As long as the sim NEVER grays half of the slider when friction > 0, I think this will be a decent change. Otherwise I'm thinking the sim will have an annoying "flicker" when the slider grays then immediately enables when dipping below max speed. So the "Motion" screen will always gray at max speed (since no friction), and

[2016-04-05 17:27] phet-steele commented on #187
@jessegreenberg from phetsims/scenery/issues/218 I'm guessing this should be deferred?

[2016-04-07 04:57] jessegreenberg commented on #187
In this case, we might be able to handle this sim-side until https://github.com/phetsims/scenery/issues/218 is addressed.  I will take a quick look before deferring.

[2016-04-07 05:19] jessegreenberg commented on #180
It will be important to cancel the drag event on the pusher and the slider if the user is applying force.  Otherwise, the pusher will stand up and fall down again very quickly while the user is still dragging.  This would also fix the flickering gray slider mentioned by @phet-steele.

Otherwise, I can't think of any other issues.

[2016-04-07 22:07] jessegreenberg commented on #185
Should be fixed via #181.  Water bucket doesn't update water level unless sim is playing or step is pressed.  The water becomes level when the user drags the bucket.  Closing.

[2016-04-07 22:07] #185 closed

[2016-04-07 22:13] jessegreenberg commented on #181
The Acceleration readout and water bucket node do not update until sim is playing or user hits step.  Closing.

[2016-04-07 22:13] #181 closed

[2016-04-07 22:38] jessegreenberg commented on #187
Also an issue for the Net Force screen.

[2016-04-07 22:56] jessegreenberg commented on #187
Should be fixed, marking as fixed-pending-testing.

[2016-04-12 15:37] jessegreenberg opened #188 "branch: accessible-instance"
New branch was created for accessibility to enable accessible content by default.  Primarily created for the deployment of the 'Net Force' screen accessibility prototype since we do not want accessibility enabled by default in master.

[2016-04-13 23:44] jessegreenberg commented on #180
34b0d0c295f97bfdefb4b8ee49c47f1269918022 related to this.

[2016-04-14 00:00] jessegreenberg commented on #180
This is done in the commits above, marking status as pending testing for the next dev version.

[2016-04-14 17:13] jessegreenberg opened #189 "Pusher snaps positions when applying force"
If the pusher has fallen and the sim is paused, applying force does not update the 'fallen' pusher position, so if the force is set to zero again while paused the pusher will snap to its old position again.

[2016-04-14 17:15] jessegreenberg commented on #189
Steps to reproduce:

- apply force on stack until pusher falls over.
- pause sim
- apply force with tweaker button while sim is paused
- press tweaker button again so that the force is zero

Pusher will snap between two positions

[2016-04-14 17:17] jessegreenberg commented on #189
This must be related to the step function, if you step the sim so that we have

- apply force on stack until pusher falls over.
- pause sim
- apply force with tweaker button while sim is paused
- step sim
- press tweaker button again so that the force is zero

position of pusher is updated correctly.

[2016-04-14 19:52] jessegreenberg commented on #189
Fixed in the above commit.  Closing.

[2016-04-14 19:52] #189 closed

[2016-04-14 20:32] jessegreenberg commented on #166
@ariel-phet here is a new dev version with these changes.  Would you mind reviewing this version and letting me know if anything else needs to be adjusted?

http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/2.0.0-dev.2/forces-and-motion-basics_en.html

[2016-04-14 21:01] jessegreenberg commented on #170
Asset image quality looks much better, so this is likely due to scaling issues.  I will investigate.

[2016-04-14 21:32] jessegreenberg commented on #170
Looking much better now:
![capture](https://cloud.githubusercontent.com/assets/6396244/14544388/0d119bc4-0256-11e6-8750-377e53943138.PNG)

[2016-04-14 21:34] jessegreenberg commented on #170
Looking pretty sharp on both Windows and OSX Firefox!

[2016-04-14 22:34] jessegreenberg commented on #86
In commit above, we are using mipmap plugin for the images instead of the image plugin.  Resolution is slightly better on OSX Firefox, but still not as crisp as other browsers.

[2016-04-18 19:19] ariel-phet commented on #166
@jessegreenberg all looks great! Closing

[2016-04-18 19:19] #166 closed

[2016-04-18 20:38] jessegreenberg commented on #167
#166 was closed, so this one can be too.

[2016-04-18 20:38] #167 closed

[2016-04-18 20:39] jessegreenberg commented on #173
Verified as fixed, closing.

[2016-04-18 20:39] #173 closed

[2016-04-18 20:39] jessegreenberg commented on #164
#166 was closed so this issue can be as well.

[2016-04-18 20:39] #164 closed

[2016-04-18 20:40] jessegreenberg commented on #142
This feature has added and the layout was checked in #166.  Closing.

[2016-04-18 20:40] #142 closed

[2016-04-18 20:41] jessegreenberg commented on #172
#166 was closed, and it was determined that reducing the number of closure functions was sufficient for reducing jittery behavior and burden on the GC.  Closing.

[2016-04-18 20:41] #172 closed

[2016-04-18 20:43] jessegreenberg commented on #175
Performance enhancements in performance-gc were deemed sufficient to close #172.  Changes were merged with master.  This branch has been deleted, closing.

[2016-04-18 20:43] #175 closed

[2016-04-18 20:44] jessegreenberg commented on #170
Closing this issue, resolution of image improved.  If any resolution issues come out of dev/rc testing, new issues will be created.

[2016-04-18 20:44] #170 closed

[2016-04-18 21:54] jessegreenberg commented on #169
above commit closes this issue.

[2016-04-18 21:54] #169 closed

[2016-04-19 22:37] phet-steele commented on #178
@jessegreenberg 2.0.0-dev.2 pusher is in far back, skateboard is in the stack layer, and all dragged items are layered in the front. Nice! :+1:

[2016-04-19 22:37] #178 closed

[2016-04-19 22:40] phet-steele commented on #182
Yup, fixed in 2.0.0-dev.2

[2016-04-19 22:40] #182 closed

[2016-04-20 15:04] phet-steele commented on #184
Fixed.

[2016-04-20 15:04] #184 closed

[2016-04-20 17:22] phet-steele commented on #183
@jessegreenberg all good except for how the PhET girl is handled.
1. Place her at the bottom of the stack (with nothing else above her at first) and apply minimal force.
2. Place a second object above her.
3. Grab the second object again and you'll see the pusher move slightly; release the object back into the stack and the pusher will move again. Repeat as desired to see him move back and forth.

[2016-04-20 17:33] phet-steele commented on #180
@jessegreenberg the current fix has indeed broken the sim in the way I described over Skype and repeated here:
1. Begin by applying force with friction enabled followed by pausing the sim.
2. Step the sim right up to the point where the object reaches max speed, **but not one step further**.
3. Due to the fix, whenever friction is > 0, sliders do not disable. So at this moment *exactly* when the p

[2016-04-20 17:40] ariel-phet commented on #180
@jessegreenberg this is definitely a "Steele Special" so if it is not an easy fix, it does not need to be done for the redeploy. Someone would need to be very devious to recreate this situation

[2016-04-20 17:47] phet-steele commented on #180
@ariel-phet I don't know, I don't find it too hard to believe a user would investigate the sim state just as max speed is reached. It wouldn't be too much of a logical leap from there to apply more force.

[2016-04-20 17:48] ariel-phet commented on #180
@phet-steele I am not saying to not fix the issue, I am saying to not fix it for the redeploy if it is a coding rat hole

[2016-04-20 18:00] phet-steele commented on #187
@jessegreenberg the current fix still leads to the sim being quite broken.
1. Go to the Friction screen.
2. Grab the default box with one finger, reset the sim with the other.
3. While still holding the box in place, use another finger to hold down a tweaker (for maybe 3 secs).
4. Place the box back into place (not the toolbox).

Video capture rate isn't fast enough (so try it yourself), but once

[2016-04-20 18:02] phet-steele commented on #180
@ariel-phet gotcha, I was thinking you were going to mothball this like you would a multitouch issue :smile:

[2016-04-20 18:17] ariel-phet commented on #180
Nope, basically it will be a judegement call on the part of @jessegreenberg

[2016-04-20 23:18] jessegreenberg commented on #183
I am curious why this is not an issue for the man.  My guess is that it is because the girl tilts her head back slightly when in the 'holding' position, slightly increasing the width of the node.  But the pusher's hands only care about the width of the 'normal sitting' position.

[2016-04-20 23:39] jessegreenberg commented on #183
When you click on the item the girl is holding for the first time, she slides a little bit to the left.

[2016-04-20 23:46] jessegreenberg commented on #183
I am noticing that ```item.armsUp()``` is always returning true, even if the the PhET Girl and Man don't need to raise the roof.

[2016-04-21 00:07] jessegreenberg commented on #183
It looks like we are trying to set the image to 'sitting' when it should stay 'holding' and the shift is noticeable because the 'sitting' and 'holding' images have different widths.

[2016-04-21 16:05] phet-steele commented on #180
Commit fixed it, thank @jessegreenberg. I don't see other problems at the moment so closing.

[2016-04-21 16:05] #180 closed

[2016-04-21 16:35] phet-steele commented on #187
Commit fixed it, thanks @jessegreenberg. There's other multitouch problems that having nothing to do with dragging and resetting, so closing this.

[2016-04-21 16:35] #187 closed

[2016-04-21 20:30] phet-steele opened #190 "iPad performance"
The iPad Air 2 named Leibniz (our beefiest tablet) has a very noticeable ,presumably, garbage collection every 30 seconds. You can see this easily on any motion screen. Set friction to 0 and let an object travel at max speed. Eventually you'll see the performance drop, maybe wait a few minutes.

This is seen on master (4/21), not in 2.0.0-dev.2.

[2016-04-26 21:02] jessegreenberg commented on #171
This will need to be done on the release branch before a test task can be prepared.

[2016-04-26 21:32] jessegreenberg commented on #190
I am not able to observe any stuttering on master on my machine, but I am about to test on an iPad2.  On master, he heap was stable at 25.5 MB through about five minutes of snapshots.  The JS Heap on the timeline does not indicate any kind of memory leak.

About to try on my iPad2 to reproduce on master for requireJS and a built version.

[2016-04-26 22:16] jessegreenberg commented on #183
Above commit handles https://github.com/phetsims/forces-and-motion-basics/issues/183#issuecomment-212522814, but there is still an issue where the sitting girl slides to the left the first time an item is removed from her hands.

[2016-04-27 02:53] jessegreenberg commented on #183
This is fixed, to be verified in RC testing.

[2016-04-27 02:54] jessegreenberg commented on #190
I just ran 2.0.0-dev.1 and 2.0.0-dev.2 for about ~10 minutes each on the iPad2 and verified that this cannot be reproduced for those versions.

[2016-04-27 15:45] jessegreenberg commented on #190
RequireJS version of master ran on iPad2 iOS 9.3.1 for 10 minutes and there was no noticeable change in performance.

[2016-04-27 16:00] jessegreenberg commented on #190
Built version of master ran on iPad2 iOS 9.3.1 for 10 minutes and there was no noticeable change in performance, and I could not see a stutter for garbage collection.  I think that we are good to proceed with the RC, and as part of RC testing we should make sure that this issue cannot be reproduced on Leibniz or any other tablet.

[2016-04-27 16:11] jessegreenberg commented on #149
We are ready for a release branch for FAMB.  Once https://github.com/phetsims/forces-and-motion-basics/issues/171 is done on the release branch, we can possibly pull in old translations for FAMB for the translation utility, but I am not sure how that process works and where old translations are located.  I will look into that and ask some other developers.

[2016-04-27 16:16] jessegreenberg commented on #149
2.0.0 will use common code SHAS from http://www.colorado.edu/physics/phet/dev/html/energy-skate-park-basics/1.1.0-rc.2/dependencies.json, which were approved for publication, but with the updated chipper SHA https://github.com/phetsims/chipper/commit/55c02ee94221a6b2cfa022295d60d68cdd37fef3 for percent symbols in translated strings.

[2016-04-27 17:12] jessegreenberg commented on #171
Done for the 2.0 branch in the commit above, closing.

[2016-04-27 17:12] #171 closed

[2016-04-27 17:12] jessegreenberg commented on #149
#171 has been closed.

[2016-04-27 18:51] jessegreenberg commented on #149
@jbphet talked me through the process of replacing the changed keys in babel and he ran a script that quickly removed all of the keys in babel string files that are not being used in the HTML5.  I think we are all ready for an RC.

[2016-04-27 19:43] jessegreenberg commented on #149
Testing task for 2.0.0-rc.1 created here: https://github.com/phetsims/tasks/issues/583

[2016-04-28 16:48] phet-steele opened #191 "2.0.0-rc.1 Memory Leak"
Probably a pretty big memory leak, with `?fuzzMouse=100`

Win 10 Chrome:

| Time (min) | Size (MB) |
| ------------- |:-------------:|
| 0:00 | 35.7 |
| 0:30 | 38.4 |
| 1:00 | 39.1 |
| 1:30 | 42,9 |
| 2:00 | 42.8 |
| 2:30 | 44.3 |
| 3:00 | 42.9 |
| 3:30 | 47.3 |
| 4:00 | 48.1 |
| 4:30 | 50.5 |
| 5:00 | 52.5 |
| 6:00 | 55.1 |
| 7:00 | 58.5 |
| 10:00 | 61.8 |
| 15:00 | 67.8 |
| 16:30 | 70.0 |
| 18:1

[2016-04-28 16:56] jessegreenberg commented on #191
This is probably worth fixing, but we should how this leak compares to the published version of the sim.  That will probably help determine priority or whether this leak needs to be patched for the release.

[2016-04-28 16:59] jessegreenberg commented on #191
Also, perhaps this leak isn't quite as bad as the plot makes it seem since the time delta jumps from ~30 seconds around x = 2min to 10 minutes around x = 30 minutes.

However, by ~90 MB this would begin to crash on tablets after 30 minutes.

[2016-04-28 17:08] jessegreenberg commented on #86
RC for 2.0.0 has been published, and the image quality is improved so I am going to remove the S2015R tag.  But I don't feel like this issue should be closed yet because the image quality in iOS Firefox is still not as good as other platforms.

[2016-04-28 18:10] ariel-phet commented on #191
@phet-steele please do a test on the published version

[2016-04-28 18:13] ariel-phet commented on #191
and @phet-steele please reassign to me after test

[2016-04-28 19:12] phet-steele commented on #191
Published version has a slower memory leak, this rc is worse.

| Time (min) | Size (MB) |
| ------------- |:-------------:|
| 0:00 | 23.5 |
| 1:00 | 26.8 |
| 2:00 | 28.9 |
| 3:00 | 30.7 |
| 4:00 | 31.9 |
| 5:00 | 34.7 |
| 6:00 | 35.1 |
| 7:00 | 37.9 |
| 8:00 | 39.5 |
| 9:00 | 40.7 |
| 10:00 | 41.4 |
| 15:00 | 47.8 |
| 20:00 | 52.4 |
| 30:00 | 62.1 |

[2016-04-28 20:19] phet-steele commented on #183
I do believe it is fixed.

[2016-04-28 20:19] #183 closed

[2016-04-28 21:51] phet-steele commented on #190
Leibniz has been running fine for awhile now with only slight stuttering. Definitely not as bad as on 4/21, maybe Leibniz was just having a bad day. Tycho testing will be up next.

[2016-04-29 02:15] ariel-phet commented on #191
@jessegreenberg leak would be good to investigate

[2016-04-29 16:20] jessegreenberg commented on #191
Sounds good, I will look into this today.

[2016-04-29 16:52] phet-steele commented on #190
Tycho also fine.

[2016-04-29 16:52] #190 closed

[2016-04-29 21:03] jessegreenberg commented on #191
The memory leaks in 2.0.0-rc.1 are caused by the common code leaks described in https://github.com/phetsims/tasks/issues/546.  This RC is using the 'stable' set of SHAs from https://github.com/phetsims/tasks/issues/476 which do not include the memory leak patches.  All of our redeployed sims have a heap profile that looks like [the plot above](https://github.com/phetsims/forces-and-motion-basics/i

[2016-04-29 21:10] phet-steele commented on #191
@jessegreenberg @ariel-phet RC testing just completed with passing grades and no new issues other than this one (which really isn't even sim specific apparently).

[2016-04-29 21:34] ariel-phet commented on #191
@jessegreenberg yes, lets do another RC with SHAs from master. This would be good to test on a production sim, so any further redeploys include this fix.

[2016-04-29 21:35] ariel-phet commented on #191
Besides...nobody loves to make sure Master is stable more than @phet-steele :construction_worker:

[2016-04-29 23:55] jessegreenberg commented on #191
Sounds good!  I will deploy a new RC first thing Monday after checking with other devs about the state of master.

[2016-04-30 00:04] jessegreenberg commented on #149
https://github.com/phetsims/tasks/issues/583 passed for the redeploy with the exception of https://github.com/phetsims/forces-and-motion-basics/issues/191, the observed common code memory leak from https://github.com/phetsims/tasks/issues/546 since this RC uses the current [stable set of SHAs](https://github.com/phetsims/tasks/issues/476#issuecomment-214479205) which do not include the memory leak

[2016-05-03 16:43] phet-steele commented on #191
@jessegreenberg I don't see a memory leak in 2.0.0-rc.2 (woohoo!).

[2016-05-03 16:43] #191 closed

[2016-05-06 20:09] jessegreenberg opened #192 "Velocity readout slow by a factor of 2.3"
@ariel-phet noticed that the velocity readout was smaller than it should be given the amount of time an applied force was acting on the item stack.  The cause was this line in MotionModel ```step```, which was in place to keep the animation slow enough:
[code]

In order to fix this issue, we reduced the time scaling factor to 2.0, and multiplied the velocity readout by 2x, so that the velocity mat

[2016-05-06 20:12] jessegreenberg commented on #192
This is no longer an issue, and commit above adds documentation to explain this in the code.  Closing.  This issue was just to document. Closing.

[2016-05-06 20:12] #192 closed

[2016-05-06 20:16] jessegreenberg commented on #149
New SHAs passed through testing and no issues came from testing of 2.0.0-rc.2.  With #192 fixed, 2.0.0 is ready to be deployed.

[2016-05-06 20:52] jessegreenberg commented on #149
2.0.0 successfully deployed to the site!

[2016-05-06 20:55] samreid commented on #149
Hooray, nice work and congratulations @jessegreenberg!

[2016-05-06 20:58] jessegreenberg commented on #150
@ariel-phet assigning this to you now since the FAMB was republished.

[2016-05-06 21:00] jessegreenberg commented on #149
Thank you @samreid!  I think this issue can now be closed.

[2016-05-06 21:00] #149 closed

[2016-05-06 21:20] ariel-phet commented on #150
@kdessau-PhET I have started tweeting about this, might be good to have some FB posts as well. Basically teachers requested the following:
1. A play/pause button on the motion screens (as in the Java sim) to allow for setting up experiments
2. A difference between the coefficient of static and kinetic friction
3. Readouts for speed and acceleration so students could do more quantitative calculatio

[2016-05-06 21:33] kdessau-PhET commented on #150
Got it. i will write a single piece and post on FB on Monday.

[2016-07-26 16:38] phet-steele opened #193 "Automated Testing Build Error (7/26/2016 10:00 AM)"
[code]

[2016-07-26 16:38] phet-steele opened #194 "Automated Testing Sim Error (7/26/2016 10:00 AM)"
[code]

[2016-07-26 17:19] andrewadare commented on #193
I found these errors independently and then saw this issue. Should be settled now.

[2016-07-26 17:49] samreid opened #195 "FlagNode needs to be persistent or disposed"
Instrumented version will crash upon 2nd time showing flag.

[2016-07-26 19:21] #194 closed

[2016-08-10 22:53] samreid commented on #195
Fixed, closing.

[2016-08-10 22:53] #195 closed

[2016-08-12 16:41] samreid commented on #193
lint is clear now, closing.

[2016-08-12 16:41] #193 closed

[2016-08-25 23:16] pixelzoom opened #196 "sim relies on align:'right' default for Panels"
Related to https://github.com/phetsims/sun/issues/252, this sim relies on the old default of `align:'right'` for Panels.  Below are the stack traces for occurrences that need to be checked. These are the occurrences noted when loading the sim in requirejs mode. If the sim creates Panels dynamically, you should do further checking with fuzzMouse.

[code]

[2016-08-26 14:30] pixelzoom commented on #196
None of the above call sites use the `minWidth` option, so their behavior will be unaffected.  Closing.

[2016-08-26 14:30] #196 closed

[2016-09-08 17:51] phet-steele opened #197 "Precision of friction force causes bad physics"
@samreid @ariel-phet Revealed through PhET-iO, and similar to phetsims/energy-skate-park-basics/issues/355, there is a precision issue outlined by the screenshots below.

This setup appears to show friction equaling applied force:
<img width="240" alt="screen shot 2016-09-08 at 11 47 24 am" src="https://cloud.githubusercontent.com/assets/5863899/18360147/14ec894e-75ba-11e6-84cb-f869a183f925.png">

[2016-09-08 18:19] samreid commented on #197
@ariel-phet suggests rounding the applied force and friction force to the nearest 1, so the display values will match the model values.

Speed will still be shown as a decimal.

@ariel-phet says priority should be relatively high.

@jessegreenberg says he could work on it.

Thanks @jessegreenberg, let me know if you need help.

[2016-09-08 18:25] oliver-phet commented on #197
Also assigning myself to communicate with user when things are fixed!

[2016-09-08 20:15] samreid commented on #197
Discretizing the applied force slider is a good idea.  Discretizing the friction slider will not work (because the friction force is computed based on it and other factors), and the friction force may need to be discretized in the model.

[2016-09-09 18:50] jessegreenberg opened #198 "Velocity readout does not match instance proxy"
While working on https://github.com/phetsims/forces-and-motion-basics/issues/197 I noticed that the velocity readout is exactly twice the value in the instance proxy.
![capture](https://cloud.githubusercontent.com/assets/6396244/18398812/95291132-768b-11e6-8f04-21449cdd112c.PNG)

I remember doing something with the velocity readout to work around an issue with the time step.  Searching for issue..

[2016-09-09 18:51] jessegreenberg commented on #198
Here is the issue ---> #192.

[2016-09-09 18:53] jessegreenberg commented on #198
Here is the comment in the code:
[code]

The model needs to match the view for use with the instance proxy.

[2016-09-12 15:37] jessegreenberg commented on #198
In MotionModel.step()
[code]

Position and velocity both depend on dt which is why they are half of what they should be when checking with a stop watch.  I think the best way to fix this is to remove ```dt = dt / 2``` in step, and then modify PusherNode and MovingBackgroundNode.  The view then handles the animation such that it matches the Java sim.

@samreid @ariel-phet do you agree with this? Sh

[2016-09-12 15:40] samreid commented on #198
Yes, it seems good to investigate the solution you described.  I'll leave it to @ariel-phet to comment on priority and scheduling.

[2016-09-12 16:18] jessegreenberg commented on #197
@samreid yes, that is true.  The above commit handles this as described in https://github.com/phetsims/forces-and-motion-basics/issues/197#issuecomment-245725596.  The applied force is rounded by the slider while the friction force is rounded after calculation in the model.  The result is that the forces in the model are equal to what is shown in the view.  I verified in an instance proxy.

In the

[2016-09-12 16:23] oliver-phet opened #199 "User request - add tweakers to Friction slider"
Problem description:
Friction slider unable to select 50, 100,150N exactly.
( or force slider not granular)

Steps to reproduce:

Using the friction screen I wanted to setup a situation where the student first applied say 150N with the friction 100N  then dropped the force once it was moving to 100N  and  observe the constant velocity.  The default setup for friction gives 94N once moving.  I trie

[2016-09-12 16:23] oliver-phet commented on #199
Could be related to https://github.com/phetsims/forces-and-motion-basics/issues/197

[2016-09-12 16:47] jessegreenberg commented on #199
@oliver-phet did the user happen to provide platform details?  I would expect this to be an issue for a smaller screens.

[2016-09-12 16:51] oliver-phet commented on #199
"Toshiba Laptop"
Window: 1366x589

I just tested on my mac and it was fairly difficult to get an exact number.

[2016-09-12 16:52] jessegreenberg commented on #199
I just tested latest deployed version - I cannot reproduce on my Windows 10 laptop, or iPad3 (diSessa) in landscape mode, but I can reproduce with the iPad3 in portrait mode since the slider is smaller.

[2016-09-12 16:53] ariel-phet commented on #199
I do not think we would make this change to the friction slider. Tweakers are meant to be fine grained adjustments, and the friction slider is qualitative. In fact the friction slider is really adjusting the "Coefficient of friction" not the frictional force itself (the two are of course related). But for for instance, with "friction" set to the same slider position, adding additional mass will in

[2016-09-12 16:56] oliver-phet commented on #199
This is the second instance of a teacher requesting fine-grained adjustment of the friction slider (in order to match the Applied Force) within a week.

[2016-09-12 16:58] ariel-phet commented on #198
@jessegreenberg - if I recall we also did some tweaking so that when acceleration is calculated the speedometer actually rises at the proper rate, so lets also make sure to preserve that behavior.

But your plan sounds good.

[2016-09-12 17:12] ariel-phet commented on #199
@oliver-phet understood - but the right solution would be to allow finer grained adjust of the applied force (right now the tweakers allow a 50 newton jump)

[2016-09-12 17:21] ariel-phet commented on #199
@jessegreenberg since you are making some other changes, lets also try this...

Can you put in another set of tweakers like the mockup below (with generous touch areas) that allow a 1 Newton increment of the applied force, and have the same action as the large tweakers, in that they continue to apply the force (unlike the slider that snaps back to zero)

![applied force](https://cloud.githubuserco

[2016-09-12 17:40] oliver-phet commented on #199
Just my opinion - if a teacher is asking a class of students to match the friction and applied forces, it would require students setting some arbitrary friction value, then matching with the applied force tweakers? Seems like it would be difficult for students to get consistent results.

[2016-09-12 17:50] ariel-phet commented on #199
@oliver-phet tweakers would only makes sense if we had a readout for the "coefficient of friction" - but we decided long ago that in the basics version, we were not going to get into exposing the coefficient. When we eventually port the "full" forces and motion, we will do that, but for the basics version it definitely makes sense to keep this slider qualitative.

It actually send a confusing mess

[2016-09-12 17:56] jessegreenberg commented on #198
Thanks @samreid and @ariel-phet.  I think https://github.com/phetsims/forces-and-motion-basics/issues/198#issuecomment-246005610 was the only tweaking we did, but I will be sure to double check and make sure that the model is correct after these changes.

[2016-09-12 22:38] jessegreenberg commented on #198
Done in the commit above.  Changes were done as described in https://github.com/phetsims/forces-and-motion-basics/issues/198#issuecomment-246388436.  I just checked in an instance proxy that velocity values match the view.  I also verified the model with a stop watch a few times, and values were correct.  For instance, a system with:

Net Force = 406 N, Mass = 50 kg, a = 8.1 m/(s*s) was timed for

[2016-09-12 23:43] jessegreenberg commented on #199
@ariel-phet here is a version with the buttons like the mockup in https://github.com/phetsims/forces-and-motion-basics/issues/199#issuecomment-246422784.
http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/2.0.2-dev.1/forces-and-motion-basics_en.html

@phet-steele and @arouinfar suggested and preferred a double arrow button rather than a scaled down button, so that it looks like

[2016-09-13 00:16] ariel-phet commented on #199
@jessegreenberg @arouinfar @phet-steele

There is a bit of cognitive dissonance with the double-arrows (each arrow is small) and then the single arrow is large, so I think it is not immediately obvious which button will make the big jump.

I am fine with the double arrow design, but then the "1 Newton" tweaker should have a single arrow that is small (even if the button remains large).

[2016-09-13 00:45] arouinfar commented on #199
While the double arrow design isn't perfect, I found it less confusing than differently sized buttons.

This seems reasonable to me @ariel-phet.

[2016-09-13 00:46] arouinfar commented on #199
Self-assigning to update the teacher tips once a new version is released.

[2016-09-13 17:35] jessegreenberg commented on #199
![capture](https://cloud.githubusercontent.com/assets/6396244/18484461/c4415e3a-79a5-11e6-9e07-fda1e620401b.PNG)

@ariel-phet @arouinfar @phet-steele From the above comments, maybe something like this?  It is kind of 'pixel-polishing' at this point, maybe it would be fastest to get it just right over a quick video call.

[2016-09-13 17:44] samreid opened #200 "Standardize main pattern"
@andrewadare pointed out that FAMB main is a bit odd.  Let's standardize it.  Tagging @jessegreenberg in case he is in the neighborhood.

[2016-09-13 18:01] samreid commented on #200
Fixed above, @jessegreenberg can you please pull and make sure everything's ok?

[2016-09-13 18:34] ariel-phet commented on #199
@jessegreenberg and I discussed and made some tweaks, he will post another dev version for review.

[2016-09-14 01:50] jessegreenberg commented on #199
@ariel-phet @arouinfar @phet-steele here is the new dev version for review:

http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/2.0.2-dev.3/forces-and-motion-basics_en.html

If all looks good, we are ready for maintenance release RC.

[2016-09-14 02:06] ariel-phet commented on #199
Looks great to me

[2016-09-14 02:52] arouinfar commented on #199
:+1:

[2016-09-14 17:44] jessegreenberg commented on #200
This looks great, thanks @andrewadare and @samreid.  Everything is working great.

[2016-09-14 17:44] #200 closed

[2016-09-14 18:19] jessegreenberg commented on #199
Excellent, also assigning to @oliver-phet in case he would like to respond to original reporter once redeploy complete.

[2016-09-14 18:19] jessegreenberg opened #201 "redeploy 2.1.0"
Maintenance issues have been completed, and the sim will be ready for a minor release after the following are completed
- [x] RC test task completed
- [x] https://github.com/phetsims/forces-and-motion-basics/issues/198 verified as fixed
- [x] https://github.com/phetsims/forces-and-motion-basics/issues/197 verified as fixed

[2016-09-14 18:20] jessegreenberg commented on #201
Build server just failed during the RC build. Will look into it and take notes here.

[2016-09-14 18:48] oliver-phet commented on #199
ETA of redeploy? ETR?

[2016-09-14 19:33] arouinfar commented on #199
Updated Teacher Tips are ready to go. I'll upload them after the redeploy.

[2016-09-14 19:35] jessegreenberg commented on #201
Build successful with help from @jbphet.

Here is the RC http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/2.1.0-rc.1/forces-and-motion-basics_en.html

[2016-09-14 19:36] jessegreenberg commented on #199
ETR Most likely tomorrow or friday, just need to successfully pass the RC test.

[2016-09-14 21:25] phet-steele commented on #199
Won't be some time. New release testing (which we have lots of) take precedence over redeploys/maintenance deploys, so this is low priority.

[2016-09-14 21:26] jessegreenberg commented on #199
Thanks for clarifying @phet-steele, didn't mean to presume.

[2016-09-14 23:18] jessegreenberg commented on #199
From https://github.com/phetsims/sun/issues/265, @pixelzoom suggested another way to style the arrows:

![4c1aecfe-7a8c-11e6-936f-0069e06f5378](https://cloud.githubusercontent.com/assets/6396244/18533147/247d42d4-7a9e-11e6-9ac2-332a0ae1cda5.png)

I agree this does look a bit nicer.  As a general double (or more) arrow button, it might be nicer to have this kind style used throughout sims.

@pixelz

[2016-09-15 00:02] ariel-phet commented on #199
I could go for that style, it clearly says "more" than the single arrow to me.

Agree with @jessegreenberg I also feel like it makes more sense to have the gross adjustment on the inside. I have a bit of a tough time articulating why, but perhaps that feeling of descending  on each side ( _-- Value -- _ ) so little adjust, big adjust, value, big adjust, little adjust. Feels more intuitive and nice

[2016-09-15 00:05] arouinfar commented on #199
@jessegreenberg I have a slight preference for the new double arrow, but I could go either way.

Ditto.

[2016-09-29 21:54] jessegreenberg commented on #201
Copying in the additional deployment checklists for the RC 2.1.0-rc.2:

If this is not the first release candidate on a release branch:

- [ ] Check out the release branch, e.g.: `git checkout 1.0`
- [ ] Check out the correct shas for dependencies: `grunt checkout-shas`
- [ ] If you've branched (for the purposes of patching) any of the dependency repositories since the last rc version was publishe

[2016-09-29 22:21] jessegreenberg commented on #201
Updated sun SHA is now incompatable with joist (due to FontAwesome changes), so we will need to create a ```forces-and-motion-basics-2.1``` branch in sun to include a patch for the ArrowButton styling.

[2016-09-30 20:34] jessegreenberg commented on #199
@ariel-phet and @arouinfar here is the version with changes to the arrow styling.  Look good before updating the RC test task?

http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/2.1.0-rc.2/forces-and-motion-basics_en.html

[2016-09-30 20:47] jessegreenberg commented on #150
@ariel-phet and @kdessau-PhET can this issue be closed?

[2016-09-30 20:49] jessegreenberg commented on #86
Removing assignment and adding deferred label since we are not looking at this for the next 2.1 minor release.

[2016-09-30 20:51] ariel-phet commented on #199
@jessegreenberg could we pull the double triangles apart just a bit further such as in this image:

http://findicons.com/files/icons/49/button/300/button_fast_forward.png

[2016-09-30 20:53] ariel-phet commented on #150
Yes, closing

[2016-09-30 20:53] #150 closed

[2016-09-30 21:00] jessegreenberg commented on #199
Like so?
![test2](https://cloud.githubusercontent.com/assets/6396244/19006751/750b757c-871e-11e6-84a1-c0715554c21e.PNG)

[2016-09-30 23:26] arouinfar commented on #199
@jessegreenberg your updated screenshot looks pretty good to me.

[2016-10-04 17:48] ariel-phet commented on #199
Yes Looks good to me!

[2016-10-04 17:49] ariel-phet commented on #199
Yes @jessegreenberg looks good to me!

[2016-10-07 19:59] phet-steele commented on #198
Values matched in the instance proxy.

[2016-10-07 19:59] #198 closed

[2016-10-07 20:19] phet-steele commented on #197
This looks good, I let the sim run for ~10 mins with equivalent applied and friction forces and saw no change in speed. @oliver-phet this will be fixed when the sim is released. Keeping his open until then.

[2016-10-10 21:49] BryceAG opened #202 "StringTest=double overlap"
Test device:
Bates

Operating System:
Win 7, Win 10

Browser:
Chrome, Firefox, IE, Edge

Problem description:
with stringTest=double or long, the buttons for changing the force for motion, friction, and acceleration sections are overlapped by the item selection boxes

Steps to reproduce:
use stringTest=double or long, go to any section other than net force.

Severity:

Screenshots:
![image](https:

[2016-10-10 22:03] EthanWJohnson opened #203 "Pusher Robot Not Properly Resetting"
Tested on Chrome, Firefox, Edge, Internet Explorer

OS: Reproduced on Windows 10 and Windows 7

Description: After moving the payload/objects on the friction and acceleration screens, resetting, then attempting to push a heavy load while not overcoming friction will cause the pusher to move to pre-reset position, relative to the payload/objects.

Gif explaining what's going on;
![pusher problems](

[2016-10-10 22:44] jessegreenberg commented on #202
Thanks very much @BryceAG, fixed in above commits for both 2.1 and master.  Closing.

[2016-10-10 22:44] #202 closed

[2016-10-10 22:45] jessegreenberg commented on #202
(verification)

![capture](https://cloud.githubusercontent.com/assets/6396244/19253524/ec9fbc64-8f08-11e6-96b9-096ea8a59020.PNG)

[2016-10-10 23:31] jessegreenberg commented on #203
It looks like I forgot to reset a variable used in the translation calculation

[code]

model.previousModelPosition is not reset when 'Reset All' button is pressed, so the pusher is getting translated by this when it can't push the stack after reset is pressed.

[2016-10-10 23:39] jessegreenberg commented on #203
Thanks for catching this @EthanWJohnson. This should be fixed in the commit above, leaving open to verify.

[2016-10-11 16:39] phet-steele opened #204 "Build failing with phetio in version name"
@zepumph, the commit c5906c1869b6b1635fb069c6488afabf0a817fed causes the sim to fail to build (see  phetsims/chipper/issues/507).

@zepumph @samreid can we revert this commit for now? Or is it important for the time being?

[2016-10-11 16:50] samreid commented on #204
@zepumph committed a fix, please pull and proceed.

[2016-10-11 19:45] phet-steele commented on #204
@zepumph, good to go!

[2016-10-11 19:45] #204 closed

[2016-10-11 20:31] phet-steele opened #205 "?stringTest=x layout problems"
`?stringTest=x` causes overlap on the Net Force screen:
<img width="126" alt="screen shot 2016-10-11 at 2 18 15 pm" src="https://cloud.githubusercontent.com/assets/5863899/19287110/a6fb3368-8fbd-11e6-92ce-a718640f9a0d.png">

With a similar cramped feeling on the Motion screen. I'm assuming these buttons are simply aligned to the left edge of the panel and move accordingly when the panel width decr

[2016-10-12 22:25] EthanWJohnson commented on #203
Tested on multiple devices, verified fixed now.

[2016-10-17 16:57] phet-steele opened #206 "Overlapping touch areas"
In practice, this didn't seem to cause too many problems on an iPad.

<img width="511" alt="screen shot 2016-10-17 at 10 52 16 am" src="https://cloud.githubusercontent.com/assets/5863899/19446816/d40c4290-9457-11e6-9783-3fc10d2c6408.png">

Seen on macOS 10.12 browsers. For phetsims/tasks#697.
URL: http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/2.1.0-rc.3/forces-and-motion-b

[2016-10-17 17:38] phet-steele opened #207 "Right facing image is offset"
The people's right facing image is not centered around the mass label when being dragged. The mass label is in the correct position, I believe:

<img width="163" alt="screen shot 2016-10-17 at 11 29 48 am" src="https://cloud.githubusercontent.com/assets/5863899/19448046/4d4d860a-945d-11e6-9cd3-53fa01b95dd9.png">
<img width="181" alt="screen shot 2016-10-17 at 11 30 07 am" src="https://cloud.github

[2016-10-17 17:41] jessegreenberg commented on #207
@phet-steele do you know if this is a new bug or is this in the deployed version as well?

[2016-10-17 17:43] phet-steele commented on #207
Not a new issue

[2016-10-17 18:38] phet-steele opened #208 "Pushing on people's fronts"
Present in the deployed version:
1. Screen 2,3, or 4. Disable friction (if applicable).
2. Place a person on the stack, with at least one other object below them and not the other person above them.
3. Apply force toward the right and get the stack moving at an appreciable rate.
4. Start applying force toward the left.
5. While the stack is still moving to the right, pick up the person and place t

[2016-10-20 16:41] arouinfar commented on #199
Unassigning myself since the updated Teacher Tips are ready to upload with the redeploy.

[2016-10-20 16:50] jessegreenberg commented on #203
Thanks for checking @EthanWJohnson!  I am going to reopen this issue for now to verify that it has also been fixed correctly in the 2.1 branch in the next RC.

[2016-10-31 18:17] oliver-phet opened #209 "Modify teacher tips: add general statement about "magical" pusher."
On 10/31 Ariel wrote:

just ask Amy R for a slight modification. Maybe just a more general statement, since right now in the tips the "magical" sense of the pusher/pullers is noted for the Net force screen, but it is an overall model simplification.

@arouinfar Can you add a statement to the tips to address this?

[2016-10-31 18:21] arouinfar commented on #209
@oliver-phet can do, but I'm going to wait until the next version of the sim is published, since #199  also requires the Teacher Tips to be modified.

[2016-10-31 18:23] oliver-phet commented on #209
Sounds great, thanks!

[2016-10-31 19:52] arouinfar commented on #209
I've added this statement to the Teacher Tips, and will upload once the sim is redeployed.

[2016-10-31 23:13] jessegreenberg commented on #208
Should be fixed in the above commit, to be verified in the next RC test.

[2016-11-01 16:16] jessegreenberg commented on #207
This is caused by this line:
[code]

It seems like we should be able to apply the 20px offset to the mass label, but it would be best to figure out why the offset is necessary.

[2016-11-01 16:40] jessegreenberg commented on #207
Should be fixed in the commit above.

[2016-11-01 20:52] jessegreenberg commented on #205
Thanks @phet-steele, added a bit of separation between the buttons, *only* when the buttons are too close together.

![separation1](https://cloud.githubusercontent.com/assets/6396244/19907030/ca8e6bca-a042-11e6-8f6e-5e52a1301643.PNG)

![separation2](https://cloud.githubusercontent.com/assets/6396244/19907032/cc48b9d4-a042-11e6-95a1-33338bc294df.PNG)

[2016-11-01 20:52] #205 closed

[2016-11-01 21:23] jessegreenberg commented on #206
Added custom touch areas for the double arrow button so there is no overlap:
![capture](https://cloud.githubusercontent.com/assets/6396244/19908029/06b17bd4-a047-11e6-9a03-09fe51016449.PNG)

[2016-11-01 21:23] jessegreenberg commented on #206
Closing.

[2016-11-01 21:23] #206 closed

[2016-11-02 21:37] kathy-phet opened #210 "First Screen: Speed up the "win""
@samreid @jessegreenberg - Not quite sure who might take a look at this.

With the wrapper, Amy and I are both feeling like the "win" on the first tab takes a painfully long time. I checked versus the Java sim and it does take more than 50% longer to win on the HTML5 version. It seems like there is no design reason why it should be longer.

Is it hard to try speeding it up (by reducing the modeled

[2016-11-02 21:38] kathy-phet commented on #210
@amyh-phet - I made an issue.
@arouinfar - Can you also weigh in here since you've been most recent lead on design?

[2016-11-02 21:52] ariel-phet commented on #210
@kathy-phet it does give time for interaction, which depending on the use can be an advantage

[2016-11-02 22:01] phet-steele commented on #210
Agreed. However, I'm sure @kathy-phet brought this up while having fun in the classroom activity wrapper for this sim (I know I'm sure having fun!). In that wrapper, interaction is not allowed while the cart is in motion (in most scenarios). It might be entirely possible, depending on how the source code is written, to customize the mass of the cart in just the wrapper.

[2016-11-02 22:05] arouinfar commented on #210
I like @phet-steele's suggestion. Is it possible to customize the cart mass in the wrapper? I think this would be preferable to changing the sim, as I tend to agree with @ariel-phet about the time for interaction.

[2016-11-02 22:59] kathy-phet commented on #210
True, but right now it is substantially slower than the java sim which was already slow enough to do that. It seems we could/should at least try to bring speed up to match java sim.
Kathy

Sent from my iPhone

On Nov 2, 2016, at 3:57 PM, Ariel Paul <notifications@github.com<mailto:notifications@github.com>> wrote:

@kathy-phet<https://github.com/kathy-phet> it does give time for interaction, which

[2016-11-02 23:01] kathy-phet commented on #210
Bigger change. Could we have choice between small cart and a large cart?

Sent from my iPhone

On Nov 2, 2016, at 4:06 PM, Amy Rouinfar <notifications@github.com<mailto:notifications@github.com>> wrote:

It might be entirely possible, depending on how the source code is written, to customize the mass of the cart in just the wrapper while leaving the phet brand sim untouched.

I like @phet-steele<h