[2016-11-02 23:19] ariel-phet commented on #210
@kathy-phet can you give the learning goal behind having a small and a large cart here?

Remember, one of the reasons to have a a big massive mass in the center is to avoid complaints about equating this situation with a "tug of war" since in a tug of war both sides basically have equal forces (due to Newton's third law) and it is the frictional force between the ground and the feet that allow the

[2016-11-03 01:58] kathy-phet commented on #210
Same net force on smaller mass wins faster. Similar to having all the masses on the next screen but here it is just small and large and a different measure of how fast something speeds up.

K

Sent from my iPhone

On Nov 2, 2016, at 5:19 PM, Ariel Paul <notifications@github.com<mailto:notifications@github.com>> wrote:

@kathy-phet<https://github.com/kathy-phet> can you give the learning goal behin

[2016-11-03 03:48] jessegreenberg commented on #210
For what it is worth, it looks like a 'win' in version 1.0.0 took about the same time as the Java sim.
http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/1.0.0/forces-and-motion-basics_en.html

For version 1.1.0, commit e3aacf75e7e604599a552c923c3b898f86147f96 slowed things down a bit and includes the comment

[2016-11-03 06:19] kathy-phet commented on #210
I much prefer the 1.0.0 sim speed. It takes more than 12 seconds (on my computer) for the 1.1.0 version of the sim win in a basic 1 puller vs the other puller scenario (50 N difference) which is a common set up in activities. The 1.0.0 version takes about 6 seconds - which is still quite a while to wait and to play while in motion.

[2016-11-03 12:55] amyh-phet commented on #210
I agree with @kathy-phet in preferring the 1.0.0 sim speed, especially for the FAMB wrapper.  When doing multiple tests, each 12 s or so wait seems to get more annoying.  I recognize the use case is a bit different as we are preventing students from interacting with the sim until the trial finishes and they have a chance to record their data.

[2016-11-03 13:08] kathy-phet commented on #210
While I think the wrapper has brought to light this behavior, I think we do want students to finish their trials in the main sim. I think we want to allow for interaction during a trial but I see that as a secondary learning goal to comparing different starting scenarios. Interaction during motion becomes a bigger learning goal for screen 2. If students are getting frustrated with how long it take

[2016-11-03 15:59] ariel-phet commented on #210
@jessegreenberg please go ahead and make the change to match the speed of the Java sim, but no other work at this time. It might be worth making that change and republishing the latest RC, since not much testing has taken place yet. That way we will have this change worked into the published version soon.

[2016-11-03 16:22] jessegreenberg commented on #210
Sounds good.

[2016-11-03 21:51] amyh-phet commented on #210
@jessegreenberg   Can you update with an time frame for implementing this?  We will need to get an instrumented version of this in the FAMB wrapper that @zepumph and @mattpen are working on.  Also mentioning @andrewadare as he has been handling the instrumentation piece for the wrapper.

[2016-11-03 22:56] jessegreenberg commented on #210
Pretty quickly @amyh-phet this should be a one line change.  However, would you like to match speed of the Java or the speed of 1.0.0 (html5)?  The 1.0.0 release of the html5 version is a bit faster than the Java.

[2016-11-03 23:04] amyh-phet commented on #210
@jessegreenberg I was thinking the 1.0.0 version of HTML5.

Sent from my T-Mobile 4G LTE Device

-------- Original message --------
From: Jesse Greenberg <notifications@github.com>
Date: 11/3/2016 5:01 PM (GMT-07:00)
To: phetsims/forces-and-motion-basics <forces-and-motion-basics@noreply.github.com>
Cc: Amy Hanson <Amy.J.Hanson@Colorado.EDU>, Mention <mention@noreply.github.com>
Subject: Re: [phet

[2016-11-03 23:17] jessegreenberg commented on #210
Thanks @amyh-phet, speed matches 1.0.0 version with the commit above.  @zepumph @mattpen @andrewadare commit made to master, I am not sure if it needs to be merged to other branches for the wrapper.

[2016-11-03 23:19] jessegreenberg commented on #210
@amyh-phet @zepumph is there anything else that needs to be done for this issue?

[2016-11-04 15:00] zepumph commented on #210
@jessegreenberg  I don't think so, thanks.

[2016-11-04 15:12] amyh-phet commented on #210
Nothing more from me, so closing.

[2016-11-04 15:12] #210 closed

[2016-11-04 22:16] phet-steele commented on #207
@jessegreenberg If the girl is returned to the tool box while facing right, her image turns to face left but the mass label does not adjust:

![famb02](https://cloud.githubusercontent.com/assets/5863899/20024112/0b5ce424-a2aa-11e6-9ede-59d99ecd7359.gif)

[2016-11-07 17:38] oliver-phet opened #211 "User suggestion: max newtons to 1000 or 2000N"

[2016-11-07 17:52] phet-steele commented on #208
I haven't found a way to reproduce this anymore, thanks @jessegreenberg.

[2016-11-07 17:52] #208 closed

[2016-11-07 17:55] phet-steele commented on #203
Looks bueno in 2.1.0-rc.5.

[2016-11-07 17:55] #203 closed

[2016-11-07 18:24] ariel-phet commented on #211
@oliver-phet let the user know we will consider this for the full version of forces and motion, but for the basics version the max value of applied force was specifically chosen to mesh well with the lowest mass to produce an acceleration that performs wel and accuratelyl on all platforms.

[2016-11-07 18:29] oliver-phet commented on #211
Reply to user sent. Closing for now.

[2016-11-07 18:29] #211 closed

[2016-11-08 17:36] phet-steele opened #212 "Slider thumb affecting panel max width"
The panels on the Friction and Acceleration screen have this issue when using `?stringTest=x`: phetsims/rutherford-scattering/issues/97.

For phetsims/tasks/issues/721.

[2016-11-09 20:42] jessegreenberg commented on #212
The title of teh slider is also moving around with this string test.

[2016-11-09 20:44] jessegreenberg commented on #212
resize: false flags in the panel and the VBox holding the slider and label should fix this.

[2016-11-09 21:12] phet-steele commented on #212
Fixed, thanks @jessegreenberg.

[2016-11-09 21:12] #212 closed

[2016-11-09 21:14] phet-steele commented on #207
Fixed, thanks @jessegreenberg.

[2016-11-09 21:14] #207 closed

[2016-11-09 21:26] jessegreenberg commented on #201
http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/2.1.0-rc.6/forces-and-motion-basics_en.html

has been approved for redploy.

[2016-11-09 21:36] jessegreenberg commented on #201
2.1.0 has been deployed closing.

[2016-11-09 21:36] #201 closed

[2016-11-09 21:37] phet-steele commented on #197
@oliver-phet, sim is deployed.

[2016-11-09 21:37] jessegreenberg commented on #209
@arouinfar 2.1.0 has been redeployed, removing the on-hold label.

[2016-11-09 21:39] arouinfar commented on #209
Excellent! I'll get it uploaded this afternoon.

[2016-11-09 21:39] jessegreenberg commented on #199
@arouinfar the sim has been redeployed, do the teacher tips need to be uploaded now?

[2016-11-09 23:17] oliver-phet commented on #197
User has been notified, closing!

[2016-11-09 23:17] #197 closed

[2016-11-10 00:15] arouinfar commented on #209
Uploaded!

[2016-11-10 00:15] #209 closed

[2016-11-10 16:15] jessegreenberg commented on #199
@arouinfar with #209 done can this be closed?

[2016-11-10 17:07] arouinfar commented on #199
It can indeed @jessegreenberg.

[2016-11-10 17:07] #199 closed

[2016-11-11 13:18] kathy-phet opened #213 "Screen 1: Eliminate overlap of flag and sum of forces arrow/text"
In playing with this simulation, I noticed that when the trial is complete the flag overlaps the Sum of Forces arrow, value, and text - such that it is difficult to see. It is still useful information though.

Can the final flag move up some, and the Sum of Forces arrow move down some, such that this overlap is eliminated?

[2016-11-11 13:20] kathy-phet commented on #213
@arouinfar - Can you take a look at this?

[2016-11-14 20:30] arouinfar commented on #213
Here's what it looks like in 2.1.0
<img width="1009" alt="screen shot 2016-11-14 at 1 12 37 pm" src="https://cloud.githubusercontent.com/assets/8419308/20281379/89009130-aa6d-11e6-83f8-22bf737377f7.png">

The flag can be moved up by 3px, but not much more. As for moving the sum of the forces down, I see two options. We can move it down by 20 px (top) so that the vector is not occluded (but the "Su

[2016-11-14 20:41] zepumph opened #214 "Flagnode should not have centerX and centerY"

[2016-11-14 20:42] #214 closed

[2016-11-14 21:16] kathy-phet commented on #213
@arouinfar -
I agree we don't want to crowd too much. What if we ...
- cut the number of pixels of white space between the orange and green arrows in half (where white space is from the bottom most pixel of the arrow to the top most pixel of the orange arrow).
- make the blue wins sign a bit shorter
K

[2016-11-15 04:39] samreid opened #215 "Instrument the toolboxes for the motion screens"
@kathy-phet said:

![image](https://cloud.githubusercontent.com/assets/679486/20293289/4d2ac6f4-aab2-11e6-9feb-4916d1ff34f9.png)

@kathy-phet wants to use this for a paper, so we will need a new version on the public phet-io site.  I'll publish a version there with instrumented toolboxes and give @kathy-phet a link so she can use the instance proxies to generate a new HTML file.  Then she can give

[2016-11-15 05:00] samreid commented on #215
Unfortunately the crate is a child of the left toolbox, so making the toolbox invisible also makes the crate invisible.

Possible solutions:
1. Make the objects not children of the toolboxes.  This would be a significant rewrite, but perhaps better in the long run.  I probably wouldn't be able to get this done, bug free and passing QA this week without help.
2. Provide methods on Rectangle to setF

[2016-11-15 05:01] samreid commented on #215
Also tagging @zepumph and @mattpen to review the preceding commit which instruments the toolboxes.

[2016-11-15 05:25] samreid commented on #215
The custom sim query parameter seemed like a good enough solution for now, use `showItemToolboxes=false` to disable the item toolboxes.

However, I tried launching this in instance proxies and was met with a number of exceptions when pushing "launch."  Will require further investigation.

[2016-11-15 06:23] mattpen commented on #215
I'd suggest making a new directory for small examples used in research, especially if we plan on serving further examples like this from phet-io.colorado.edu.

Perhaps `/research/{{name-of-kathy's-paper}}/` or `/examples/{{name-of-kathy's-paper}}/`?  If either of those works for you @samreid I can create the directory and make sure it has the appropriate permissions.  Would this directory need to

[2016-11-15 16:21] samreid commented on #215
I like your suggestions because they would lead to easy-to-read URLs (may be important for a printed publication) but also wanted to brainstorm putting it in:

`phet-io.colorado.edu/sims/forces-and-motion-basics/1.2.3-phetio/wrappers/{{name-of-paper}}`

That is, putting it adjacent to the version of the sim it uses, and publishing it as a wrapper.  Thoughts?

[2016-11-15 16:35] kathy-phet commented on #215
I will almost certainly create a tinyurl that links to whatever directory we put this example in. I do believe we will make more examples for public sharing through papers or talks.

The classroom FAMB activity wrapper will also need to have a public copy available for this same book.

I guess I would lead towards a structure like Matt was suggesting, just because if we find a bug and then need to

[2016-11-15 16:52] samreid commented on #215
http://phet-io.colorado.edu/examples/crate

Seems more professional and usable than:
http://tinyurl.com/phet-io-crate-example

For instance, having the URL of our website will help people find our homepage.

On phet-server, we have a redirect (or rewrite?) rule that points the sim pages at the latest version of a simulation.  Perhaps that would be suitable here, as a way we can publish bugfixes wi

[2016-11-15 16:55] mattpen commented on #215
Does this mean we would need to republish example wrappers for research papers with every production deploy?

[2016-11-15 17:08] kathy-phet commented on #215
I agree and like your URL.

No - I think only republish if we find a bug that we didn't originally see that is hampering the example, or because it starts to break because of some change in browsers or something. These examples will not be maintained like our current sims are.

I'd also be fine with placing a redirect at http://phet-io.colorado.edu/examples/crate that points to the version we want

[2016-11-15 17:20] mattpen commented on #215
I agree that this would be ideal.  However, if the link you use is something like `phet-io.colorado.edu/sims/forces-and-motion-basics/latest/wrappers/name-of-paper`, then it would necessitate recreating the example every time we publish the phet-io sim.  Is this what you meant @samreid?

Or did you mean that we create a symlink such that `phet-io.colorado.edu/examples/name-of-paper` returns the fi

[2016-11-15 23:11] arouinfar commented on #213
@kathy-phet here's an updated mockup. There's 50px between the total force vector and the component vector, and I've reduced the height of the blue banner by 20%.

![screen shot 2016-11-15 at 4 10 05 pm](https://cloud.githubusercontent.com/assets/8419308/20328145/01050522-ab4e-11e6-8cee-2e0beff3fbae.png)

[2016-11-15 23:18] kathy-phet commented on #213
This seems like an improvement to me. What do you think?

[2016-11-16 00:40] arouinfar commented on #213
I agree @kathy-phet. The latest version looks pretty good to me.

[2016-11-16 16:22] samreid commented on #215
I understand the problem you are referring to.  I don't think we should implement `phet-io.colorado.edu/sims/forces-and-motion-basics/latest/` yet.

After discussion, that sounds good to me!  We will just need to make sure we have a reasonable way to maintain the wrapper for maintenance releases, but I'm not worried about that.

[2016-11-16 17:30] samreid commented on #215
The launch problem is solved in https://github.com/phetsims/phet-io/issues/866.  Now I can publish a version for @kathy-phet to review and create a customized HTML wrapper.

[2016-11-16 18:04] samreid commented on #215
I also had to address https://github.com/phetsims/phet-io/issues/867.  Now that's done, here's a version @kathy-phet can use to create a customized version:

http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/2.1.7-phetiodev.2/wrappers/instance-proxies/instance-proxies.html?launchLocalVersion&showItemToolboxes=false

Note I have already appended &showItemToolboxes=false

@kathy

[2016-11-16 18:10] arouinfar commented on #213
@ariel-phet can you take a look at the mockup in https://github.com/phetsims/forces-and-motion-basics/issues/213#issuecomment-260800490? I think it's an improvement over the latest version. If you think we should make this change, can you reassign and prioritize?

[2016-11-16 18:20] arouinfar opened #216 "Dev boundary inconsistently sized"
While working on #213, I noticed that the dev boundary is wider on the home screen than it is on any of the individual sim screens.

<img width="1050" alt="screen shot 2016-11-16 at 11 16 37 am" src="https://cloud.githubusercontent.com/assets/8419308/20359719/47144622-abee-11e6-9799-262190a27706.png">
<img width="1049" alt="screen shot 2016-11-16 at 11 16 53 am" src="https://cloud.githubuserconten

[2016-11-16 18:29] ariel-phet commented on #213
@arouinfar seems good to me. The banner definitely is less important than the force vectors and such, and at a smaller size it still fulfills its role.

@jessegreenberg this seems like a reasonably straightforward change, marking at medium priority, perhaps we could do a maintenance release on the latest release using the same SHA's? If it seems more involved than I am assuming, let me know.

[2016-11-16 18:34] arouinfar commented on #213
Thanks @ariel-phet.

@jessegreenberg here's a mockup showing the changes.
![screen shot 2016-11-16 at 11 30 29 am](https://cloud.githubusercontent.com/assets/8419308/20360221/1b8d6e46-abf0-11e6-87c2-9e884e581d52.png)

[2016-11-21 16:53] zepumph commented on #215
Unassigning. @samreid let me know if you want any help if @kathy-phet comes back with anything to do.

[2016-11-21 21:07] kathy-phet commented on #215
I made a new exemplar using the proxies here. Seems to work great. Can we post this example to phet-io in a public place? Was there a consensus on the directory structure for these public facing examples in papers?
[etextbook_code.txt](https://github.com/phetsims/forces-and-motion-basics/files/604768/etextbook_code.txt)

[2016-11-21 21:10] kathy-phet commented on #215
@samreid @mattpen @zepumph - Not sure who would take this on?

[2016-11-21 21:16] samreid commented on #215
In https://github.com/phetsims/forces-and-motion-basics/issues/215#issuecomment-260992232 we decided on the basic URL structure, but it would be helpful to know from @kathy-phet a "nickname" for the simulation that you would want to appear in the URL.  It would be great for @mattpen to post this, if he is available.

[2016-11-23 02:26] jessegreenberg commented on #213
Should be done in https://github.com/phetsims/forces-and-motion-basics/commit/316e4cc220d1feaa52aed6bed75d9466fb7c9807.

Yep, that would be best.  However, I am hitting a snag in some PhET-iO code when I checkout shas and run/build off of 2.1.  Ill check in with a Phet-iO developer about this and then we can redeploy.

[2016-11-23 02:27] jessegreenberg commented on #213
I am hitting

[2016-11-24 00:14] jessegreenberg commented on #103
Unassigning myself from this issue, there is no intention to work on this in the near future.

[2016-11-28 19:46] jessegreenberg commented on #213
@samreid and @zepumph helped isolate the isssue to a missing ifphetio statement in tandem.  Sim is running off old shas again.

@arouinfar can you verify changes in this version?

http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/2.1.1-rc.1/forces-and-motion-basics_en.html

If it looks good we can deploy a maintenance release off of the old shas without an RC since the minor c

[2016-11-28 19:48] arouinfar commented on #213
Looks great @jessegreenberg!

[2016-11-29 23:37] oliver-phet opened #217 "User suggestion: add hundredths digit to acceleration value"
A suggestion--For the simulation "Forces and Motion: Basics" with acceleration tab, give values with more digits--at least 2 significant digits.
When my students ran the program to see relationship between mass, force and acceleration they get the same values when not the same input values are used. For example, when keeping force at 50 N (no friction) they get 0.3 m/s2 when they use masses of 150

[2016-11-30 00:02] ariel-phet commented on #217
@arouinfar this seems like a reasonable change. I suppose my only question is do we display hundredths only in the case where we have something like 0.XX m/s^2 (so there are 2 sig figs always) and go to just tenths when it is some number like XX.X m/s^2, or do we always display the second decimal point?

@jessegreenberg I assume displaying the hundredths place would overall be a trivial change?

[2016-11-30 00:22] arouinfar commented on #217
Seems reasonable to me too @ariel-phet. In general, I'd prefer to keep a consistent number of decimal places rather than a consistent number of digits. I'll take a look at FAMB to see which option is more appropriate in this context.

[2016-11-30 17:14] arouinfar commented on #217
@ariel-phet I took a look at FAMB, and I'm still leaning towards always displaying the hundredths place. I think it would feel strange to lose a decimal place at high (>10 m/s^2) values of acceleration.

[2016-11-30 17:41] ariel-phet commented on #217
Sounds good to me @arouinfar.

@jessegreenberg perhaps make this change in a way we can test? Either on phettest or such?

[2016-11-30 18:37] jessegreenberg commented on #213
Great, thanks.  Instead of deploying this right away lets also include the change to #217 since it should be quick and fit in a minor release.  Closing this issue.

[2016-11-30 18:37] #213 closed

[2016-11-30 19:00] jessegreenberg commented on #217
@ariel-phet @arouinfar can you review this version?

http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/2.1.1-rc.2/forces-and-motion-basics_en.html

This includes changes for #213.

[2016-11-30 19:10] arouinfar commented on #217
Looks good to me! Thanks @jessegreenberg.

[2016-11-30 19:23] arouinfar opened #218 "Should meter icons dynamically update?"
While reviewing #217, I noticed that the speed and acceleration meter icons next to the checkboxes dynamically update. This behavior differs from ESPB, where the speedometer icon is a static image.

At rest:
<img width="228" alt="screen shot 2016-11-30 at 12 12 23 pm" src="https://cloud.githubusercontent.com/assets/8419308/20767150/4c01f5b8-b6f6-11e6-85a5-b9ce1c407a32.png">

While in motion:
<img

[2016-11-30 19:59] ariel-phet commented on #218
@arouinfar this was intentional.

@samreid basically did this at the time because he thought it looked cool and the team agreed (it was sort of a bell and whistle at the time). However, I don't think the idea of interfering with predictive questions was considered.

It seems a static image has become more of our standard, so I think it would be fine to make it static. I would say for acceleration

[2016-11-30 20:01] ariel-phet commented on #218
@arouinfar I agree certainly seems like an easy tweak to make for the next deploy/maintenance release.

[2016-11-30 20:06] ariel-phet commented on #217
Looks good to me as well!

[2016-11-30 20:08] arouinfar commented on #218
Thanks @ariel-phet!

My initial reaction was along the lines of "wow, that's cool!" so I can see how the behavior made it into the sim. :)

I think ~5 m/s^2 looks pretty good
<img width="229" alt="screen shot 2016-11-30 at 1 02 09 pm" src="https://cloud.githubusercontent.com/assets/8419308/20769007/6933dc80-b6fd-11e6-8761-c58fc0144892.png">

Agreed. For consistency with ESPB, I would leave the nee

[2016-11-30 20:24] jessegreenberg commented on #217
Great, thanks.  We will bring in a change for #218 before redeploying.

[2016-11-30 20:41] jessegreenberg commented on #218
@arouinfar @ariel-phet here is the latest with this change:

http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/2.1.1-rc.3/forces-and-motion-basics_en.html

Are we ready to redeploy this maintenance release?

[2016-11-30 20:44] arouinfar commented on #218
Looks good! I think everything's ready for the redeploy @jessegreenberg, but @ariel-phet can confirm.

[2016-11-30 22:26] jessegreenberg commented on #218
Thanks @arouinfar, I think we are ready to go.  Closing this issue and I will track the maintenance release in #217.

[2016-11-30 22:26] #218 closed

[2016-12-01 00:00] jessegreenberg commented on #217
This maintenance release should include changes for

- [ ] #218
- [ ] #217
- [ ] #214
- [ ] #213

http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/2.1.1-rc.3/forces-and-motion-basics_en.html

Just goint to sanity check for a few minutes before redeploying.

[2016-12-01 00:14] jessegreenberg commented on #217
@arouinfar @ariel-phet @oliver-phet version 2.1.1 has been deployed with changes for #218, #217 and #213.

Assigning back to @oliver-phet in case the user should be notified.

[2016-12-01 20:00] oliver-phet commented on #217
User emailed. Closing.

[2016-12-01 20:00] #217 closed

[2016-12-12 20:35] kathy-phet commented on #215
@mattpen, Can you please put Sam's file "etextbook_code.txt" above, here?
https://phet-io.colorado.edu/examples/etextbook_friction

Thanks!

[2016-12-13 03:00] mattpen commented on #215
@samreid - I've uploaded this to https://phet-io.colorado.edu/examples/etextbook_friction/, but it is currently failing, due to libraries linked from spot.  Do you know how to recreate the sim such that it points to phet-io.colorado.edu instead?

![image](https://cloud.githubusercontent.com/assets/11747676/21125833/97d4dc18-c0a5-11e6-9d92-42fef4b17518.png)

[2016-12-13 16:19] samreid commented on #215
It looks like I should publish a production version from the same shas, I'll work on that shortly.

[2016-12-13 16:24] samreid commented on #215
We'll publish to 2.1.7-phetio from the 2.1-phetio branch.

[2016-12-13 16:31] samreid commented on #215
I created branch 2.1-phetio-etextbook-friction since 2.1-phetio branch was already up past 2.2.

[2016-12-13 16:32] samreid opened #219 "branch: 2.1-phetio-etextbook-friction"
See https://github.com/phetsims/forces-and-motion-basics/issues/215#issuecomment-266787525

[2016-12-13 16:32] samreid commented on #219
This is a deploy branch, not a development branch, and probably should never be deleted.

[2016-12-13 16:38] samreid commented on #215
New version published here: https://phet-io.colorado.edu/sims/forces-and-motion-basics/2.1.7-phetio/wrappers/index/

[2016-12-13 16:42] samreid commented on #215
@mattpen can you please update the links in /Users/samreid/github/phet-io-website/root/examples/etextbook_friction/index.html to point to the files in https://phet-io.colorado.edu/sims/forces-and-motion-basics/2.1.7-phetio/wrappers/index/ then redeploy and test it?

[2017-01-10 17:59] mattpen commented on #215
The new version has been deployed to https://phet-io.colorado.edu/examples/etextbook_friction/ and is working without errors.

[2017-01-10 18:01] mattpen commented on #215
Tagging @kathy-phet  so that she is aware that the exemplar has been redeployed.  This issue appears to be complete, closing.

[2017-01-10 18:01] #215 closed

[2017-02-27 19:15] oliver-phet opened #220 "User request: speedometer to Net Force, disable "Red/Blue Wins""

[2017-02-28 18:51] phet-steele opened #221 "Multiple disposal issue"
From the checks in phetsims/scenery/issues/601:

[code]

To reproduce:

1. 1st screen, let a team win.
2. Press "Return".

@samreid @kathy-phet note that this severely affects the classroom activity wrapper for this sim (should go without saying).

[2017-03-01 16:01] samreid commented on #221
@phet-steele is the bug present in the last published version:

https://phet-io.colorado.edu/sims/forces-and-motion-basics/2.2.6-phetio/wrappers/classroom-activity/classroom-activity.html?wrapper=classroom-activity&sim=forces-and-motion-basics&validationRule=crossCheckID&validationPrefix=WE16-&publisher_id=d332cd2f&application_id=8b5d5bf5cbb578c34e71759b2bd3ce4b&widget_id=forces-and-motion-test&ph

[2017-03-01 17:00] phet-steele commented on #221
No, and I would imagine you would need to run with ?ea to see the issue. To clarify it it wasn't already known, this issue was found on master in require js.

[2017-03-01 17:15] ariel-phet commented on #220
@arouinfar I know we keep refining this sim....but these are interesting suggestions on the first screen. The more on chew on this it seems like having some way to indicate acceleration or constant speed seems valuable. A speedometer seems fairly natural, but on this screen if we had one it would definitely need to be qualitative since we have no masses listed.

I also do not think it would be a h

[2017-03-13 17:27] oliver-phet commented on #220
Additional email from user:

[BFM_2TugOfWarPDF.pdf](https://github.com/phetsims/forces-and-motion-basics/files/839079/BFM_2TugOfWarPDF.pdf)

[2017-03-13 18:41] arouinfar commented on #220
@ariel-phet I think the user makes a really good point. I don't see the "Red/Blue Wins" banner as the culprit, however. I think allowing pullers to continue off-screen would be sufficient to address the user's request. I can also see how a qualitative speedometer would be a very useful tool here. I'll go ahead and create some mockups.

[2017-03-13 22:15] arouinfar commented on #220
Screens 2-4 have the speedometer located at the exact same place in the play area. This positioning won't work on the first screen, as there will be some overlap with the Sum of Forces vector.
![screen shot 2017-03-13 at 4 11 10 pm](https://cloud.githubusercontent.com/assets/8419308/23877396/c1df64c0-0807-11e7-9591-ebd1b4910c34.png)

Scaling the speedometer down to 75% (keeping top-center position

[2017-03-13 22:26] arouinfar commented on #220
A few more thoughts:
* The mockups display the instant where the "Blue Wins" flag would appear. The cart would continue moving to the left, rather than stopping.
* I've pasted the max length Sum of Forces vectors into the last two mockups to see how the Speedometer would look when there's a large net force.
* The Sum of Forces arrowhead will still come pretty close to the Speedometer, so it should

[2017-03-13 22:32] ariel-phet commented on #220
@arouinfar a few thoughts...

My first instinct would be to put the speedometer centered top. I feel like centering the speedometer is important (this is just my instinct) to feel like it is measuring the speed of the whole system. I know that seems obvious, but biasing it to one side feels odd. It seems the "Sum of Forces" label and arrow can move down a bit. Perhaps the flag could appear in the

[2017-03-13 23:27] arouinfar commented on #220
Thanks for the suggestions @ariel-phet. I think having the speedometer centered would be a nice touch, though I'm not sure I agree that it's necessary.

Moving the speedometer onto the cart itself or centering it at the top of the screen requires the speedometer to be quite a bit smaller -- 55% of its current size. However, I think the speedometer still seems big enough. I wouldn't make it any sma

[2017-03-13 23:40] jessegreenberg commented on #220
@arouinfar is the speedometer value readout large enough when scaled down to that size?

[2017-03-13 23:57] arouinfar commented on #220
@jessegreenberg the speedometer would just be qualitative, so there wouldn't be a value. I think the needle would still be readable at that size. Do you have any other thoughts about the layout changes?

[2017-03-14 01:56] ariel-phet commented on #220
@arouinfar I am kind of liking the speedometer on the cart

1. One problem with putting the red/blue wins flag over the pullers is you would still be able to interact with the pullers

2. Part of me would also be OK with removing the "wins" flag altogether. We no longer call this screen "tug of war" and it is sort of obvious which side "wins". If we let the cart continue to go off screen, we could

[2017-03-14 17:15] arouinfar commented on #220
Agreed. If we decide to re-locate the speedometer on the first screen, I think the cart is the best place.

Very true. This would require the users to return the cart before setting up a new experiment, which I hadn't thought about.

Me too, actually, but I think removing it could get complicated. I wonder what implications this would have for the wrappers we've built for FAMB. I'm pretty sure the

[2017-03-14 18:06] ariel-phet commented on #220
@arouinfar I kind of like the flag disappearing if more interaction occurs that could change the result, that will require adding some logic.

@jessegreenberg thoughts on the difficulty of that sort of logic/interaction?

[2017-03-15 23:30] jessegreenberg commented on #221
I ran into this while taking a look at https://github.com/phetsims/forces-and-motion-basics/issues/220.

Dispose is registered to events in FlagNode with
[code]
When one is triggered, the other isn't removed in dispose, so if you press "Return" and then "Reset All", and the flag will be disposed multiple times.

Also, dispose can be called in NetForceScreenView whenever the cart moves, and wheneve

[2017-03-15 23:44] jessegreenberg commented on #221
I can no longer reproduce this issue, but want to wait for verification in the phet-io issue before closing.

[2017-03-16 01:07] jessegreenberg commented on #220
@ariel-phet @arouinfar it would be very straight forward to implement that kind of thing.

[2017-03-16 01:16] jessegreenberg commented on #220
@arouinfar @ariel-phet something like this:
http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/2.1.7-no-end-game.3/forces-and-motion-basics_en.html

We probably would want to stop disabling the "Pause" button.

[2017-03-16 01:21] jessegreenberg commented on #220
Ah, I think I misunderstood - in the above version, the team needs to have the largest force to win. But we want the game to continue when a puller is added/removed correct? So it should be possible for the blue team to win even if there is more force from the read team.

[2017-03-16 01:39] jessegreenberg commented on #220
Ok, something like this:
http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/2.1.7-no-end-game.4/forces-and-motion-basics_en.html

This doesn't include layout changes.

[2017-03-16 06:30] jonathanolson opened #222 "Automated testing failure"
I'll see if I can reproduce somehow, since this seems to be fairly reliably happening (just this sim):
[code]

Maybe there's something weird going on with namespaces?

[2017-03-16 16:45] ariel-phet commented on #220
@jessegreenberg that looks good! Would it be a ton of work to slap a speedometer on the cart? If not too much work it would be great to make a dev version and then discuss with Kathy

[2017-03-16 16:52] jessegreenberg commented on #222
I haven't been able to reproduce this at all myself. I let the sim fuzzTest for about 4 minutes for built and requirejs versions.  I cannot reproduce in test-server.

But I do see it in https://bayes.colorado.edu/continuous-testing/aqua/html/continuous-report.html, is it possible that this is an issue with continuous testing?

[2017-03-16 16:53] jessegreenberg commented on #222
Like bayes isn't able to pull latest or something?

[2017-03-16 17:07] jessegreenberg commented on #220
It should be pretty simple to add the speedometer.

[2017-03-16 17:19] jonathanolson commented on #222
That may happen, but it's only happening with this sim. I'll be looking into it.

[2017-03-16 18:49] jessegreenberg commented on #220
Here is a version with the speedometer added (with the panel checkbox):
http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/2.1.7-no-end-game.6/forces-and-motion-basics_en.html

[2017-03-16 19:17] jessegreenberg commented on #220
scenery-phet's ```GaugeNode``` wasn't intended to be this small, it doesn't support changing size off the label text and the ticks, I will take a look at that.

[2017-03-16 23:39] jessegreenberg commented on #220
I also like 3, that seems most clear and handles the issue brought up in this user request.

[2017-03-17 17:19] ariel-phet commented on #220
@jessegreenberg @arouinfar I think the cart stopping at the edge of the screen would be fine, and I think I am liking the speedometer on the cart, it seems to work quite well, especially when the cart is in motion, accelerating, and you add another puller to balance the forces (so a constant speed is achieved) - it is immediately obvious.

[2017-03-21 16:40] phet-steele commented on #222
@jonathanolson @jessegreenberg this line: https://github.com/phetsims/forces-and-motion-basics/blob/master/js/motion/MotionConstants.js#L8

needs to say `define( function( require ) {...}`, it's currently missing "require". That's my guess.

[2017-03-21 16:56] jonathanolson commented on #222
Recommended fix pushed, let me know if it fixes it?

[2017-03-22 15:43] samreid commented on #222
It looks like Bayes reports this as fixed, and it is working again in my local aqua test.  Other sims exhibit the missing `require`:

area-builder
energy-forms-and-changes
energy-skate-park-basics
fluid-pressure-and-flow

I'll create a new issue to investigate.

[2017-03-22 15:43] #222 closed

[2017-03-23 15:39] jessegreenberg commented on #220
@arouinfar can you please provide a mock up that shows what the barrier should look like?

[2017-03-23 17:50] arouinfar commented on #220
@jessegreenberg @ariel-phet I've mocked up a few options, but they all feel pretty heavy, save for this one:

![screen shot 2017-03-23 at 11 43 09 am](https://cloud.githubusercontent.com/assets/8419308/24261846/f63b8f92-0fbd-11e7-8826-b605f19d4dd2.png)

The stopper doesn't look too obtrusive. The pullers would pass it with ease (and should be layered above the stopper).
![screen shot 2017-03-23 at

[2017-03-23 18:48] kathy-phet commented on #220
I like this one, but would suggest making the stopper a steel grey, like metal.
![image](https://cloud.githubusercontent.com/assets/5096804/24264714/e34956fe-0fc6-11e7-8c48-fd848884e0bb.png)

[2017-03-23 18:59] kathy-phet commented on #220
I'd like to keep the blue/red "wins" flag. Is that the plan?

[2017-03-23 20:00] arouinfar commented on #220
Something like this @kathy-phet?
![screen shot 2017-03-23 at 1 58 57 pm](https://cloud.githubusercontent.com/assets/8419308/24267779/0bc11220-0fd1-11e7-9f24-98f0b08ebeec.png)

[2017-03-23 20:00] arouinfar commented on #220
And, yes, we'll be keeping the flag.

[2017-03-23 20:04] jessegreenberg commented on #220
https://github.com/phetsims/forces-and-motion-basics/issues/220#issuecomment-288842615

That looks good to me @arouinfar! Are the grey "stoppers" at the edge of the dev bounds? Currently the game is over when the cart gets to about half way from center to dev bounds.

[2017-03-23 20:46] ariel-phet commented on #220
@arouinfar @jessegreenberg that looks good (I think we would want to layer the pullers above the stoppers)

[2017-03-23 22:37] arouinfar commented on #220
@jessegreenberg I have placed the outer edge of the stopper at the dev boundary, which would roughly place the edge of the cart at the dev boundary.

Agreed @ariel-phet!

[2017-03-24 11:57] kathy-phet commented on #220
Looks good to me!

Sent from my iPhone

On Mar 23, 2017, at 4:37 PM, Amy Rouinfar <notifications@github.com<mailto:notifications@github.com>> wrote:

Are the grey "stoppers" at the edge of the dev bounds?

@jessegreenberg<https://github.com/jessegreenberg> I have placed the outer edge of the stopper at the dev boundary, which would roughly place the edge of the cart at the dev boundary.

(I think

[2017-04-19 18:39] jessegreenberg commented on #220
Sorry, no, but this should be pretty quick, I will work on it today.

[2017-04-21 16:25] phet-steele opened #223 "GaugeNode, Tandem was required but not supplied"
[code]

[2017-04-22 00:30] jessegreenberg commented on #220
@ariel-phet @arouinfar @kathy-phet here is a version with these changes:

http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/2.1.7-dev.4/forces-and-motion-basics_en.html

What do you think?

[2017-04-22 00:41] jessegreenberg commented on #223
Thanks @phet-steele, tandem added and phet-io tests passing here.  Closing.

[2017-04-22 00:41] #223 closed

[2017-04-22 17:24] ariel-phet commented on #220
I think that is all looking quite nice, working quite well @jessegreenberg!

To me, now there remains one issue...when the race is finished we may need to stop showing the force arrows. When the cart hits the "hard-stop" and one of the flags appears declaring the winner, the stop is actually providing a force. So it might be easiest to just hide all forces once the cart hits the stop. Or perhaps w

[2017-04-24 18:49] arouinfar commented on #220
@jessegreenberg I like the stoppers quite a bit! I completely agree with @ariel-phet in regards to the force vectors -- we shouldn't continue to show them once the cart stops.

At minimum, the vectors should be hidden. I do really like @ariel-phet's suggestion for the pullers to "stand up" (like they do before Go is pressed) once the cart stops, but I don't know how feasible it would be.
![image](

[2017-04-24 19:55] jessegreenberg commented on #220
Making the pullers stand up at the end of the game is a trivial change, here it is in a dev version:

http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/2.1.7-dev.5/forces-and-motion-basics_en.html

Reassigning to @arouinfar and @ariel-phet.

[2017-04-24 21:07] ariel-phet commented on #220
@jessegreenberg I think that looks good/works well. Probably we also want to hide the force vectors when everything stops (since the pullers stand up now). So then we should have all vectors hide once the "round" of pulling is over.

[2017-04-24 21:22] jessegreenberg commented on #220
@ariel-phet just to clarify, the force vectors are visible while the pullers are standing before pressing "Go!", so why should they be invisible when the game ends? A dotted stroke around the arrows already indicates that the forces are not active on the cart, and is used to represent this while pulling is paused and before pulling starts.

[2017-04-24 21:53] ariel-phet commented on #220
@jessegreenberg good point! I am little fuzzy today, and I don't think I was paying much attention to the beginning. That does seem consistent.

[2017-04-24 22:12] ariel-phet commented on #220
@jessegreenberg I think it would be good to have @kathy-phet take a look before we publish. Can you plan to bring up at the next status meeting (2 weeks I believe)

[2017-04-27 16:36] jessegreenberg commented on #220
Wil do.

[2017-05-04 21:06] jessegreenberg commented on #220
We discussed this in status meeting 11/4/17.  @kathy-phet and the team approved of the changes, but @kathy-phet said she wanted to play with the latest version before proceeding with the redeploy.  @jessegreenberg sent it to her in an email.

[2017-05-04 22:40] kathy-phet commented on #220
Looks great to me.

@samreid - Seems like it should be decided as to whether to update the PhET-iO version with these changes. I would vote yes -- as they are nice improvements.

[2017-05-04 22:43] arouinfar commented on #220
@kathy-phet if @samreid updates the PhET-iO version, we may want to consider what effect it would have on the wrapper @amyh-phet worked on.

[2017-05-04 22:48] kathy-phet commented on #220
The wrapper points to a static version, so it would be OK. It would be for our current clients like BrainPop use.

[2017-05-05 01:02] samreid commented on #220
It seems good to get in the pattern of testing/republishing PhET-iO versions when the PhET versions change. @jessegreenberg is this something you can do?  I forget how familiar you are with the instrumentation process (I recall we started on a sim together, but I think we got distracted).

[2017-05-09 23:26] jessegreenberg commented on #220
Thats how I remember it too :)  I am happy to look into this, but I would need some documentation to learn where to start.  I will defer to your judgement on whether or not this is a good place for me to continue learning about PhET-iO.

[2017-05-10 03:10] samreid commented on #220
While I generally agree with the comment in https://github.com/phetsims/forces-and-motion-basics/issues/220#issuecomment-299348273 the QA team is very busy with other tasks, so we should coordinate with @ariel-phet and perhaps consult with @kathy-phet about the priority of re-instrumenting/re-testing/re-releasing the PhET-iO version with these new features.

[2017-05-25 15:33] samreid opened #224 "What is boundsInaccurate? Can it be deleted?"

[2017-06-01 16:34] jessegreenberg commented on #220
We discussed this 6/1/17 status meeting:
@ariel-phet said that there isn't a particular rush for publishing this features.  Ideally they would be published before the end of the school year.

@zepumph will work on publishing this with updates to PhET-iO features when he returns to work. @samreid suggested that it would be helpful to have a list of new features associated with this issue so it is e

[2017-06-01 16:35] jessegreenberg commented on #220
@zepumph, assigning to you, but please let me know if you have any questions about the above request.

[2017-06-10 00:30] jessegreenberg opened #225 "Uncaught TypeError: Cannot set property 'className' of undefined"
[code]

Probably introduced from phetsims/scenery#624"

[2017-06-10 00:53] jessegreenberg commented on #225
Fixed, closing.

[2017-06-10 00:53] #225 closed

[2017-06-15 17:06] jessegreenberg opened #226 "Replace PropertySet with Property"
From phetsims/axon#102, PropertySet is deprecated and should be replaced with Property.

[2017-06-21 00:30] zepumph commented on #220
I looked into this today. I found only one small place where more instrumentation was needed. Good work @jessegreenberg instrumenting as you go! I am a bit confused about what it next. We want to release FAMB and FAMB-phetio now together? I can make releases very soon to go off to the QA team.

[2017-06-21 16:00] jessegreenberg commented on #220
Great, thanks @zepumph!

Yes, that seems correct.  Let me know if you would like some help preparing RCs.

[2017-06-21 17:25] zepumph opened #227 "Publish new phet and phet-io versions"
Because of the added features in #220, it would be good to release new production versions of this Sim.  It looks like these will be 2.3 and 2.3-phetio

[2017-06-21 17:33] jessegreenberg commented on #227
@zepumph, are phetio branches supposed to increment the minor number? I remember some confusion in balloons-and-static-electricity about having 1.2 and 1.2-phetio branches, but maybe that was for another reason. Sorry, I could be wrong, I don't have a full understanding of the phetio build process.

[2017-06-21 17:33] jessegreenberg commented on #227
Or maybe since they are being built from the same SHAs they are supposed to have same minor number?

[2017-06-21 18:29] zepumph commented on #220
I will carry this on in #227 and let @oliver-phet know when they are published.

[2017-06-21 18:35] zepumph commented on #220
Are we good to close this issue? It seems like it to me.

[2017-06-21 18:35] #220 closed

[2017-06-21 18:46] zepumph commented on #227
Yeah you are right on. We want to make sure that we always increment. Let's say we were only releasing a phet brand rc for FAMB. Since there is a 2.2-phetio (even though no 2.2), we would still have to use 2.3 because we increment regardless of the brand.

Since we are pulling both at the same time (same shas), it would make sense for them to share shas.

[2017-06-21 19:57] zepumph commented on #227
They are in the queue now.

[2017-06-21 20:05] jessegreenberg commented on #227
Ok, thanks @zepumph, so should the branches be 2.3 and 2.4-phetio?

[2017-06-21 20:07] zepumph commented on #227
I don' think so because we want them to share the same shas, and stay in sync. Feel free to call if we want to discuss further.

[2017-06-23 22:00] phet-steele opened #228 "2.3.0 screenshot"
To be done before #227

[2017-06-23 22:00] phet-steele commented on #227
@zepumph we MUST take a new screenshot before publication. I'll take care of it when this rc is closer to being done, but let's not forget. See #228.

[2017-06-23 22:18] zepumph commented on #227
Thanks a ton. I will make this more obvious in the deployment guidelines.

[2017-06-25 18:23] zepumph opened #229 "Cannot register two different instances to the same id"
Looks like flag node isn't being disposed correctly.

[code]

[2017-06-25 18:30] zepumph commented on #221
I just got it again today:

[code]

[2017-06-25 18:30] zepumph commented on #229
Duplicate, see https://github.com/phetsims/forces-and-motion-basics/issues/221

[2017-06-25 18:30] #229 closed

[2017-06-29 16:43] phet-steele opened #230 "Flag overlaps text when Sum of Forces is zero"
After #213, the flag does not overlap the Sum of Forces if and only if the sum is NOT zero. If it is zero, The "Sum of Forces = 0" string is still high on the screen and is covered by the flag:

<img width="1915" alt="screen shot 2017-06-29 at 10 41 14 am" src="https://user-images.githubusercontent.com/5863899/27699439-868c6c2e-5cb7-11e7-8992-7ba44fa34e50.png">

Because the string is higher...
<im

[2017-06-29 18:45] jessegreenberg opened #231 "Cart can go beyond stoppers"
Found by @phet-steele for https://github.com/phetsims/QA/issues/11.  @phet-steele please feel free to include additonal information if stuff is missing.

Steps to reproduce:
- Start a game of tug of war where the cart will move to one side
- Just before cart wheel hits edge of stopper navigate away from current browser tab.
- Return to sim tab.

The cart wheel will be beyond the stopper.

@phet-st

[2017-06-29 18:46] jessegreenberg commented on #231
This is also a problem in the deployed version, here is a screenshot in 2.1.4:

![capture](https://user-images.githubusercontent.com/6396244/27704811-04c5f84c-5cc9-11e7-9224-08d14d55df41.PNG)

[2017-06-29 18:49] jessegreenberg commented on #230
@phet-steele, this is the behavior in master and the deployed version too correct?

[2017-06-29 18:53] phet-steele commented on #230
Yup, @arouinfar agrees this should be changed

[2017-07-06 22:36] ayeemdee opened #232 "Stack changes when copy sim is launched in Instance Proxies and State"
This occurs in the Motion, Friction, and Acceleration screens. The object can either be stopped, pushed or freely moving. Works on all objects except default box.

For Instance Proxies:
1. Go to Motion, Friction, or Acceleration screens
2. Add any object to stack or swap with default box
3. Click Launch to start a copied sim
4. Object is now floating in air and stack has force properties of defaul

[2017-07-07 18:03] zepumph commented on #232
This touches phet-io, I'll take it over.

[2017-07-07 18:04] jessegreenberg commented on #232
Thanks @zepumph!

[2017-07-18 21:31] jessegreenberg commented on #230
@arouinfar @phet-steele so the change should be that the "Sum of forces = 0" should be vertically aligned with the "Sum of Forces" string, correct?

[2017-07-18 21:33] arouinfar commented on #230
Correct @jessegreenberg!

[2017-07-18 21:52] jessegreenberg commented on #230
Great, thanks @arouinfar!

[2017-07-18 22:40] jessegreenberg commented on #231
Should be fixed in the above commit.

[2017-07-20 01:38] jonathanolson opened #233 "Double-adding input listeners for PusherNode"
[code]

now an assertion failure from https://github.com/phetsims/scenery/issues/651.

[2017-07-20 03:40] jessegreenberg commented on #233
Thanks, will take a look tomorrow.

[2017-07-22 00:20] jessegreenberg commented on #233
Fixed in the above commit.

[2017-07-22 00:20] #233 closed

[2017-07-28 22:02] zepumph commented on #232
This seems to be a very old problem, not from a recent change, I was able to recreate it on FAMB 2.2.6-phetio.  https://phet-io.colorado.edu/sims/forces-and-motion-basics/2.2.6-phetio/wrappers/instance-proxies/instance-proxies.html?sim=forces-and-motion-basics

I found these pictures very similar to the ones above, but with less clutter and a bit simpler for me to convey and understand the problem

[2017-07-28 22:03] zepumph commented on #232
My best guess to what is happening is that there is a property or setting that is not instrumented, and so it is not being conveyed to the downstream sim. Something like a "dropped" or "selected into the stack" property. @jessegreenberg, FAMB is pretty large, could you comment on a good place for me to start to look into this?

[2017-07-28 22:26] jessegreenberg commented on #232
@zepumph there is a dragging Property in Item.js, but it looks instrumented to me.  However, in the same type there is an 'animating' property in the list of properties that looks suspicious.  Any chance it could be related to this?

[code]

[2017-07-28 22:32] zepumph commented on #232
I'm looking into that one currently! I wonder if successful instrumentation of that won't just solve our problem.

[2017-07-28 22:32] zepumph commented on #232
I'm glad we agree to a starting point.

[2017-07-28 23:03] zepumph commented on #232
Instrumenting the 'animated' property helped to fix the look of the sim when it first launches, but it still isn't correct, the first crate will still bounce back up to the base of the stack, like some sort of edge case based on the initial configuration.

[2017-07-29 00:23] zepumph commented on #232
I think I found the culprit. In MotionModel see the `viewInitialized` method:

[code]

It is manipulating the starting block pretty directly, and part of me thinks that this is overriding the state coming from the upstream simulation (in the state wrapper) or the launch customizations (in instance proxies).

Then I decided to get the state out of the sim twice, once from the upstream sim (in insta

[2017-07-29 00:43] zepumph commented on #232
In the above commits I instrumented a few things that I'm unsure about. I know that instrumenting the 'animating' property helped, but I'm not so sure I did it in the best way. All I wanted was for the object to be passed across the frame, which I would have assumed was TObject's job, to pass an object verbatim across the frame. Instead it's toStateObject looks like this:
[code]

This seems strang

[2017-07-31 21:10] jessegreenberg commented on #232
@zepumph any time. I know that there are some state properties in this sim that are not observable axon Properties, maybe they aren't getting updated correctly in the wrapper case.

[2017-08-01 23:35] zepumph commented on #232
@jessegreenberg and I looked into this, it turns out the problem was that TObservableArray was not instrumented for state's.
I found a solution to this problem. It involved saving references to the elements so that they could be reassigned in the downstream sim. This solution isn't perfect, and probably doesn't work on all cases, but I applied a workaround in phetio.js until we figure it all out.

[2017-08-01 23:36] zepumph commented on #232
on second thought. It may want to be confirmed fixed on the next round of testing. Unassigning.

[2017-08-07 17:29] samreid commented on #221
I can get this problem by running instance proxies and winning tug of war once:
[code]

[2017-08-07 17:39] samreid commented on #221
Proposed fix is above, and testing in instance proxies seems OK (no more "cannot register two") errors that I can see, and the flag still seems to be displayed when it should be.  @jessegreenberg can you please review and test?

[2017-08-07 20:19] zepumph commented on #232
There is a problem here because of https://github.com/phetsims/phet-io/issues/1027. The TAnimatingData needs it's own type. I want to talk to @samreid about trying to make this just be TObject.

[2017-08-10 22:21] jessegreenberg opened #234 "Create a screenshot"
@phet-steele remembered that this sim needs a new screenshot.  As part of https://github.com/phetsims/QA/issues/12 and https://github.com/phetsims/QA/issues/11, we should make a new screenshot.

[2017-08-13 23:12] zepumph commented on #232
Bumping priority because it is blocking the publication of the new version of FAMB. @samreid I would love to talk through this one with you soon.

[2017-08-13 23:24] zepumph commented on #232
When I look at the state taken from the upstream sim, and compare it to a 'getState' call from the downstream "launched" sim after it has been set. They are basically the same thing. The only different looks like this in 'lastLocationProperty`
[code]

[2017-08-13 23:39] zepumph commented on #232
The main problem I am trying to solve is that after a state has been set where there is no crate1 in the stack, the crate1 still seems to be in the stack, sortof (see https://github.com/phetsims/forces-and-motion-basics/issues/232#issuecomment-318772171 bullet 3 and 4). I think that we still aren't fully setting the state of observable arrays correctly.

[2017-08-13 23:46] zepumph commented on #232
I found the bug. I wasn't adding the `phetioIncludeInState` property to ObservableArray, so it was just in the options.

The bug is fixed now, but I'm not sure we have the best solution. @samreid could you please look at the above commits, and mainly see the static stateObject methods in ObservableArray and comment on a few things.

1. Do you think I have fully solved this error for this bug?
2. D

[2017-08-14 15:06] samreid opened #235 "Prepare for Legends of Learning"
@kathy-phet said

@amanda-phet we will also need icons for this.

[2017-08-15 03:39] samreid commented on #232
Summarizing what I gleaned from looking at ObservableArray and TObservable, to see if I have it right:

a. ObservableArray has a new option that it can use to opt-in to saving data on state save
b. If that flag is set, then TObservableArray uses phetioIDs to save and restore state--this requires fixed (not dynamic) instances.

If this is correct, I think it will work for some sims but not others a

[2017-08-15 03:41] samreid commented on #232
Also, the property `this.animation` is poorly named.  Perhaps it should be `this.animationState` and have type `AnimationState`?

[2017-08-15 06:01] samreid commented on #232
Aha, I found a hack that covers up my hack!

[code]

[2017-08-15 06:22] samreid commented on #232
Also, regarding whether we can use cherry-picks for this, please be aware in https://github.com/phetsims/forces-and-motion-basics/issues/235 @kathy-phet requested this sim be ready for Legends of Learning.  I do not know when the SHAs are from or if this sim suffers from the multitouch problems we found in build an atom.  It would be good to get that worked out before next publication.

[2017-08-15 06:24] samreid commented on #235
Discussion in #232 says there was an RC that was close to publication and we were deliberating whether to use RC SHAS or not.  @jessegreenberg can you comment on whether the RC included LOL testing?  If not, can a quick test or two reveal whether this sim (in the RC SHAS) exhibits touch problems like the ones we saw for build an atom?  If the RC SHAS are problematic, is master problematic?

[2017-08-15 18:28] zepumph commented on #232
Instead of adding the above line of code, just change the call site in MotionModel. I am definitely seeing the bug, here are the steps to reproduce.
1. swap crates so crate2 is on the stack alone
2. add a person on top
3. launch
4. click on the crate that is at the base of the stack. (It should weirdly float up to lay in front of (z layer) the man)

See https://github.com/phetsims/forces-and-motio

[2017-08-15 19:02] zepumph commented on #232
In the above commits. . .

I renamed `animating` Property to `animationState`.

I also got rid of TAnimatingData, and made a small change to TObject so that it can support wrapping json objects out of the box.

This is a change that seems to effect many places, but I looks and saw that in all of our phet-io sims, `TObject.to/fromStateObject()` is never called because it is always overridden by sub

[2017-08-15 19:44] jessegreenberg commented on #235
To verify, I tested 2.3.0-rc.2 in the LoL test harness, and was able to reproduce the same problems with dragging that we were seeing in build-an-atom.

I am unable to reproduce the problem in master.  So I think to support LoL we should rebuild with master and do a new RC test including LoL testing.

@samreid @zepumph do you think that we should coordinate the 2.3 and 2.3-phetio releases again? T

[2017-08-15 20:14] zepumph commented on #235
I think the simplest solution to get both released as quickly and effectively as possible is to go ahead with 2.3-phetio, and take master for 2.3, The solution for the phet-io bug https://github.com/phetsims/forces-and-motion-basics/issues/232 can be cherry-picked into that branch.
There is an argument for releasing both as 2.3/ 2.3-phetio from current master, because of less branching confusion.

[2017-08-15 20:23] jessegreenberg commented on #235
Thanks @zepumph, I agree.  Though I might recommend replacing 2.3 with a 2.4 branch so it is clear that it has separate SHAs from 2.3-phetio.

[2017-08-15 20:28] zepumph commented on #235
Edited above, I agree. That was a typo!

[2017-08-15 21:15] jessegreenberg commented on #235
Sounds good! @samreid if you agree, should I proceed with an RC for FAMB now?

[2017-08-15 21:28] jessegreenberg commented on #226
In #235, we will have a new RC for Forces and Motion Basics.  If we do this quickly now, the replacement will be tested in the next RC.

[2017-08-15 21:41] jessegreenberg commented on #226
Actually, this conversion could definitely have an impact on phetsims/QA#12, and may make it difficult to cherry-pick changes into the release branch 2.3-phetio.  Ill coordinate with @zepumph about this, either waiting until 2.3-phetio is deployed or if we decide 2.3-phetio needs master SHAs.

[2017-08-16 00:47] zepumph commented on #226
Thanks @jessegreenberg. I hope to have #232 figured out before I leave Friday, so that it won't put this on hold for too long.

[2017-08-16 15:25] samreid commented on #235
Cherry picking https://github.com/phetsims/chipper/issues/587 into `2.3-phetio` seems reasonable, but it looks like https://github.com/phetsims/QA/issues/12 still has a lot of testing to do for the phet-io version.

I can see that the non-phet-io version passed RC testing and that's great, but it may be inefficient to fully test the phet-io version now then again in a week or two for the LOL relea

[2017-08-16 15:31] jessegreenberg commented on #235
Sounds good @samreid, Ill bring it up for discussion at tomorrow's status meeting.

[2017-08-16 15:33] samreid commented on #235
I emailed @ariel-phet (because I think he may be out tomorrow)

Hi Ariel,

Jesse and I had a question about scheduling testing for Forces and Motion: Basics.  Kathy wanted to schedule Legends of Learning for the near future (which requires master), but the previous version which has passed QA for non-phet-io is buggy for Legends of Learning and still needs to go through phet-io QA.  We weren't sur

[2017-08-16 15:54] ariel-phet commented on #235
@samreid I say bite the bullet and go to master.

[2017-08-16 15:55] samreid commented on #235
OK thanks @ariel-phet.  I'll leave it up to you @jessegreenberg

[2017-08-16 16:31] samreid commented on #232
In https://github.com/phetsims/forces-and-motion-basics/issues/235#issuecomment-322817011 @ariel-phet recommended to go to master.

[2017-08-16 17:02] jessegreenberg commented on #235
Thanks @samreid, but just to clarify, the decision is to build 2.3 and 2.3-phetio off of master and deploy both at the same time, synchronizing their release and SHAs?

[2017-08-16 17:06] samreid commented on #235
I think that's been our consensus for deploying sims that have phet-io (though I have to admit there has been a lot of churn in those ideas and I'm not 100% sure of our final decision).  It seems the discussion was mostly here? https://github.com/phetsims/chipper/issues/587

[2017-08-16 17:08] jessegreenberg commented on #231
@phet-steele, sorry, It looks like I forgot to link to this in https://github.com/phetsims/QA/issues/11.  Was this verified as fixed in https://github.com/phetsims/QA/issues/11?

[2017-08-16 17:11] jessegreenberg commented on #231
Ahh, nevermind @phet-steele I misunderstood the closing comment in https://github.com/phetsims/QA/issues/11, because this issue was *found* in https://github.com/phetsims/QA/issues/11.  So 2.3 was never ready for release, but ready for a spot check.  But will need a new RC anyway for #235.

[2017-08-16 17:11] jessegreenberg commented on #231
Assigning to myself to verify as fixed in the next RC.

[2017-08-16 17:14] jessegreenberg commented on #226
Thanks @zepumph.  In #235 we decided to take both 2.3 and 2.3-phetio from master so I will proceed with this issue now.

[2017-08-16 17:18] jessegreenberg commented on #234
This is a duplicate of #228.

[2017-08-16 17:18] #234 closed

[2017-08-17 01:18] zepumph commented on #235
#232 is all set!

[2017-08-17 01:18] zepumph commented on #232
After speaking with @samreid today, we decided to clean this up for ObservableArray to support references, and then proceed with the new FAMB release. As for the 'general case', we want to pursue supporting references and values across the frame, but that is a bit down the road.

This issue is ready to be closed. @jessegreenberg please let me know if there is more I can do with the new FAMB releas

[2017-08-17 01:19] #232 closed

[2017-08-17 07:56] jessegreenberg commented on #226
One down, 5 to go.

[2017-08-21 03:46] samreid commented on #235
A reminder to test for LOL features in the next RC, unassigning self.

[2017-08-21 19:09] jessegreenberg commented on #226
I was concerned about breaking phetio features during this refactor.  In addition to sanity checking wrappers, @zepumph recommended to compare ids in the instance proxies wrapper before and after the change. I have a list of id's before changes related to this, and will compare once refactor is done.

[2017-08-21 22:45] jessegreenberg commented on #226
PropertySet was removed from this sim.  Comparing the phetio id's before and after the refactor is showing no changes:

<img width="1439" alt="screen shot 2017-08-21 at 4 42 53 pm" src="https://user-images.githubusercontent.com/6396244/29541213-e7a482b0-868f-11e7-8e7d-d2e1a215d5a8.png">

This sim has a lot of Properties, and it was using Events and convenience functions of PropertySet, so I want t

[2017-08-21 23:15] jessegreenberg opened #236 "Mass labels in Motion views can get misaligned"
Found while testing for #226, the mass labels on PhET girl and man in the motion screens can get misaligned.  Not caused by the changes in #226, this can be reproduced in the deployed version, from which this screenshot was taken:

![screen shot 2017-08-21 at 5 12 46 pm](https://user-images.githubusercontent.com/6396244/29541861-2b20022c-8694-11e7-9fe7-fb4ffae43d2f.png)

Steps to reproduce:
 - Pla

[2017-08-21 23:40] jessegreenberg commented on #236
Fixed in the above commit, closing.

[2017-08-21 23:40] #236 closed

[2017-08-22 19:59] jessegreenberg commented on #226
PropertySet has been removed. I have been spot checking the sim, trying to break things after the refactor but features seem stable.  Ill remove references to Property.preventGetSet and close.

[2017-08-22 20:08] #226 closed

[2017-08-22 20:15] jessegreenberg commented on #221
The above looks great @samreid, I tested in PhET brand and the instance proxies wrapper, its working great.  Closing.

[2017-08-22 20:15] #221 closed

[2017-08-22 20:41] amanda-phet commented on #235
Icons are located here: https://drive.google.com/drive/folders/0B3v_ZP9Kq36CQnVYRnZYaDRhVkk

[2017-08-22 21:28] jessegreenberg commented on #235
I created an RC for this issue here:
https://github.com/phetsims/QA/issues/42

This RC is for the phet-io version first, when that RC passes, we will start a new one off of the same SHAs.

[2017-08-24 21:49] phet-steele opened #237 "Does lastLocationProperty have the wrong phetioValueType?"
lastLocationProperty looks to be instrumented as a TVector2, but in `NetForceModel.js` it is only being set with a string value. This could explain why in Instance Proxies and Events wrappers, the value never changes. It doesn't change when moving pullers to their knots or to their home; it should. It's probably expecting x & y values but receiving a string instead...so it has no support to displa

[2017-08-24 21:50] phet-steele opened #238 "[State] Pusher direction not being transmitted when fallen"
1. Go to http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/2.3.0-phetiorc.3/wrappers/state/state.html?sim=forces-and-motion-basics&relativeSimPath
2. In the Motion screen, use the arrows to apply force on the cart TO THE RIGHT.
3. Just as the cart reaches max speed and the pusher falls, pause the sim.
4. When comparing between the top and bottom screen, the pusher is facing le

[2017-08-24 21:50] phet-steele opened #239 "optionalTandem indexes appearing in tandem names."
Here: http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/2.3.0-phetiorc.3/wrappers/instance-proxies/instance-proxies.html?sim=forces-and-motion-basics&relativeSimPath

There are many many TEmitter proxies that have the name `optionalTandem###` within them. This is no bueno, and I'm not sure why it is happening. It would be better to have the names of the objects the Emitter is

[2017-08-24 21:50] phet-steele opened #240 "Arm positions not updating after quick object drags"
@jessegreenberg, very quick object movements have a chance to not update the state of a human's arms on the stack. I think it is easier to show than explain:

1. Go to http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/2.3.0-phetiorc.3/wrappers/state/state.html?sim=forces-and-motion-basics&relativeSimPath
2. On the Motion screen, take a human and place it onto the stack.
3. Now

[2017-08-24 21:50] phet-steele opened #241 "[State] Pusher position not being saved upon launch"
1. Go to http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/2.3.0-phetiorc.3/wrappers/state/state.html?sim=forces-and-motion-basics&relativeSimPath
2. Go to the Motion screen, ***pause the sim***
3. Apply some force to the left to put the pusher on the right side of the crate
4. Bring the force back to 0 (so the pusher is simply standing on the right side of the crate)
5. Press

[2017-08-24 21:50] phet-steele opened #242 "Track doesn't show it's disabled with an empty stack"
1. Go to http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/2.3.0-phetiorc.3/wrappers/state/state.html?sim=forces-and-motion-basics&relativeSimPath
2. Go to the Motion screen
3. Take all objects off the track. The track in the top sim correctly turns gray; the bottom sim's track remains white

![screen shot 2017-08-24 at 3 07 18 pm](https://user-images.githubusercontent.com/586

[2017-08-24 21:50] phet-steele opened #243 "[State] Pusher position not being reset in bottom sim"
1. Go to http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/2.3.0-phetiorc.3/wrappers/state/state.html?sim=forces-and-motion-basics&relativeSimPath
2. Go to the Motion screen
3. Get the pusher going a ways until it falls and goes off screen
4. Reset the sim
5. The pusher does not return in the bottom sim.

Seen on macOS 10.12.6 Chrome. For phetsims/QA#42.

[2017-08-24 22:12] lmulhall-phet opened #244 "Sliders aren't working (Net Force)"
**Test device:**

MacBook Air (13-inch, Early 2015)

**Operating System:**

macOS Sierra 10.12.4

**Browser:**

Safari 10.1

**Problem description:**

In the Instance Proxies wrapper, some of the sliders aren't working. The specific sliders and their issues are enumerated and described below. I would recommend either fixing the domains for the sliders or adding notes that tell the users not to use

[2017-08-24 22:20] jessegreenberg commented on #237
Yes, it should be TString, thanks @phet-steele.  It has been TVector2 for a while, probably because the Property  name makes this sound like a Vector2.

[2017-08-24 22:22] jessegreenberg commented on #237
Looks like valid values are 'knot' and 'home'.  So maybe should we rename to lastPlacementProperty?

[2017-08-24 22:27] phet-steele commented on #242
@jessegreenberg just a hunch, but it might be that only `forcesAndMotionBasics.{{SCREEN}}.view.appliedForceSlider.sliderKnob.enabledProperty` is instrumented, but not also the track.enabledProperty (or equivalent).

[2017-08-24 22:36] jessegreenberg commented on #237
If I rename the Property, clients will need to update their wrappers when upgrading to the new version. Is this acceptable?  Renaming the Property would presumably make it easier to understand what this Property is doing for both PhET-iO clients and sim maintainers.

[2017-08-24 22:37] jessegreenberg commented on #237
Leaning toward not renaming until we have documentation that clients can use to be notified of breaking changes.

[2017-08-24 22:44] phet-steele commented on #230
👍

[2017-08-24 22:44] #230 closed

[2017-08-24 22:46] jessegreenberg commented on #238
Verified that this is an issue for 2.2-phetio so this is likely not a problem from #226.

[2017-08-24 22:48] phet-steele commented on #231
Fixed as far as I can tell.

[2017-08-24 22:48] #231 closed

[2017-08-24 22:51] jessegreenberg commented on #237
Would the change from TVector2 to TString potentially break wrappers anyway?  @samreid what would you recommend in this case?

[2017-08-24 23:06] lmulhall-phet opened #245 "Text overlap when applied force changes direction (Friction)"
**Test device:**

MacBook Air (13-inch, Early 2015)

**Operating System:**

macOS Sierra 10.12.4

**Browser:**

Safari 10.1

**Problem description:**

In the Simulation wrapper, a text overlap will occur if the Forces box and the Values box in the Friction screen are checked, the masses are moving fairly quickly, and suddenly force is applied in the direction opposite the movement of the masses. D

[2017-08-24 23:07] jessegreenberg commented on #238
Sometimes it doesn't happen when stepping through. Wondering if this is happening because of the refresh rate of the "state" sim?
![capture](https://user-images.githubusercontent.com/6396244/29692700-9e8f6174-88ee-11e7-986f-2b473a220771.PNG)

[2017-08-24 23:24] samreid commented on #237
We do not need to maintain a stable API yet, we should focus on naming and typing things as they should be.

[2017-08-24 23:42] jessegreenberg commented on #245
Thanks @lmulhall-phet.  It looks like this issue is not specific to this version.  @arouinfar @ariel-phet can you please advise on whether or not this should be fixed and what the fix to the layout should be?

[2017-08-25 04:54] arouinfar commented on #245
Looks like the label location depends on the the arrow size and proximity to other labels.

(1) When there's enough room, the magnitude is inside of the arrow.
<img width="448" alt="screen shot 2017-08-24 at 10 30 17 pm" src="https://user-images.githubusercontent.com/8419308/29699741-48a96588-891c-11e7-8ab9-8545c00e468c.png">

(2) The magnitude moves below "Applied Force" when the arrow becomes to

[2017-08-25 17:40] jessegreenberg commented on #245
Thanks @arouinfar, that is a good idea, here is what that looks like
![capture2](https://user-images.githubusercontent.com/6396244/29725508-976ad8a6-8989-11e7-96b0-3c2eb757ab48.PNG)

We could also alilgn horizontally to give the mass a little space:
![capture](https://user-images.githubusercontent.com/6396244/29725663-17b005fe-898a-11e7-8a93-e05b9ae902e7.PNG)

[2017-08-25 19:46] jessegreenberg commented on #244
I defined ranges for ```Cart.xProperty```, ```Cart.vProperty```, ```Knot.xProperty```, ```netForceModel.speedProperty```.

The others in the list were ```NetForceModel.durationProperty``` and ```NetForceProperty.numberPullersAttachedProperty```.

@samreid @zepumph since these Properties don't have a defined range, and setting ```numberPullersAttachedProperty``` directly doesn't make much since any

[2017-08-25 19:46] jessegreenberg commented on #237
Thanks @samreid, sounds good.

[2017-08-25 20:01] jessegreenberg commented on #242
@phet-steele yes, I think you are right.  It looks like both ```enabledProperty``` in sun/HSliderTrack and sun/HSlider is not instrumented. The ```enabledProperty``` is shared between both (passed through options).

Temporary solution is to  pass an instrumented ```enabledProperty``` to ```HSlider``` in ```AppliedForceSlider```.

[2017-08-25 20:07] jessegreenberg commented on #242
That fixes it, but I am wondering if this should be handled in Sun?

![capture](https://user-images.githubusercontent.com/6396244/29730731-a96614ca-899e-11e7-83b6-176990fe01d8.PNG)

[2017-08-25 20:22] jessegreenberg commented on #243
Seems possible this is related to #241.

[2017-08-25 20:28] jessegreenberg commented on #240
That sounds very possible.

But I also noticed that this ins't happening in the "launched" sim from saved state.
![capture](https://user-images.githubusercontent.com/6396244/29731392-8da09294-89a1-11e7-8e35-bfe0dfaaaa95.PNG)

As such, I am wondering if this is worth fixing?

[2017-08-25 20:35] jessegreenberg commented on #240
@samreid @zepumph do you have any inclination about whether this is a problem with the sim or with the state wrapper?

[2017-08-25 20:38] arouinfar commented on #245
@jessegreenberg I really like the 2nd screenshot in https://github.com/phetsims/forces-and-motion-basics/issues/245#issuecomment-324989181 with the magnitude of the Friction Force next to the string.

[2017-08-25 20:41] jessegreenberg commented on #240
If I remove the throttle from the state wrapper the problem  goes away.

[2017-08-25 20:53] arouinfar commented on #245
I took a look at master, and it looks like you went with the 2nd option. Overall, looks good, but we'll need to also handle cases like this:

![image](https://user-images.githubusercontent.com/8419308/29731837-52b5538e-89a3-11e7-8252-72c5cdcf0a6d.png)

[2017-08-25 20:54] jessegreenberg commented on #240
Because of the refresh rate of the state wrapper, you can see the number of times listeners associated with ```draggingProperty``` are called between the two sims.

![capture](https://user-images.githubusercontent.com/6396244/29732259-1341d7f2-89a5-11e7-8178-1049174faacf.PNG)

16 times in the top sim, 4 times in the bottom sim.  Since the images update with ```draggingProperty``` it is easy to mis

[2017-08-25 21:03] jessegreenberg commented on #245
It looks like this was handled before by switching the layering order of the friction and applied force arrows so the readout of the friction force could be seen while the value of applied force could be inferred by relative size. If the applied force arrow is always on top, will that fix the problem? That would be the easiest solution.

[2017-08-25 21:07] jessegreenberg commented on #245
All text is visible but it looks a little weird.
![capture](https://user-images.githubusercontent.com/6396244/29732697-056e2ade-89a7-11e7-8590-24e306f9f6bf.PNG)

[2017-08-25 21:10] arouinfar commented on #245
@jessegreenberg https://github.com/phetsims/forces-and-motion-basics/issues/245#issuecomment-325034517 does look a bit weird.

I think it would be fine to always arrange the text like this (when the vectors are in the same direction), regardless of the vector size.
![image](https://user-images.githubusercontent.com/8419308/29732792-7a7499c6-89a7-11e7-9ff0-eec7624e56e7.png)

[2017-08-25 21:15] samreid commented on #244
It seems `numberPullersAttachedProperty` has a range of 0 to 4 (correct me if I'm misunderstanding something).  Even though this range wouldn't be used to set a slider range, it could potentially be used for clients to understand the sim or understand the data stream.  It seems like it would be good to add that if not too much work.

For the durationProperty, I think the range would be 0 to infini

[2017-08-25 21:18] jessegreenberg commented on #245
Thanks @arouinfar that looks good to me.  Added in the above commit, can you review in master again?

[2017-08-25 21:21] arouinfar commented on #245
Looks good to me @jessegreenberg!

[2017-08-25 21:22] jessegreenberg commented on #245
Excellent, thanks! I am going to keep open just as a reminder to bring commits into the release branches.

[2017-08-25 21:23] arouinfar commented on #245
Oops, sorry about that @jessegreenberg!

[2017-08-25 21:27] jessegreenberg commented on #244
Ok, sounds good, not difficult to add the range.  It just felt like a strange way to control the Property because knots on the rope also need to be filled in order for this number to have meaning.

[2017-08-25 21:40] jessegreenberg commented on #244
Yes, I agree. I wasn't sure what the browser would do with infinite range for a range input, but seems good in Chrome - it automatically places a limit at 100 for the slider.

[2017-08-25 21:43] samreid commented on #240
I remember in some other sim we needed to add a hook that would run after values were set, perhaps we need to figure that out and call ItemNode.updateImage?  I need to investigate further.

[2017-08-25 21:49] samreid commented on #240
@jessegreenberg please try this code after the declaration of `updateImage` in `ItemNode.js`

[code]

[2017-08-25 22:20] jessegreenberg commented on #240
That seems to fix the problem @samreid!  Should this be committed as a final solution? Does that listener have purpose outside the state wrapper or is it used more generally for phetio? Will we start seeing that line in many sims?

[2017-08-25 22:25] jessegreenberg commented on #241
In https://github.com/phetsims/forces-and-motion-basics/issues/240, @samreid suggested adding

[code]

So that the image is updated with state. I am wondering if a similar solution is needed to fix this one.

[2017-08-26 05:33] samreid commented on #240
I wish I understood the problem better so that I knew why this workaround is necessary, but listening to the setStateEmitter is a production-ready technique.

It provides an opportunity for the sim to update itself after the state has been set (whether in the state wrapper or another wrapper that customizes the sim).

It seems like a workaround that it would be nice to eliminate, but may be necess

[2017-08-26 22:37] samreid commented on #238
In the top pic, notice the mountains on the right hand side are different in source vs destination frames.

![image](https://user-images.githubusercontent.com/679486/29745615-e6bc8e6a-8a7c-11e7-87d6-6d4b27178aa7.png)

[2017-08-26 22:41] samreid commented on #238
After investigating this for 20 minutes I think we should (a) have @jessegreenberg and @samreid collaborate to investigate further or (b) note it as a known defect and publish anyways--may not be too severe.

Also, I noticed that pressing "Launch" there is no pusher at all:

![image](https://user-images.githubusercontent.com/679486/29745632-707798ac-8a7d-11e7-8149-340ae57618a0.png)

[2017-08-26 22:53] samreid commented on #239
Supplying a tandem for the button model resolves the problem, but why was the optional and not supplied tandem being added in the first place?  First of all, it was marked as "supplied", and I'm not sure why.  This would be good for @zepumph to investigate further, and let me know if we should join forces.

[2017-08-28 15:28] samreid opened #246 "Flag disposal problem"
From https://github.com/phetsims/phet-io/issues/722

@jessegreenberg said:

@mattpen I think the line ```flagNode && flagNode.dispose();``` in https://github.com/phetsims/phet-io/issues/722#issuecomment-255418829 is part of the cause of a disposal issue in forces-and-motion-basics (221).

Can this line be removed?  It seems like the only way to update the cart position or change ```model.stateProp

[2017-08-28 15:29] samreid commented on #246
@mattpen replied:

@jessegreenberg

I think this is true when using the sim itself, but we have cases where we are resetting the cart and pullers due to actions in the classroom-activity wrapper (switching tabs or restoring states).  I don't think the line can simply be removed without breaking the wrapper.  It looks like you may have discovered a solution in https://github.com/phetsims/phet-io/is

[2017-08-28 16:12] jessegreenberg commented on #246
I believe that the disposal was added back in https://github.com/phetsims/forces-and-motion-basics/commit/71d78d94b3d8a6188dc14d2f80f0a8271f4c8ba4 for #221. I will try to reset the cart and the sim in the classroom activity wrapper and make sure that the flag is being disposed in those cases before closing.

[2017-08-28 16:20] jessegreenberg commented on #246
I verified in the classroom-activity wrapper that we are disposing the flag whenever we switch tabs or restore states.  Closing.

[2017-08-28 16:20] #246 closed

[2017-08-28 16:51] jessegreenberg commented on #240
My understanding of ```setState``` is that when invoked, it iterates over all Properties in the JSON object and sets them.  The state wrapper does this every second or so.  It seems like the problem is that if a Property is set to a new value and then to its previous value before setState is called, it will look the Property value never changed in the state sim so associated listeners will never b

[2017-08-28 17:01] jessegreenberg commented on #240
Thanks for clarifying @samreid, Ill commit the that line.

Would it be  possible to ```notifyListenersStatic``` at the end of ```setState``` so that all listeners are still called when the issue in https://github.com/phetsims/forces-and-motion-basics/issues/240#issuecomment-325409572 happens?

[2017-08-28 17:33] samreid commented on #240
Let's say the value changed from 3 to 4 to 3 in the source sim.  And the destination sim only gets the memo about going from 3 to 3, so it doesn't callback any listeners.  Why would it need to call back listeners, since the value has not changed?

Are you recommending to `notifyListenersStatic` for every Property after state is set?  It's still unclear to me why this may be necessary.

[2017-08-28 18:50] jessegreenberg commented on #240
Wait a minute, this line should also be updating the image whenever the stack size changes, which should not be dependent on the refresh rate of the state wrapper.
[code]

There is no lengthProperty in the state data, maybe it isn't instrumented.

[2017-08-28 19:08] jessegreenberg commented on #240
Instrumented the Property in ObservableArray, but it doesn't help. It looks  like ```item.armsUp``` is still returning false in the state wrapper.

[2017-08-28 19:33] zepumph commented on #239
I see. In the above commit the direct problem was fixed, but there is a greater problem here.

It wasn't marked as `supplied`, but rather it's child was. This is because `supplied` and `required` aren't being passed to children in the `createTandem()` call.

`options = _.extend( { static: this.static, enabled: this.enabled }, options );`

It should also be cherry picking `supplied`, and potentiall

[2017-08-28 19:34] zepumph commented on #239
Then a problem like the above tandem "forcesAndMotionBasics.optionalTandem564.startedCallbacksForFiredEmitter" would never show up, since it is a child of the optional and not supplied 564. I think that is the best way to go. What do you think @samreid?

[2017-08-28 20:48] jessegreenberg commented on #240
My thought was that if a Property's listener changes  some aspect of the simulation that is not a Property, the state wrapper could get out of sync. For instance:

[code]

This can be fixed by making dragCount a Property so state is always up to date or by the recommendation in https://github.com/phetsims/forces-and-motion-basics/issues/240#issuecomment-325041914, but I was wondering if triggering

[2017-08-28 20:55] jessegreenberg commented on #240
But it looks like the problem in this case is that the problem is more likely related to https://github.com/phetsims/axon/issues/135 and the fact that in the state sim the observable array ```lengthProperty``` is not always equal to its ```_array.length```.

[2017-08-28 21:05] jessegreenberg commented on #240
In MotionModel's ```isItemStackedAbove```, changing

[code]
to
[code]

also fixes the problem, see phetsims/axon#135.

[2017-08-28 21:23] jessegreenberg commented on #242
Being investigated in https://github.com/phetsims/sun/issues/310, on hold until we investigate that issue.

[2017-08-28 21:24] jessegreenberg commented on #240
I commited the recommendation in https://github.com/phetsims/forces-and-motion-basics/issues/240#issuecomment-325041914, but further work for this issue is likely on hold until https://github.com/phetsims/axon/issues/135 is resolved.

[2017-08-29 21:00] lmulhall-phet opened #247 "Sum of forces arrow and kilogram text overlap (Friction)"
**Test device:**

MacBook Air (13-inch, Early 2015)

**Operating System:**

macOS Sierra 10.12.6

**Browser:**

Safari 10.1.2

**Problem description:**

The sum of forces arrow overlaps with the x kilogram text when sufficient force is applied. The applied force and friction force arrows just barely overlap with the x kilogram text. Found this while testing PhET-iO in the simulation wrapper. Shoul

[2017-08-29 21:08] lmulhall-phet commented on #247
Amateur hour ^^^^. Sorry about that. Hopefully everything is OK now.

[2017-08-29 21:56] jessegreenberg commented on #247
Thanks @lmulhall-phet.  @ariel-phet is this something that needs to be addressed?

[2017-08-29 22:01] lmulhall-phet commented on #247
You're welcome @jessegreenberg. I know it's a small thing, but I'm not sure what I should and shouldn't point out yet.

[2017-08-29 22:20] jessegreenberg commented on #247
@lmulhall-phet I think everything should be pointed out, I appreciated it! I just want to make sure @arouinfar and @ariel-phet agree it is worth some time.  Though I agree it does look like this could be a quick thing to change.  @arouinfar @ariel-phet thoughts on @lmulhall-phet suggested fix?

[2017-08-29 22:28] lmulhall-phet opened #248 "Getting error when Interaction Scale Property slider hits 0"
**Test device:**

MacBook Air (13-inch, Early 2015)

**Operating System:**

macOS Sierra 10.12.6

**Browser:**

Google Chrome Version 60.0.3112.113 (Official Build) (64-bit)

**Problem description:**

In the Instance Proxies wrapper, I'm getting an error when I make the Interaction Scale Property slider go to 0. This is for phetsims/QA/issues/42.

**Steps to reproduce:**

1. Open the Instance Prox

[2017-08-29 23:00] arouinfar commented on #247
Agreed! Thanks @lmulhall-phet.

That would fix the occlusion problem for most situations, except for when the fridge is on the bottom. ("Sum of Forces" would overlap the mass.)
<img width="203" alt="screen shot 2017-08-29 at 4 49 20 pm" src="https://user-images.githubusercontent.com/8419308/29847740-80459e46-8cda-11e7-9805-add8a2a564a6.png">

I think these vectors are purposely aligned with the pu

[2017-08-30 05:32] ariel-phet commented on #247
@lmulhall-phet just reiterating, I think in general always good to point out what you find. As a rule of thumb, anything you think could be a bug OR a hindrance to student use is worth pointing out. We can always discuss or say "yes this is a known issue" or such, but in general we really like QA to take ownership and point out what they feel is potentially an issue.

In this particular case, it w

[2017-08-30 05:32] #247 closed

[2017-08-30 05:43] ariel-phet commented on #238
The pusher direction is an inconsequential detail once the pusher has fallen off.

Marking as "wontfix" - feel free to close @samreid or @jessegreenberg

[2017-08-30 05:48] ariel-phet commented on #240
@phet-steele @jessegreenberg @samreid I get that you want to understand this issue in that it may have other consequences for iO in general....

However, in terms of whether the arms are up or not, this is just not a very important detail pedagogically, so I would suggest no more time for fixing this specific issue.

[2017-08-30 05:52] ariel-phet commented on #241
Personally, I think the important detail is that the pusher is just standing, which side the pusher is standing on is an unimportant detail since the pusher will switch sides when a given applied force is applied. I think you could ignore this issue.

[2017-08-30 18:36] jessegreenberg opened #249 "Continuous testing error"
[code]

[2017-08-30 18:37] jessegreenberg commented on #249
Sim failing to load so needs to be addressed.

[2017-08-30 18:37] jessegreenberg commented on #249
[code]

Looks like this line for #240 was accidentally added twice?

[2017-08-30 18:38] jessegreenberg commented on #249
Fixed.

[2017-08-30 18:38] #249 closed

[2017-08-30 18:56] jessegreenberg commented on #248
@ariel-phet @samreid should this issue be worked on at this time?

[2017-08-30 19:06] jessegreenberg commented on #248
Was a quick thing to  change.

[2017-08-30 19:34] jessegreenberg commented on #238
@samreid since this is a phet-io issue should this be closed or left open for documentation?

[2017-08-30 19:35] jessegreenberg commented on #241
Sounds good, marking as ```wontfix```.

[2017-09-09 01:25] samreid commented on #238
I think `wontfix` issues should be closed.  We can still view them (if we remember to look), but open issues should be for issues we plan to work on.  Closing.

[2017-09-09 01:25] #238 closed

[2017-09-10 16:06] samreid commented on #239
I'm not really sure.  If a parent is supplied does that mean the child is also supplied?  If the parent is required, does that mean the child is required?  This seems like it warrants discussion.

[2017-09-11 21:04] jessegreenberg commented on #240
https://github.com/phetsims/axon/issues/135 was resolved, and the fix also fixed this issue.  When I remove the line
[code]
the problem is still fixed.

[2017-09-11 21:08] jessegreenberg commented on #241
Like https://github.com/phetsims/forces-and-motion-basics/issues/238, this issue can be closed.

[2017-09-11 21:08] #241 closed

[2017-09-11 21:13] jessegreenberg commented on #243
Happening because this emitter is not instrumented:
[code]

[2017-09-11 21:37] jessegreenberg commented on #243
Instrumenting this emitter doesn't help. That makes sense, Emitter's aren't meant to convey state.

The problem is that ```initializePusherNode()``` (called on construction and on reset) doesn't modify any sim Properties, it just gets the current Property values and sets image ```centerX``` accordingly. This function is never called in the state wrapper because it is triggered by ```resetAllEmitte

[2017-09-11 21:58] samreid commented on #243
I tried a few things and didn't see any "quick fixes".  I think the implementation and usage of `getPusherNodeDeltaX`and `updateZeroForcePosition` are confusing.  The simulation should be rewritten so that the pusher can be positioned based on the `getPusherNodeDeltaX` and the `positionProperty` instead of trying to track deltas.

[2017-09-11 22:02] samreid commented on #243
By the way, the position of the pusher in the saved state may be classified as "aesthetic" and may not be a blocking feature for publication.  A client wanting to use the save state for this could work around this by setting the state before using the pusher.

So, to clarify on my recommendation:
1. This can be skipped for publication (unless @ariel-phet deems this as non-aesthetic)
2. Should be f

[2017-09-11 22:11] jessegreenberg commented on #243
Thanks @samreid, @ariel-phet could you please review this issue (particularly https://github.com/phetsims/forces-and-motion-basics/issues/243#issuecomment-328671834) and let us know if this issue is non-aesthetic?

[2017-09-12 02:33] ariel-phet commented on #243
@jessegreenberg I would classify this issue as aesthetic, especially since reset is necessary to cause the misbehavior.

[2017-09-12 18:03] zepumph commented on #243
In that case I will be unassigning myself. Let me know if I can be of further assistance.

[2017-09-12 18:04] jessegreenberg commented on #243
Thanks @ariel-phet. Also removing assignment, and marking as deferred since we will address this at another time.

[2017-09-14 16:45] jessegreenberg commented on #242
https://github.com/phetsims/sun/issues/310 was closed, this issue should be fixed.

[2017-09-14 17:15] jessegreenberg commented on #239
@samreid @zepumph do you see this as an "aesthetic" issue or one that needs to be fixed before a version of FAMB can be deployed?

[2017-09-14 19:27] zepumph commented on #239
@jessegreenberg you are good to go on this one! I implemented the general solution by passing the proper options to children in `createTandem()`. I'm going to leave this open for @samreid to review, but I think this will certainly work for FAMB.

[2017-09-19 03:37] samreid commented on #239
I think @zepumph implemented this in the correct way.  I'm not 100% sure the behavior will be correct for all corner cases, but hopefully it will come up on Bayes or during RC testing if not.

[2017-09-19 03:37] #239 closed

[2017-10-12 21:58] jessegreenberg commented on #248
Fixed merged into release branch.

[2017-10-12 22:27] jessegreenberg commented on #245
Merged into 2.3 and 2.3-phetio release branches

[2017-10-13 21:41] jessegreenberg commented on #248
Merged into 2.3 as well.

[2017-10-13 21:48] jessegreenberg commented on #244
Changes merged into  2.3 and 2.3-phetio release branches

[2017-10-13 21:56] jessegreenberg commented on #242
Verified fixed in master, removed  custom code in AppliedForceSlider.

[2017-10-13 22:05] jessegreenberg commented on #242
2.3-phetio and 2.3 have sun sha 50f640e713ff6c764ec1484fb546370c18abe1ad.

To pick up this fix they need changes through 96c223b3fb271992069088e4d48019b141c9191c

[2017-10-13 22:09] jessegreenberg commented on #242
Changes between those SHA's seem either related to this issue, are adding documentation, or were for sorting require statements, so it seems safe to update the shas in dependencies.json without creating release branches in sun.

[2017-10-13 22:23] jessegreenberg commented on #242
Both also require an updated DOT sha to include TRange db33a2c7fca14980bccd7d9517839c5b8ae7a9ee

[2017-10-13 22:26] jessegreenberg commented on #242
Should be fixed in release branches.

[2017-10-13 22:28] jessegreenberg commented on #240
2.3 and 2.3-phetio are at axon sha 62935a11739c6b82860668019e37fa3e3d5f77ce. To incorporate this fix, they need axon changes through 020d59a7cf4587040f2ca181f652466d0234022c.

[2017-10-13 22:33] jessegreenberg commented on #240
I think there are too many changes in between these SHAs to just update axon SHA, we will need to create a maintenance branch in sun for this. forces-and-motion-basics-2.3 and forces-and-motion-basics-2.3-phetio.

[2017-10-13 22:50] jessegreenberg commented on #240
Branches created, patches applied and dependencies.json updated for both 2.3 and 2.3-phetio branches.

[2017-10-13 23:13] jessegreenberg commented on #237
Changes cherry-picked into release branches.

[2017-10-16 21:21] phet-steele commented on #248
Fixed.

[2017-10-16 21:21] #248 closed

[2017-10-16 21:29] phet-steele commented on #245
I think this is working!

[2017-10-16 21:29] #245 closed

[2017-10-16 21:37] phet-steele commented on #244
Sliders check out.

[2017-10-16 21:37] #244 closed

[2017-10-16 21:41] phet-steele commented on #242
Beautiful, fixed.

[2017-10-16 21:41] #242 closed

[2017-10-16 21:46] phet-steele commented on #240
Good work, fixed.

[2017-10-16 21:46] #240 closed

[2017-10-16 21:47] phet-steele commented on #237
Nice! Fixed.

[2017-10-16 21:47] #237 closed

[2017-10-18 19:55] jessegreenberg commented on #235
2.3.0-rc.4 passed testing,  we are ready for a 2.3.0 RC.

[2017-10-20 16:36] phet-steele commented on #228
Done.

[2017-10-20 16:36] #228 closed

[2017-10-20 16:36] phet-steele commented on #227
Screenshot is done.

[2017-10-25 18:49] BryceAG opened #250 "Net Force toggle options screen doesn't have size limit"
related to phetsims/QA#57

On the Net force screen, the toggle options screen doesn't have a size limit. For string test long the mute button goes into the arrows for sum of forces:

![image](https://user-images.githubusercontent.com/15327201/32016954-7d3709a4-b982-11e7-9335-4d08933c12ba.png)

and it is even worse for string test xss, but it doesn't have to pass for that. For string test x, the mu

[2017-10-27 18:20] samreid commented on #235
We will need the fix in https://github.com/phetsims/joist/issues/447

[2017-10-27 19:47] samreid commented on #235
@jessegreenberg as identified in https://github.com/phetsims/joist/issues/450 we will need a joist change before this can be published for LOL.  Can you include https://github.com/phetsims/joist/commit/63046a699e8e3994f9c40f8d93482a497f0316b3 and create a new RC?

[2017-10-29 13:41] samreid commented on #235
Please see also https://github.com/phetsims/joist/issues/449#issuecomment-340263119, we are considering picking up some other commits for this maintenance release.

[2017-11-02 16:41] jessegreenberg commented on #235
Sure, sounds good. I read through phetsims/joist#449 and it sounds like there is still some work to do there so I will wait to cherry pick commits related to that issue and create a new RC until that is settled.

[2017-11-02 16:57] jessegreenberg commented on #235
Actually, the version of joist  and LegendsOfLearning.js did not have `sim.boundRunAnimationLoop();`, it was added after the rc for FAMB was created. I will try to verify that phetsims/joist#447 is not a problem for this is not a problem in FAMB.

[2017-11-02 17:06] jessegreenberg commented on #235
From https://github.com/phetsims/joist/issues/447:

I pressed pause many times and pressed pause then resume many times and did not see fps ever go above 60, and since `sim.boundRunAnimationLoop()` isn't being used on the 'pause' event we shouldn't need any patching for 2.3.

[2017-11-02 17:37] jessegreenberg commented on #250
Fixed in the above commits, they need to be cherry-picked into 2.3 and 2.3-phetio.

[2017-11-02 17:56] samreid commented on #235
May also need https://github.com/phetsims/joist/issues/458 ?? It's a question.

[2017-11-02 17:59] jessegreenberg commented on #235
Thanks! Understood.

[2017-11-02 18:34] jessegreenberg commented on #250
Changes merged into the two release branches. Leaving open but fixed.

[2017-11-02 19:29] phet-steele commented on #250
@jessegreenberg might as well improve panels on every screen? There's some overlap elsewhere (slider + applied force arrow):

<img width="961" alt="screen shot 2017-11-02 at 1 28 11 pm" src="https://user-images.githubusercontent.com/5863899/32346090-d32174da-bfd1-11e7-9b21-e2ce14aeaede.png">

[2017-11-02 19:37] phet-steele commented on #250
To be clear, there are more extreme cases where overlap is going to happen anyway, but it shouldn't happen at the reasonable settings I have above.

This overlap is just going to happen...
<img width="946" alt="screen shot 2017-11-02 at 1 36 20 pm" src="https://user-images.githubusercontent.com/5863899/32346383-d62f0f4c-bfd2-11e7-8137-384a9d192792.png">

[2017-11-02 19:40] phet-steele commented on #250
Actually @jessegreenberg, the image I have above (the extreme one) has the "Friction Force" string going outside the dev bounds. What do you think?

<img width="280" alt="screen shot 2017-11-02 at 1 40 09 pm" src="https://user-images.githubusercontent.com/5863899/32346570-5f7a4974-bfd3-11e7-8b9a-a127663f843a.png">

[2017-11-02 20:47] jessegreenberg commented on #250
I reduced max width of text in the  motion  screen  panels to fix the case @phet-steele pointed out in https://github.com/phetsims/forces-and-motion-basics/issues/250#issuecomment-341532897.

@arouinfar and I talked about the case in https://github.com/phetsims/forces-and-motion-basics/issues/250#issuecomment-341535523.  In that case we don't care that the label is going off screen because you wou

[2017-11-15 00:08] jessegreenberg commented on #235
It looks like phetsims/joist#447 and phetsims/joist#449  are both closed, Ill review and see if I can determine what needs to be picked up.

[2017-11-15 00:24] jessegreenberg commented on #235
- [ ] For phetsims/joist#458 I need to grab https://github.com/phetsims/joist/commit/5346db7405f5dd08dfc82a0a5041e8364c719eda
- [ ] For phetsims/joist#449 I need to grab commits in https://github.com/phetsims/joist/issues/449#issuecomment-340573495
- [ ] Nothing more needed for phetsims/joist#447 (see https://github.com/phetsims/forces-and-motion-basics/issues/235#issuecomment-341488187)

[2017-11-18 02:25] zepumph commented on #227
@jessegreenberg you really took this one over. It is possible that this can be closed now. What is the status here? What can I do to help?

[2017-11-20 23:44] jessegreenberg commented on #227
Thanks @zepumph, this is mostly being continued in #235. Next steps are to cherry pick in commits for some fixes in dependencies. Then once https://github.com/phetsims/QA/issues/57, we will be ready for a spot check rc.

[2017-11-21 06:08] jessegreenberg commented on #235
Grabbed all updates, verified they are in both 2.3 and 2.3-phetio branches of this sim. Once https://github.com/phetsims/QA/issues/57 is complete, we can spot check and then redeploy.

[2017-11-21 23:55] zepumph opened #251 "Uncaught Error: Assertion failed: invalid value: -404.1852750000006"
Steps to reproduce:
* tug of war screen
* put blue pullers on
* go, let them win

[code]

[2017-11-21 23:57] zepumph commented on #251
@jessegreenberg is this in the rc going out right now? Or is this from axon shas later than that?

[2017-11-22 23:13] jessegreenberg commented on #251
Thanks @zepumph, I reproduced with master but it is not showing up in the release branches.

[2017-11-22 23:39] jessegreenberg commented on #251
I took a look at recent changes to forces-and-motion-basics and axon and didn't see anything obvious that would have introduced this.

We are hitting this after trying to set Cart.xProperty, which has valid range
[code]

in NetForceModel, it looks like the xProperty is set before the check for 'end-of-game' is made, then if the new value is beyond the game limits we stop the game and reset the car

[2017-11-23 00:24] zepumph commented on #251
Ahh, it makes sense to me! It is a NumberProperty, we just added validation to ranges in NumberProperty.

[2017-11-24 16:05] jessegreenberg commented on #251
Hmm, even though the assertion we are hitting is in Property.js? I thought that check was older.

[2017-11-24 16:07] jessegreenberg commented on #251
I see, it looks like `isValidValue` is passed in through `NumberProperty`, just an  option in `Property`.

Ill proceed with looking into

Will involve flipping logic in `MotionModel.step`.

[2017-11-24 20:22] zepumph commented on #251
Yes but in `NumberProperty` we are updating the `isValidValue` option to be passed into Property:
[code]

This is new.

[2017-11-24 20:28] jessegreenberg commented on #251
I see, thanks!

[2017-11-25 12:11] samreid commented on #224
Removed, closing.

[2017-11-25 12:11] #224 closed

[2017-12-01 22:44] EthanWJohnson opened #252 "Mass boxes misaligned relative to each other"
Not a big issue or bug, just a graphics/box alignment annoyance. If you look at the mass boxes in the second, third and fourth screens they are inconsistently sized/misaligned with each other
![image](https://user-images.githubusercontent.com/22551096/33503234-343f3f24-d6a0-11e7-9a88-519b15f7bf85.png)
![image](https://user-images.githubusercontent.com/22551096/33503252-3fcb6962-d6a0-11e7-9e7b-19e2

[2017-12-04 20:30] jessegreenberg commented on #252
@ariel-phet should we spend time to clean this up? This is happening because the surrounding rectangles are sized by their value text, and the position of the mass labels is hard coded as
[code]

[2017-12-04 20:31] jessegreenberg commented on #252
That doesn't explain why the standing man's label is smaller than the others. Im not sure why that is yet.

[2017-12-04 20:48] ariel-phet commented on #252
@EthanWJohnson thanks for pointing this out

@jessegreenberg if it is not a huge amount of work to clean up, it would be a nice detail touch. This may be vestigial since this sim was so early on in HTML5 and we did not have some of our nicer alignment strategies developed yet.

I would say if more than 2 hours of work, mark deferred, but if fairly straightforward to clean up go ahead and take care

[2017-12-04 23:04] jessegreenberg commented on #252
Sounds good, I expect about an hour, but  maybe less. I recall other alignment issues in the toolbox, here is at least one other that we did with S2015R:
https://github.com/phetsims/forces-and-motion-basics/issues/161

For some reason that issue only considered acceleration screen.

[2017-12-04 23:05] jessegreenberg commented on #252
For the sizing issue,  i see this param in the constructor:
[code]

[2017-12-05 00:07] jessegreenberg commented on #252
@ariel-phet also suggested that we move the labels up a bit generally to give more space along the bottom.

[2017-12-12 23:13] jessegreenberg commented on #252
Above commit ensures that the mass labels are always the same size. Still need to make sure that the items are aligned and add a bit more space.

[2017-12-12 23:27] jessegreenberg commented on #252
Done in the above commits.

[2017-12-12 23:43] jessegreenberg commented on #252
These commits need to be cherry-picked into  release branches:
- https://github.com/phetsims/forces-and-motion-basics/commit/0b424e912ed12d672c788abbddd408da6389a2c0
- https://github.com/phetsims/forces-and-motion-basics/commit/5b12f116db23a3d94608c593009a2547972e6ad8
- https://github.com/phetsims/forces-and-motion-basics/commit/b72c1f0406ef0e9d8792ea227f8174e4afec8a66

[2017-12-13 19:11] EthanWJohnson commented on #252
Boxes are a lot better; can hardly tell the difference between them. Looks good!

[2017-12-13 19:11] #252 closed

[2017-12-13 19:58] phet-steele commented on #250
Good 'nuff.

[2017-12-13 19:58] #250 closed

[2017-12-13 20:01] phet-steele commented on #235
Testing is good to go for this.

[2017-12-13 20:02] kathy-phet commented on #235
yay!

[2017-12-13 20:03] phet-steele commented on #228
In case anyone ever asks...yes this screenshot still works for 2.3.0-rc.5 (phetsims/QA/issues/77) almost two months later 😄

[2017-12-21 00:05] jessegreenberg commented on #227
2.3.0-phetio was published today. @zepumph @samreid can this be closed or is there more to do? Going through sim_deployment.md, I started to go through the PRODUCTION FOR PHET_IO_BRAND steps, but I am not sure if items 1 or 3 need to be done.

[2017-12-21 00:10] jessegreenberg commented on #235
FAMB 2.3.0 was deployed with testing and support for LoL. Closing.

[2017-12-21 00:10] #235 closed

[2017-12-21 01:24] zepumph commented on #227
I think that the goal of this issue (publishing for both brands) was back before our full quest was set on stable apis in phet-io. As a result I think that holding out on the phet-io version is the best way to progress. We can revisit when famb is ready for stabilization. Closing.

[2017-12-21 01:25] #227 closed

[2018-01-22 20:29] #251 closed

[2018-01-22 20:29] jessegreenberg commented on #251
Should be fixed in master with the above commit.

[2018-02-08 17:45] pixelzoom opened #253 "branch: layout-change"
Identified by `print-branches.sh`. @samreid please describe.

[2018-02-08 17:46] pixelzoom opened #254 "branch: no-end-game"
Identified by `print-branches.sh`. @samreid please describe.

[2018-02-08 18:30] jessegreenberg commented on #254
This one was mine. For https://github.com/phetsims/forces-and-motion-basics/issues/220 we were playing with the idea of allowing the cart to move off screen indefinitely after a team won. That idea has been abandoned. I just deleted this branch.

[2018-02-08 18:30] #254 closed

[2018-02-08 18:35] jessegreenberg commented on #253
This one was also mine. In https://github.com/phetsims/forces-and-motion-basics/issues/213, the layout was being changed and it was unclear whether or not we would keep the changes. It was decided changes were beneficial so this branch has been merged with master. It can be deleted.

[2018-02-08 18:36] #253 closed

[2018-04-30 16:43] oliver-phet opened #255 "User reported: two 'Left' strings available for translation"
![image](https://user-images.githubusercontent.com/5090275/39438976-379057ce-4c63-11e8-882e-115d0d6eaa26.png)

[2018-05-22 22:46] arouinfar opened #256 "Create sim primer"
- [x] Draft script - 6/13/18
- [x] Record rough version for script verification  - 6/14/18
- [x] Review script verification draft, and adjust script as necessary - 6/14/18
- [x] Record another draft - 7/17/18
- [x] Review 2nd draft - 7/18/18
- [x] Produce primer and upload - 8/8/18
- [x] Caption primer - 8/8/18

[2018-06-13 17:48] arouinfar opened #257 "Add semi-transparent background behind Force Value when outside of vector"
In working on #256, I noticed that the Force Values can be a bit hard to read at times.

![image](https://user-images.githubusercontent.com/8419308/41367465-5a682d10-6efc-11e8-8322-9cefb1c00723.png)

One strategy we've used in other sims is to add a semi-transparent background behind the value to improve its readability. We could add a background similar to the Mass Values, but at 50% opacity and

[2018-06-13 19:57] arouinfar commented on #256
@CWilson4960 the FAMB script is ready for recording. Please let me know if you have any questions!

[2018-06-15 17:48] ariel-phet commented on #257
@arouinfar  - I agree. Leaving open and unassigned.

[2018-08-08 19:38] arouinfar commented on #256
The primer has been published to the PhET site, thanks @CWilson4960!

[2018-08-08 19:38] #256 closed

[2018-08-27 04:05] samreid opened #258 "Use VerticalCheckBoxGroup in MotionControlPanel"
Discovered in https://github.com/phetsims/sun/issues/344, Forces and Motion: Basics is using VerticalCheckBoxGroup in NetForceControlPanel but not MotionControlPanel.  Here's a picture of MotionControlPanel:

![image](https://user-images.githubusercontent.com/679486/44639798-0ed96580-a97b-11e8-8f51-06b9fe4be2a1.png)

Note this means that MotionControlPanel:
(a) doesn't have the right mouseArea for

[2018-08-27 19:06] ariel-phet commented on #258
@zepumph is this something you could handle? Seems like it would be beneficial for both iO and a11y, and @DianaTavares plans to use FAMB for the next dashboard study, so seems in your wheelhouse.

[2018-08-27 19:36] zepumph commented on #258
I'll try to crank this out on thursday.

[2018-08-30 20:48] zepumph commented on #258
I was able to convert this and it worked easily, simplifying the code a bit too.

Note that I dropped support for the instrumented enabledProperty in `MotionScreenView` in favor of a general solution to be implemented in https://github.com/phetsims/sun/issues/387.

@ariel-phet please assign a reviewer.

[2018-08-30 21:34] samreid commented on #258
May I please review this change? I have familiarity with FAMB as well as VerticalCheckboxGroup.  @ariel-phet please assign me if that seems reasonable.

[2018-09-04 18:28] ariel-phet commented on #258
All you @samreid

[2018-09-06 00:31] zepumph commented on #258
Like stated in https://github.com/phetsims/sun/issues/387#issuecomment-418797525, we may want to make sure that we are using the new default enabledProperty for Checkbox in this control panel.

[2018-09-07 21:38] zepumph opened #259 "Ready FAMB for a new interaction-dashboard study"
From a meeting quite recently with @DianaTavares and @kathy-phet. We want to conduct another study that will be very similar to the CLB one last spring. Here are the requirements:

* We will use 2.1.9 as the latest patched and published FAMB version
* same encryption of student IDs
* screens=2.3 (notice the dot instead of the comma, #oldversionproblems)
* Last time the links were inlined in the qu

[2018-09-07 21:59] zepumph commented on #259
@kathy-phet just mentioned, that because of the maintenance release hassle, and since we will only have the data internally (in PhET), the encryption is less important.

[2018-09-07 22:05] kathy-phet commented on #259
To be clear, only if swapping a11y and PhET-iO time doesn't cause issues for a11y deadlines. So check with Emily.

[2018-09-07 23:02] samreid commented on #259
Playback supports changing frame size, but it would complicate the interaction dashboard significantly.

When do you want to run the study?

[2018-09-07 23:05] DianaTavares commented on #259
@samreid we don't have the exact date yet. We are going to meet the teacher of that class Tuesday, but he mentioned "a couple weeks". It's one of the first topics in the program. Tuesday I will have an specific day!

[2018-09-07 23:36] kathy-phet commented on #259
We are getting the Qualtrics (activity) side of the study ready by early next week.

[2018-09-08 15:47] zepumph commented on #259
I'm going to try to do as much of this as possible today, I'm going to start by making the "iframe" wrapper.

[2018-09-08 19:08] zepumph commented on #259
I only committed to the FAMB 2.1-phetio shas in the phet-io repo, creating a forces-and-motion-basics-2.1-phetio branch. In the above commits I:
* created the iframe wrapper, that we can fill in with any URL.
* updated the metacog recording to use the new metacog library (different api)
* updated the login wrapper substantially to support things like promptext, encryption, learner_token, learnerID

[2018-09-08 19:27] zepumph commented on #259
encryption method and `phet-io.emitStatesInterval` added in the above commits.

[2018-09-08 19:50] zepumph commented on #259
I looked over the data logs that came back, and things are looking good, very much as good as I can hope. The database recording's full stack has seem to just work out of the box for us this time.

From here:
1. I would like a review from @samreid, him to make recommendations.
2. Then, when all seems good to him, we should publish a new maintenance release, do appropriate rc procedure for it (I'm

[2018-09-08 20:27] samreid commented on #259
I thought it was a bit odd that the login wrapper is also in the iframe, but perhaps that's acceptable given our short time frame.

[2018-09-08 20:30] samreid commented on #259
I sent a session to metacog, with a few triangles, circles, then in the 2nd screen checking all checkboxes and tuning to 10 m/s and opening the about dialog.

[2018-09-08 20:37] samreid commented on #259
It looks like we must use http://localhost/phet-io-website/root/metacog/request-data.html from master--not sure what to provide for URL.

[2018-09-08 20:40] zepumph commented on #259
No I haven't, that could be a good test to see mouse events. It should be pretty easy to do that.

I also feel this way. It doesn't look bad, just a bit strange. It was the easiest way to implement the iframe wrapper, and then there is also no redirecting (which is nice to me).

I was considering this a post processing step based on looking at the `screenIndexProperty`, but maybe it could be easie

[2018-09-08 20:40] zepumph commented on #259
I used everything right of the `?url=`

[2018-09-08 23:00] samreid commented on #259
I tried the application id for UCB - PhET that I found on developer.metacog.com.  For URL I tried everything to the right of the first `url=` in the link given here: https://github.com/phetsims/forces-and-motion-basics/issues/259#issuecomment-419668578

I was told
[code]

@zepumph can you please advise?

[2018-09-09 02:47] samreid commented on #258
Code change looks great and I tested that everything's working nicely.  The new version also has the touch areas extend to the right (for short texts), which seems like an improvement.

[2018-09-09 02:47] #258 closed

[2018-09-09 05:37] zepumph commented on #259
Likely it is not the single application I'd (which matches our publisher_id in the query parameters, but instead any of the full Sha length hashes below it.

[2018-09-10 14:31] samreid commented on #259
Thanks, I'm QUEUED for `c1c556bf-9b90-4a0a-86d8-82bda6b5be17`

[2018-09-10 14:54] samreid commented on #259
I downloaded my data and confirmed that it doesn't play back properly in http://localhost/phet-io-wrappers/playback/playback.html?sim=forces-and-motion-basics&ea.  Is this because the sim is too old?  Doesn't @DianaTavares need a way to view the playbacks?  If we cannot get playback events into the playback wrapper, will we be sure they can work in the interaction-dashboard?

[2018-09-10 16:51] DianaTavares commented on #259
I don't need the playbacks. I only need the data to build a dashboard like the one that we did for CL:B (click map, elements used and the time vs clicks graphs)

[2018-09-11 22:35] zepumph opened #260 "Deliver testing link for interaction study"
From https://github.com/phetsims/forces-and-motion-basics/issues/259, @kathy-phet asked me for a link they can use to test.

[2018-09-12 21:26] zepumph commented on #259
I agree that playbacks won't work; I'm not sure how hard it would be to get things working in that regard, perhaps we could check out  an old version of the playback wrapper, or we could try to get the version on master backwards compatible.

Neither sound very appealing, and I'm not convinced that it is necessary. So instead I focused some time just now to see about plugging the temp FAMB data I

[2018-09-12 21:27] zepumph commented on #259
From here I will:

- [ ] Create a dev version in #260 for @kathy-phet and @DianaTavares to look at
- [ ] Create an RC for QA to look at before publishing the "maintenance release" to FAMB 2.1-phetio branch.

@samreid anything else to do here?

[2018-09-12 21:32] samreid commented on #259
I have some hesitation/fear about moving forward with a legacy version--I don't know exactly what could go wrong, but just generally concerned that there may be a problem that's difficult to see an we may not run into for a while.  But it seems like everything is OK so far, so maybe it is OK?  What about recent maintenance releases like the iOS touch bug?  Is that in the branch? On the other hand,

[2018-09-12 21:33] zepumph commented on #259
This version was patched

+1

[2018-09-12 21:38] zepumph commented on #259
Tagging @jonathanolson in the off chance that it is not good to be rc deploying off of FAMB 2.1-phetio right now.

[2018-09-12 21:53] zepumph commented on #260
This will be covered by https://github.com/phetsims/phet-io/issues/1358#, closing

[2018-09-12 21:53] #260 closed

[2018-09-13 00:09] jonathanolson commented on #259
No objections, let me know when work is complete (in case I need to batch maintenance-release something).

[2018-09-13 20:07] zepumph opened #261 "How to get playback to work for 2.1-phetio branch"
From https://github.com/phetsims/forces-and-motion-basics/issues/259, although we have made progress in that branch for readying FAMB for a new interaction study, and the new metacog library is working well to record. The version is too old to use the playback wrapper from master. If it isn't to hard to find a way for QA to record and playback with this version, then I will try to make it happen,

[2018-09-13 21:06] zepumph commented on #261
I got a version of the playback wrapper working for FAMB branch 2.1-phetio at sha 712d9ef53a8e151aa7acea00b827daca47609e81

Here is what I did:
* go to phet-io-website
* checkout 0ff4c7d8422cb164d5b140cfa6558aa28f8ef36a (this sha is relatively arbitrary, I was just looking for something before I removed the playback wrapper from the website)
* Then in the `index.html`, I updated the handlePlayback

[2018-09-13 22:29] zepumph commented on #261
https://github.com/phetsims/QA/issues/187 has been created. I am going to assign @samreid just so he is aware of this hackary. Please close if you want.

[2018-09-13 22:38] samreid commented on #261
My recording from localhost doesn't work because of https => http loading.  But I tried playing back another episode and it seemed OK.  Leaving self-assigned to try another recording from https.

[2018-09-13 23:33] zepumph opened #262 "[phet-io 2.1.11-rc.1] dev link on wrapper index broken"
From https://github.com/phetsims/QA/issues/187

I am finding some weird logic with the devguide for this version.

You can get to it via https://phet-dev.colorado.edu/html/forces-and-motion-basics/2.1.11-rc.1/wrappers/index/

When you do so, it redirects you to "https://phet-dev.colorado.edu/guide.html" which is not a file.
I see that it works in the previous version:
https://phet-io.colorado.edu/

[2018-09-13 23:33] zepumph commented on #262
This is not a high priority to me because it doesn't look like it will effect production, and it won't effect the upcoming study.

[2018-09-14 15:07] KatieWoe opened #263 "Recording on Win 10 Firefox not saved with back arrow"
For https://github.com/phetsims/QA/issues/187

While working on the recording part of step 3 of the above issue, firefox did not seem to save the data when the back button was used.

From instructions:

When exiting out of the tab the wrapper performed as expected, but using the back arrow did not produce the dialog described.

[2018-09-14 16:06] mattpen commented on #262
@zepumph - How do I recreate this?

![image](https://user-images.githubusercontent.com/11747676/45561733-ac4ee900-b805-11e8-9b75-4a3804bcf270.png)

[code]

[2018-09-14 16:13] mattpen commented on #262
@zepumph - I think this line is missing a `^` to match the beginning of the string:

 `RewriteRule "/dev(.*)" "$1" [L,R=301,NE]`

It should be:

`RewriteRule "^/dev(.*)" "$1" [L,R=301,NE]`

I'll make this change and deploy it tonight after the scheduled cache server reboot.

[2018-09-14 16:15] zepumph commented on #262
Ahh I see. Yes sounds like a good fix.

[2018-09-14 16:16] zepumph commented on #262
Also maybe a slash after 'dev'?

[2018-09-14 16:18] mattpen commented on #262
Should we then add a rule rewriting `/dev` -> '/'?

[2018-09-14 16:32] KatieWoe opened #264 "phet-io.emitStatesInterval performance issues on Mac"
For https://github.com/phetsims/QA/issues/187
When investigating Step 2 on Mac OS 10.13, Both firefox and safari lagged and, in safari's case, crashed when the console was open to view ```"event": "state"```.  Chrome on Mac OS 10.13 showed some slow down, but was much better.
In addition, firefox was very hard to find ```"event": "state"``` as it seemed to be in a different type of text that the f

[2018-09-14 16:38] zepumph commented on #264
What about if you just search for "state"? Also i recommend clearing the console every so often to keep the total size of the console down (perhaps that will help laggyness).

[2018-09-14 16:40] KatieWoe commented on #264
Tried that and it didn't work either.  I tried to clear the console, but its slowing down and, in safari's case, crashing so fast that it doesn't make a difference.

[2018-09-14 18:12] lmulhall-phet opened #265 "[phet-io 2.1.11-rc.1] crashes quickly in Safari if console open while recording"
For https://github.com/phetsims/QA/issues/187.

While doing the third test, I noticed that trying to record your actions using this link...

https://phet-dev.colorado.edu/html/forces-and-motion-basics/2.1.11-rc.1/wrappers/iframe/iframe.html?url=../login/login.html?screens=2.3&wrapper=record&validationRule=validateDigits&encryption=encryptNumberV1&numberOfDigits=7&promptText=This%20is%20a%20test&pu

[2018-09-14 18:28] KatieWoe commented on #263
Update upon downloading recordings and playing back.  This recording does seem to have made it with no problem.  The dialog did not appear and there is no way to judge ahead of time it data was saved, but the recording was saved in this instance.

[2018-09-14 19:42] KatieWoe opened #266 "State wrapper doesn't keep holding animation"
Found during https://github.com/phetsims/QA/issues/187
This issue was present to a greater extent in the previous version linked in the above issue.  The description and steps here mostly refer to what is in master.

**Problem Description**
The state wrapper does not translate everything to the other window.  Specifically, the state of the two people that can be pushed.  Normally, when one of thos

[2018-09-14 22:41] zepumph commented on #266
Unassigning for now. This is a know problem, that we aren't planning on fixing for 2.1.11. I want to double check with @samreid to make sure that is alright.

[2018-09-14 22:43] zepumph commented on #265
@KatieWoe and I noticed this this morning with ` https://phet-dev.colorado.edu/html/forces-and-motion-basics/2.1.11-rc.1/wrappers/iframe/iframe.html?url=../login/login.html?screens=2.3&wrapper=record&validationRule=validateDigits&encryption=encryptNumberV1&numberOfDigits=7&promptText=This%20is%20a%20test&publisher_id=5d4c8ae1&key_name=phet-study_2018_q4&widget_id=forces-and-motion-basics-qatest&ph

[2018-09-14 23:02] zepumph commented on #264
@katie and I looked at this this morning, and found that indeed the ability to search for the state events is weird and difficult. I'm not sure how to proceed with that but to note it and move on.

This seems to be covered now by https://github.com/phetsims/forces-and-motion-basics/issues/265.

I don't think that else needs to be done for the rest of this issue closing.

[2018-09-14 23:02] #264 closed

[2018-09-14 23:26] zepumph commented on #265
Since students won't have their dev tools open, perhaps this isn't a large priority for this maintenance release.

@lmulhall-phet can you reproduce this on master with a link like:
http://localhost/phet-io-wrappers/record/?console&sim=forces-and-motion-basics&ea&phetioEmitStates=true&phetioEmitStatesInterval=60&phetioEmitInputEvents=true

[2018-09-14 23:35] zepumph commented on #263
Weirdly similar but different from https://github.com/phetsims/phet-io-wrappers/issues/15

@samreid I wonder if firefox handles the 'unload' event differently. Here is the code that should add the dialog:

[code]

Firefox really likes giving users control, so maybe there is a user setting where you have to opt in to a dialog appearing when you hit the back button.

@KatieWoe could you run another

[2018-09-15 00:03] KatieWoe commented on #263
@zepumph Just attempted to make a recording of 5 minutes on the same system.  Can't tell if it saved.  Will find out Monday.

[2018-09-15 00:30] zepumph opened #267 "Publish 2.1-phetio version of FAMB"
QA has finished https://github.com/phetsims/QA/issues/187.

We should publish the version.

[2018-09-15 00:43] zepumph commented on #267
https://phet-io.colorado.edu/sims/forces-and-motion-basics/2.1.11-phetio/wrappers/index/

tagging @samreid @DianaTavares @kathy-phet so they are aware. I will get a testing link to them very soon.

[2018-09-15 00:43] #267 closed

[2018-09-15 00:55] zepumph opened #268 "ready links for FAMB study"
2.1.11-phetio was published in #267, from here we just need to put together the final links, and test as much as possible.

@DianaTavares here are two example links to embed in your assignment, one for console recording, and one (live) for actual metacog recording:

[code]

@DianaTavares to proceed please:
- [x]  Test adding these links to the assignment, does this format work as you expect/like?

[2018-09-15 01:06] DianaTavares commented on #268
Amazing! thanks!
It's going to be only two links 2010_exploration and 2010_guided to get the session separate.

I am going to check both links this weekend. I remember that it was an special login to identify easy the data that was for testing when is using the live link. Could you remind me of the login key?

I don't know what do you mean by

[2018-09-15 02:01] zepumph commented on #268
The prompt is the text that is displayed in the login wrapper, right now it says "This is a test"

I can, but you will need to talk to me privately.

[2018-09-15 02:02] mattpen commented on #262
Indeed we can.  It should be working now.  Please close if all looks good @zepumph.

[2018-09-15 02:03] zepumph commented on #268
Oh wait. I missunderstood you before.

As a learner Id we sometimes had people use `phettest`, but this version doesn't support that, so feel free instead to use any 7 digit number. Again these sessions won't mix with you data, so don't worry.

[2018-09-15 02:05] zepumph commented on #262
That's great thanks! Just a note that the previous 301 is a very stubborn redirect that is cached permanently, so you need to open dev tools or something if testing this when you have already been to that link. Closing

[2018-09-15 02:05] #262 closed

[2018-09-15 03:04] samreid commented on #265
I launched the URL from https://github.com/phetsims/forces-and-motion-basics/issues/265#issuecomment-421503041 on Mac 10.13.6 + Chrome 69.0.3497.92  and saw no problem.  I tried in Safari Version 11.1.2 (13605.3.8) with JS console open and there was no problem there either.

[2018-09-15 03:10] samreid commented on #266
This could be addressed by adding the persons hands up/down status to the PhET-iO state.  That seems like a reasonable thing to do for the next phet-io release from master.  Unassigning until then.

[2018-09-15 17:53] DianaTavares commented on #268
Perfect, thanks!!

[2018-09-15 20:10] samreid commented on #261
@zepumph if this is being tested by QA elsewhere, I think this issue can be closed.

[2018-09-17 14:49] KatieWoe commented on #263
@zepumph just checked the recording.  I recorded for 5 minutes.  The time on the recording says 4:58 and it doesn't look like anything is missing from the recording from what I can tell.

[2018-09-17 16:32] zepumph commented on #263
That's great news thanks. It is possible that this is in part because you have a good connection. Events that you are emitting are able to be sent to metacog with relative speed, such that the sending queue is relatively short.

Would it be possible to try to throttle your internet and then record again and see if the playback log is missing anything (note that if there is an error in the log, the

[2018-09-17 16:35] DianaTavares commented on #268
Hi Michael!

the links in the activity works perfect!! (I save two sessions using the live link). The console link get slow some times, but I guess that is because is displaying all that information. That don't happen with the live link.

the prompt (text) in the link just have to say "link to the simulation Forces and Motion: Basic"

The ids for each link (only two) are 2010_exploration and 2010_

[2018-09-17 16:53] KatieWoe commented on #263
Interesting discovery while doing this test.  I found that if you hit the back arrow once, the screen goes blank.  Hitting the arrow a second time when the speed is throttled did bring up the warning message.  It didn't before, which makes me think it finished before I hit it a second time.  Not sure why it is two back arrows here, and not one.  Still going to test the recording itself, but in the

[2018-09-17 17:04] zepumph commented on #263
It sounds like we can safely say that this is a duplicate of https://github.com/phetsims/phet-io-wrappers/issues/15 then, but displaying symptoms with a fast internet connection.

[2018-09-17 17:45] zepumph commented on #268
Here are the final links for FAMB. These are ready to be used for recording. Let me know when you want me to make the link public for the study.

Exploration:
`<a href="https://phet-io.colorado.edu/sims/forces-and-motion-basics/2.1.11-phetio/wrappers/iframe/iframe.html?url=../login/login.html?screens=2.3&wrapper=record&validationRule=validateDigits&encryption=encryptNumberV1&numberOfDigits=7&promp

[2018-09-17 18:06] KatieWoe commented on #263
@zepumph just looked at the recording and it looks ok.

[2018-09-17 18:16] zepumph commented on #259
Work is done here, final link can be found in https://github.com/phetsims/forces-and-motion-basics/issues/268#issuecomment-422107586. Closing

[2018-09-17 18:16] #259 closed

[2018-09-17 21:04] DianaTavares commented on #268
The link should be public for students from September 20 to 29.

[2018-09-18 20:49] zepumph commented on #268
It was said in a meeting yesterday that ideally we wouldn't have the close warning because it could potentially cause students to stay on the page after the warning, but with metacog no longer recording data.

[2018-09-19 19:41] KatieWoe opened #269 "Cut off clouds, mountains, and tracks"
Device
Dell and Mac laptop
OS
Win 10 and Mac OS 10.13
Browser
Firefox
Problem description
Found in https://github.com/phetsims/QA/issues/189 and issue at least appears worse in that version as opposed to master.
Under certain conditions the track under the skateboard, the clouds in the background, and the mountains in the background can have part of their image cut off.  The clouds can also disapp

[2018-09-20 15:16] KatieWoe commented on #263
Looks like this appears in https://github.com/phetsims/QA/issues/190 as well.  Linking here.

[2018-09-20 16:23] KatieWoe opened #270 "Caching issue with phetio password"
**Device**
Dell Laptop
**OS**
Win 10
**Browser**
Firefox
**Problem Description**
For https://github.com/phetsims/QA/issues/190
When recording on firefox outside of incognito mode the phetio password is asked for at odd stages.  Not always first after the page has been navigated to.  I have seen it pop up after the student id and even after the back arrow is used to end the recording.  Will indicat

[2018-09-20 23:08] zepumph commented on #268
New final links are below. Please use the test link for testing, otherwise extra sessions will be recorded to the official widget ids.

[code]

[2018-09-21 00:15] #268 closed

[2018-09-21 21:40] KatieWoe commented on #264
Firefox experiences this same large amount of slow down on Win 10.
For https://github.com/phetsims/QA/issues/192

[2018-09-22 00:17] zepumph commented on #269
We published the maintenance version without fixing this, so I think this only applied to master right now. Unassigning.

[2018-09-22 00:20] zepumph commented on #270
See https://github.com/phetsims/phet-io-wrappers/issues/171, closing

[2018-09-22 00:20] #270 closed

[2018-10-24 19:32] pixelzoom opened #271 "organize require statements"
In some source files, `require` statements are not grouped per PhET coding standards.  In some cases they are not alphabetically ordered.  In other cases, modules, images, etc. are grouped together.

E.g. in MotionModel.js:

[code]

@jessegreenberg is the responsible developer, but I'm guessing that he inherited this problem.

[2018-10-24 22:32] jessegreenberg commented on #271
Thanks @pixelzoom, I scanned through everything and made sure that strings, modules, and images were separated and alphabetized. Closing.

[2018-10-24 22:32] #271 closed

[2018-10-31 19:58] KatieWoe opened #272 "Dragging iPad screen"
**Device**
iPad Air 2
**OS**
iOS 12
**Browser**
Safari
**Problem Description**
Seen in https://github.com/phetsims/special-ops/issues/122 while testing forces-and-motion-basics 2.1.13-rc.1 phet-io.
When dragging an object, such as a box.  The screen is dragged around as well.
**Steps to reproduce**
1. Go to the sim indicated and go to the motion screen.  Use an iPad
2. Pick up and drag the box on

[2018-10-31 20:30] jessegreenberg commented on #272
Thanks @KatieWoe, this looks a lot like https://github.com/phetsims/scenery/issues/770. From that issue, I see that 2.3 got the patch. I also see that 2.1-phet-io branch had an update to its dependencies.json in that issue, but I don't see that the change made it to the forces-and-motion-basics-2.1-phetio branch in scenery.
https://github.com/phetsims/scenery/commits/forces-and-motion-basics-2.1-p

[2018-10-31 20:37] jessegreenberg commented on #272
The patch *did* however make it to the forces-and-motion-basics-2.3-phetio branch in scenery in https://github.com/phetsims/scenery/commit/40b8df8a1a39de063a69a90676b68938a3df7379.

@samreid can you please help with this? I am not sure which version needs to be maintained. Or maybe both versions do?.

[2018-11-07 00:48] samreid opened #273 "Should we perform a manual maintenance release of Forces and Motion: Basics 2.1 branch?"
Should we perform a manual maintenance release of Forces and Motion: Basics 2.1 branch?  It had complications during the batch process and had to be omitted.

From https://github.com/phetsims/special-ops/issues/122#issuecomment-436326632.

@zepumph @kathy-phet @ariel-phet do you recommend a manual maintenance release to address full screen on iPad for Forces and Motion: Basics 2.1 branch, or shoul

[2018-11-07 17:22] ariel-phet commented on #273
Focus on the next minor version, the full screen issue is not a massively used feature from our anecdotal evidence.

[2018-12-08 19:30] samreid commented on #272
In https://github.com/phetsims/forces-and-motion-basics/issues/273 we concluded to focus on the next minor version, and new clients can use forces-and-motion-basics 2.3.7-rc.1 until that's ready.

[2018-12-08 19:30] #272 closed

[2019-01-09 18:00] pixelzoom opened #274 "use & instrument FineCoarseSpinner"
See https://github.com/phetsims/scenery-phet/issues/450. Please

(1) replace the UI component shown in the screenshot below with `FineCoarseSpinner`

(2) add PhET-iO instrumentation to `FineCoarseSpinner`

Assigned to @jessegreenberg per https://github.com/phetsims/scenery-phet/issues/450#issuecomment-452784491.  Let me know if I can help.

![screenshot_947](https://user-images.githubusercontent.c

[2019-01-22 17:21] jessegreenberg opened #275 "remove prototype a11y code from this sim"
Noticed in https://github.com/phetsims/tasks/issues/984, there is a11y code that was used in initial prototypes that should be removed. Our design practices for a11y have changed since this code was added so I see little benefit in keeping it. And if there is a reason to keep any of the initial designs, the implementation should be redone anyway because the project a11y infrastructure has changed

[2019-01-22 17:24] jessegreenberg opened #276 "pullers cannot be removed from toolboxes"
Before any changes in #275 I noticed that pullers in the toolboxes cannot be moved.

[2019-01-22 18:06] jessegreenberg commented on #276
This was not an issue in ec59fd5ad273d02dc3fe33a59be3f9d7ae7da4de

[2019-01-22 20:04] jessegreenberg commented on #276
This was caused by the switch from `addAccessibleInputListener` to `addInputListener`. Since KNotFocusRegion now has an input listener and surrounds all of the pullers, it prevented picking of anything behind it. Ill remove the listener altogether as part of #275.

[2019-01-22 20:05] #276 closed

[2019-01-22 21:32] jessegreenberg commented on #275
OK, it is been removed and cleaned up. Sim is working, unit tests are passing, sim is fuzzing. I think this can be closed.

[2019-01-22 21:32] #275 closed

[2019-01-22 23:37] jessegreenberg commented on #274
forces-and-motion-basics is now using FineCoarseSpinner, it was very easy to use and get the layout to match what was there before.

The FineCoarseSpinner needs to be disabled in this sim when the stack of items on the skate board is empty, so I made https://github.com/phetsims/scenery-phet/issues/461 to add that.

I am not very familiar with instrumenting for PhET-iO so I made https://github.com/

[2019-01-23 16:42] jessegreenberg opened #277 "memory leak detected"
Starting yesterday, CT started to detect a consistent memory leak
[code]

Reports started at 6:47 PM 1/22/19.

[2019-01-23 16:51] jessegreenberg commented on #277
Taken over about 3 minutes of fuzz testing:
![image](https://user-images.githubusercontent.com/6396244/51622736-3c641400-1f05-11e9-8eb2-f3d66c9a0b34.png)

I am not seeing much of a leak, but these heap sizes are much larger than I usually see.

[2019-01-23 17:02] jessegreenberg commented on #277
Continuing to run, heap size is up to 92 MB.

[2019-01-23 17:19] jessegreenberg commented on #277
Doing other things and refreshed the sim in another window. Now heap sizes are down by about half. In the original test I see two entries called "WeakMap" and "Detached Window" that are taking up a large amount of memory.
![image](https://user-images.githubusercontent.com/6396244/51624547-117bbf00-1f09-11e9-8cf9-7244625dbde6.png)

These don't exist in my later tests. What are these?

[2019-01-23 17:22] jessegreenberg commented on #277
I refreshed and these things came back, with a much larger heap size.

[2019-01-23 17:39] jessegreenberg commented on #277
Now I can't get these to show up at all. Very weird. And, I realized that I missread the error

Caught during memory test fuzzing, but error has nothing to do with memory. I think this has been fixed. And since I am not seeing the WeakMap or the large memory usage anymore locally I don't know what to do about that. If this error disapears on CT ill just close.

[2019-01-23 18:10] jessegreenberg commented on #277
OK, this seems fixed in latest iteration of CT. CLosing.

[2019-01-23 18:10] #277 closed

[2019-01-28 18:19] jessegreenberg commented on #274
Instrumentation was done and reviewed in https://github.com/phetsims/scenery-phet/issues/460. And FineCoarseSpinner has been reviewed and used in FAMB through the above commits and issues. This can be closed.

[2019-01-28 18:19] #274 closed

[2019-04-10 20:30] KatieWoe opened #278 "Usability on small screens review"
Per @kathy-phet's request in https://github.com/phetsims/QA/issues/295 I am making issues in each published sim repo detailing the pointer areas and usability of sims on phone sized screens.  Done on an iPhone 7 iOS 12 device.

Potential Difficulties Noticed:
* No needed corrections noticed
* several objects do not have visible pointer areas

Screenshots:
![Image from iOS (1)](https://user-images.

[2019-04-13 21:57] arouinfar commented on #278
https://github.com/phetsims/joist/issues/556 will discuss the possibility of automatically showing `pointerAreas` for all UI components, but according to @kathy-phet:

[2019-04-13 21:57] #278 closed

[2019-07-24 18:41] lmulhall-phet commented on #265
Is this issue current? Can it be closed? @samreid @zepumph

[2019-07-29 16:59] zepumph commented on #265
It looks like @samreid had a hard time reproducing it on the original version last year.

@lmulhall-phet can you reproduce this on the version above?
Can you reproduce this on the recently published GQ? https://phet-io.colorado.edu/sims/graphing-quadratics/1.1/

If you cannot do either, then I think this is good to close.

[2019-07-29 21:15] lmulhall-phet commented on #265
@zepumph, using the recording wrapper in https://phet-io.colorado.edu/sims/graphing-quadratics/1.1/, I noticed that interacting with the dev tools panel while recording is pretty laggy on my device, e.g. switching from "All" console messages to "Errors" takes a while. I didn't see a crash. I'm willing to bet this is device-specific and that's why @samreid wasn't able to reproduce. I'll keep this o

[2019-07-29 21:15] #265 closed

[2019-07-29 21:21] zepumph commented on #265
Thanks @lmulhall-phet. I'm good with closing. Do you mind commenting on if this occurs with the dev tools panel not open? I think that that would increase the priority of this bug.

[2019-07-29 21:23] lmulhall-phet commented on #265
The only lagginess I'm experiencing in the recording wrapper is with the dev tools panel. The sim itself performs as if it were the regular sim.

[2019-10-05 15:14] samreid commented on #86
Here's a built version running on mac firefox:
![image](https://user-images.githubusercontent.com/679486/66256939-76eaa580-e750-11e9-9086-114a784c7878.png)

This seems good and comparable to the quality on our other sims, closing.

[2019-10-05 15:14] #86 closed

[2019-10-05 15:21] samreid commented on #103
I published a dev version from master, @KatieWoe can you please check performance on our slowest supported platform (which I think is iPad Air 2)?

https://phet-dev.colorado.edu/html/forces-and-motion-basics/2.4.0-dev.3/phet/forces-and-motion-basics_en_phet.html

[2019-10-05 15:22] samreid commented on #127
Branch deleted, closing.

[2019-10-05 15:22] #127 closed

[2019-10-07 19:20] KatieWoe commented on #103
Looks ok on iOS 11 and Win 7 IE.  iOS 11 had some FPS drops on profiler, but I didn't see anything when using it.

[2019-10-07 19:23] samreid commented on #103
Thanks @KatieWoe, perhaps no further work is necessary for graphics performance optimization.  Closing.

[2019-10-07 19:23] #103 closed

[2019-10-18 19:42] KatieWoe opened #279 "iPadOS 13 highlighting behavior"
Found during https://github.com/phetsims/QA/issues/432, but occurs in published version.  Doesn't seem to happen on iOS 12.  Possible that this is a more general issue, but I've noticed it the most in this sim.  When you hold down your finger the page will appear to highlight non-existent text in the upper left corner.  It will even seem to give a copy/paste option.  Found mostly on the last 3 scr

[2019-10-18 19:51] jessegreenberg commented on #279
This is probably an issue for all sims. "on-existent text in the upper left corner" sounds a lot like our PDOM, but a11y isn't enabled in any version of FAMB.

[2019-10-18 23:51] jessegreenberg commented on #279
I am not seeing this with iPadOS 13.1.3 in Safari.

[2019-10-21 16:12] KatieWoe commented on #279
It was iPadOS 13.1.3.  I saw it in one or two other sims as well.

[2019-10-21 16:59] megan-phet commented on #279
I found the same issue for curve-fitting, so it might be an iOS 13 issue.
If you try to drag a new point while the top is selected, the top will actually come down.

![Kapture 2019-10-21 at 10 52 39](https://user-images.githubusercontent.com/40698031/67225910-42821500-f3f1-11e9-8943-b51d3c82b13e.gif)

[2019-10-21 17:27] jessegreenberg commented on #279
OK, thanks for the information. Im going to move to scenery since this is a general problem.

[2019-12-11 19:21] jessegreenberg opened #280 "Use TimeControlNode for Play/Pause/Step buttons"
From phetsims/scenery-phet#561. A scenery-phet/TimeControlNode was created that combines the PlayPauseButton and StepForwardButton and includes PhET-iO and PDOM instrumentation. It should be used in this sim. Assigning to responsible dev.

[2020-01-24 18:08] zepumph opened #281 "Redesign PhET-iO API"
Slim down tandems and thoughtfully design the api.

This is for research with a client. Dates: Dev version 3/31/2020; Data collection begins May 2020

[2020-09-02 21:42] zepumph commented on #273
From this issue it seems like the bug that got MR'ed to all other sims did not get hit in this branch. There is no priority to work on this sim anytime in the future, and I believe that this sim is being used by clients out in the wild.

From @ariel-phet's comment:

It seems like we aren't going to go back and fix this. Closing

[2020-09-02 21:42] #273 closed

[2020-09-29 16:11] samreid opened #282 "Improve valueType for AnimationStateIO"
During https://github.com/phetsims/tandem/issues/211 I noted this TODO.  I decided to move it to this issue.  It may not need attention at the moment, but I'll assign to @zepumph since he is listed as author of the file.

[code]

[2020-10-01 00:16] zepumph commented on #282
Unassigning until phet-io work in FAMB continues.

[2020-10-23 17:47] brooklynlash opened #283 "Sim does not pause when changing tabs on Firefox"
**Test device**
Lenovo ThinkPad

**Operating System**
Windows 10

**Browser**
Firefox

**Problem description**
When changing through tabs with the sim running, the sim continues running and makes the "clapping" noises while in another tab.

**Visuals**
https://drive.google.com/file/d/1UVAbzK06crMGu3si-ndlX3gagQWnBBee/view?usp=sharing

Troubleshooting information:
!!!!! DO NOT EDIT !!!!!
Name: ‪For

[2020-10-23 18:25] brooklynlash commented on #283
Only observed on Firefox, Chrome and Edge work fine. If you change tabs on Edge or Chrome while the sound is playing it continues to play but if before that it pauses the sim.

[2020-10-24 00:03] jbphet commented on #283
I'm only guessing, because it wasn't made clear in the description, but I think this was assigned to me because it is the sound that continues when switching screens.  However, this sim does not use our most recent sound library (tambo), and the older library didn't handle muting of sounds when switching screens.  The right way to address this would be to upgrade FAMB to use tambo, but that doesn'

[2020-11-03 17:20] oliver-phet opened #284 "User request: quantized friction slider"

[2020-11-03 17:30] ariel-phet commented on #284
@arouinfar although I don't think it is appropriate to have this slider be "quantized" we could consider making it a more discrete slider for experiment repetition. I feel like that would be a relatively easy change. Add some tick marks, make things more snappy (might be a good change for description in the future).

[2020-11-05 14:43] arouinfar commented on #284
Agreed @ariel-phet. For experiment repetition, I'd go with an 11-tick slider and snap the thumb to the tick marks.

![image](https://user-images.githubusercontent.com/8419308/98254810-f6d9d500-1f39-11eb-98fc-0eefbd1b023e.png)

I don't think we have any sliders where the thumb snaps in the neighborhood of a tick, but is continuous elsewhere. Either it is continuous or it is snappy. We should discus

[2021-01-21 16:27] KatieWoe opened #285 "CT value should be instanceof Object value = null"
[code]

[2021-01-21 23:13] jessegreenberg commented on #285
Trying to hit this in state wrapper, I first hit
![image](https://user-images.githubusercontent.com/6396244/105423630-e3bed300-5c13-11eb-82ae-cb612cce7d4a.png)

It is trying to check
[code]
in Item.step. Value in wrapper is null. I don't see anywhere in sim where value is set to null, so must be something related to conveying the Property value over state.

[2021-01-22 00:00] zepumph commented on #282
Because of https://github.com/phetsims/forces-and-motion-basics/issues/285 and the creation of ObjectLiteralIO in https://github.com/phetsims/phet-io/issues/1616, @jessegreenberg  and I were able to get rid of AnimationStateIO. I'm going to close this issue.

[2021-01-22 00:00] #282 closed

[2021-01-22 00:04] jessegreenberg commented on #285
This was resolved in the above commit, the phetioType for ActionStateProperty's value needed to be ObjectLiteralIO rather than ObjectIO. Related to phetsims/phet-io#1616.

[2021-01-22 00:04] #285 closed

[2021-03-11 17:25] samreid opened #286 "Republish with PhET-iO"
A client pointed out a problem in customizing a saved state with stacked objects.  This problem seems corrected in master, but we need to prepare a version for delivery.

@kathy-phet can you please advise about priority and scheduling?

UPDATE: Labeling for phet-io meeting to make sure it stays on our radar.

[2021-04-12 16:42] KatieWoe opened #287 "CT passed-in thumbNode must have the correct tandem"
[code]

[2021-04-30 18:52] oliver-phet commented on #174
Just to document, another user requested a timer.

[2021-05-06 20:35] jessegreenberg commented on #254
This has been re-deleted for https://github.com/phetsims/special-ops/issues/198

[2021-05-06 20:35] jessegreenberg commented on #253
This has been re-deleted for https://github.com/phetsims/special-ops/issues/198

[2021-05-06 20:36] jessegreenberg commented on #188
No need to keep this now, it can be deleted.

[2021-05-06 20:36] #188 closed

[2021-05-06 20:37] jessegreenberg commented on #127
Re-deleted for https://github.com/phetsims/special-ops/issues/198

[2021-09-09 18:57] zepumph commented on #286
In PhET-iO meeting today, we noted this is not a priority right now.

[2021-09-17 17:51] oliver-phet opened #288 "User request: Add stop watch"
Assigning to @arouinfar for evaluation.

[2021-09-22 21:00] oliver-phet opened #289 "User request: new team colors (color customization)"
ON: This request is very specific (and there's likely not any combination of colors that don't have consequences in some community), but I'm posting an issue because this seems to be another example where having additional customization options would be useful to our users.

[2021-09-23 21:58] jessegreenberg commented on #280
The API for StepButton changed and isPlayingProperty was replaced with enabledProperty. When TimeControlNode is used in this sim the setting of enabledProperty can be removed because it is the default behavior for TimeControlNode.

[2021-10-12 17:00] KatieWoe opened #290 "CT tried to removeListener on something that wasn't a listener"
[code]

[2022-05-11 17:31] oliver-phet opened #291 "User suggestion: "newtons""

[2022-05-16 22:08] arouinfar commented on #291
The user is correct, the SI unit for force is lowercase "newton".  The only place "Newton" appears in the sim is in the Applied Force NumberControl. Elsewhere, it is just the abbreviated "N".
![Screen Shot 2022-05-16 at 4 02 13 PM (2)](https://user-images.githubusercontent.com/8419308/168690113-baefb010-c9df-4dfb-b707-0310258b7fd8.png)

I do not think this is something that needs to be fixed in a

[2022-05-16 22:43] jessegreenberg commented on #291
As maintenance releases go, this one is potentially very fast since it is just a string update. I don't see "Newtons" in any other strings file in the project (though there is one case in phet-io API documentation that should likely be changed).

Over slack @arouinfar said it was OK to proceed with one.

[2022-05-16 23:16] jessegreenberg commented on #291
Change made above, but I am not sure if there are impacts from deploying phet-io brand to production...Once I hear it is OK from the PhET-iO team Ill go ahead with the deploy command.

[2022-05-17 02:00] jessegreenberg commented on #291
I assumed this would be easy but the build tools are giving me trouble:

1) I could not use chipper 2.0 build process because the version of chipper for FAMB was so old, so I had to use https://github.com/phetsims/phet-info/blob/master/deployment-info/chipper-1.0.md instead.
2) I tried to patch the `2.3-phetio` branch as well but could not build the phet-io version because `phet-io-wrapper-sonific

[2022-05-17 16:56] arouinfar commented on #291
Sounds like a headache @jessegreenberg. Based on this experience, would you recommend avoiding publishing maintenance releases for similarly old sims in the future?

[2022-05-17 17:13] jessegreenberg commented on #291
I would not have recommended it if I had known 😆

But I think this identified a problem with our maintenance tooling and that seems important to get to the bottom of. If this can be fixed, single sim maintenance releases like this should still take little to no time in the future.

[2022-05-17 19:08] arouinfar commented on #291
Good to know! Hopefully, the unexpected work will make things smoother in the future.

[2022-05-17 21:01] jessegreenberg commented on #291
OK https://github.com/phetsims/chipper/issues/1248 is the resultant issue. But I redeployed this sim and the units change can be seen on the website.

@oliver-phet can you please let the user know?

[2022-05-17 21:28] oliver-phet commented on #291
Email to user sent.

[2022-05-17 21:28] #291 closed

[2022-05-24 17:59] jessegreenberg opened #292 "Hide `left` and `right` strings from translation in 2.3"
From @RVieyra over slack: A user reported that there are unused strings that look buggy in the translation utility for this sim. See "left" and "right" and how `left` is incorrectly shown twice.
<img width="261" alt="Screen Shot 2022-05-24 at 11 10 35 AM (1)" src="https://user-images.githubusercontent.com/6396244/170101231-ed51180c-c40a-4b2c-9814-589ccaa0f701.png">

These strings are currently unu

[2022-05-24 18:28] #292 closed

[2022-05-25 17:11] KatieWoe opened #293 "CT Negative spacing more than a cell's size causes issues with layout"
[code]

[2022-06-01 21:13] jessegreenberg commented on #293
I think it is because of this negative spacing:

[code]

That is where the assertion comes from. The height of the contents are less than one so that matches the error message.

[2022-06-01 21:21] jessegreenberg commented on #293
Removing the spacing option alltogether seems to work OK. I think this was added as a slight pixel polish. Adjusting it slightly seems acceptable to me. Issue resolved, closing.

[2022-06-01 21:21] #293 closed

[2022-06-03 19:44] arouinfar opened #294 "PhET-iO design review"
FAMB is a high priority for a PhET-iO client, but it is an older style of implementation. I will review the current state of the tree and tag issues here.

Since it's not yet scheduled for developer time, I won't assign the resulting issues to the devs, but tagging @samreid and @jessegreenberg to keep them in the loop.

[2022-06-03 20:37] samreid opened #295 "Estimate development effort for next phet-io milestone"
@kathy-phet requested an estimate of developer hours to prepare the next phet-io milestone.  I said:

But I also opened this issue to put it on my todo list.

[2022-06-06 16:43] KatieWoe opened #296 "CT Assertion failed: cannot set state while setting state"
[code]

[2022-06-07 22:09] arouinfar commented on #295
@samreid I've completed an in-depth review of the Net Force screen. It's taken about 2.5 hours, and I estimate it will take a similar amount of time to complete the remaining 3 screens (since they are all similar). I plan to continue that tomorrow. My notes can be found in the [PhET-iO doc](https://docs.google.com/document/d/1WG5-UTd7Bx0SwBiIv8OQVsKAbsWOEzlrFrWbEWQYSDk/edit#). I'd be happy to meet

[2022-06-09 15:56] zepumph commented on #296
see https://github.com/phetsims/phet-io-wrappers/issues/441

[2022-06-13 14:37] samreid commented on #295
I provided a development effort estimate in the slack thread, closing.

[2022-09-01 15:22] KatieWoe opened #297 "CT required tandems must be supplied"
[code]